docker-compose.yml
Dockerfile
node_modules/
.cache
.pytest_cache
aws-ip-ranges.json
.git
*~
*env/
.idea/
.ebextensions/
.elasticbeanstalk/
.python-version
.python-cmd
*.DS_Store/
.egg-info/
DEBUGLOG-*
