zc.recipe.egg==2.0.4
splinter==0.7.3
requests==2.9.1
six==1.11.0
Mako==1.0.4
MarkupSafe==0.23
PasteDeploy==1.5.2
Pillow==3.1.1
PyBrowserID==0.10.0
PyJWT==1.5.3
SPARQLWrapper==1.7.6
SQLAlchemy==1.0.12
WSGIProxy2==0.4.2
WebOb==1.6.0
WebTest==2.0.20
antlr4_python3_runtime==4.5.2.1
apipkg==1.4
attrs==16.3.0
awscli==1.14.8
bcrypt==2.0.0
beautifulsoup4==4.4.1
boto==2.48.0
boto3==1.4.8
cffi==1.6.0
collective.recipe.cmd==0.11
collective.recipe.modwsgi==2.1
collective.recipe.template==1.13
colorama==0.3.3
coverage==4.0.3
cryptacular==1.4.1
docutils==0.12
elasticsearch==5.4.0
elasticsearch_dsl==5.3.0
execnet==1.4.1
future==0.15.2
glob2==0.4.1
hexagonit.recipe.download==1.7.1
humanfriendly==1.44.5
isodate==0.5.4
jmespath==0.9.0
jsonschema_serialize_fork==2.1.1
keepalive==0.5
loremipsum==1.0.5
lucenequery==0.1
mr.developer==1.38
netaddr==0.7.18
parse==1.6.6
parse_type==0.3.4
passlib==1.6.5
pbkdf2==1.3
psutil==4.1.0
psycopg2==2.7.3
py==1.4.31
pyasn1==0.1.9
pycparser==2.14
pyparsing==2.1.1
pyramid==1.6a2
pyramid_localroles==0.1
pyramid_multiauth==0.8.0
pyramid_tm==0.12.1
pyramid_translogger==0.1
pytest==2.9.1
pytest_bdd==2.16.1
pytest_cov==2.2.1
pytest_exact_fixtures==0.1
pytest_instafail==0.3.0
pytest_mock==0.11.0
pytest_runner==4.0
pytest_splinter==1.7.2
pytest_timeout==1.0.0
pytest_xdist==1.14
python_dateutil==2.5.1
python_magic==0.4.12
pytz==2016.3
rdflib_jsonld==0.3
repoze.debug==1.0.2
repoze.lru==0.6
rfc3987==1.3.5
rsa==3.3
rubygemsrecipe==0.2.2
rutter==0.2
s3transfer==0.1.12
selenium==2.53.1
simplejson==3.8.2
strict_rfc3339==0.6
subprocess_middleware==0.3
transaction==1.4.4
translationstring==1.3
urllib3==1.14
waitress==0.8.10
wheel==0.29.0
xlrd==0.9.4
xlwt==1.2.0
zope.deprecation==4.1.2
zope.interface==4.1.3
zope.sqlalchemy==0.7.6
