files:
  "/etc/httpd/conf.modules.d/00-mpm.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        # previously, mpm_prefork was used by default:
        # LoadModule mpm_prefork_module modules/mod_mpm_prefork.so

        # change to mpm_event. Similar to mpm_worker
        # https://modwsgi.readthedocs.io/en/develop/user-guides/processes-and-threading.html#the-unix-worker-mpm
        LoadModule mpm_event_module modules/mod_mpm_event.so
        ServerLimit 8
        StartServers 3
        ThreadsPerChild 25
        MaxRequestWorkers 200
        MaxSpareThreads 125
        MinSpareThreads 50
        MaxConnectionsPerChild 1000
        Timeout 75
        KeepAlive On
        # KeepAliveTimeout changed from 75 to 15
        KeepAliveTimeout 15
        MaxKeepAliveRequests 500
