files:
  "/etc/httpd/conf.modules.d/00-mpm.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        # use prefork mpm. XXX: No longer supported on EB. -will 3/6/20
        # event mpm may be best for mod_wsgi, but doesn't seem to work with EB
        LoadModule mpm_prefork_module modules/mod_mpm_prefork.so

        # For convenience, also set the following Apache directives here
        # Find some Apache config tips for Elasticbeanstalk below:
        # https://aws.amazon.com/premiumsupport/knowledge-center/apache-backend-elb/
        StartServers 20
        MaxRequestWorkers 20
        ServerLimit 20
        MaxConnectionsPerChild 1000
        # set Timeout higher than idle timeout on load balancer
        # should match RequestReadTimeout set in ../conf.d/mod_reqtimeout.conf
        Timeout 62
        KeepAlive On
        # set KeepAliveTimeout higher than Timeout
        KeepAliveTimeout 63
        MaxKeepAliveRequests 100
        LogFormat "%{X-Forwarded-For}i %h %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" combined
