files:
  "/etc/httpd/conf.modules.d/00-mpm.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
        # previously, mpm_prefork was used by default:
        # LoadModule mpm_prefork_module modules/mod_mpm_prefork.so

        # change to mpm_worker
        # https://modwsgi.readthedocs.io/en/develop/user-guides/processes-and-threading.html#the-unix-worker-mpm
        LoadModule mpm_worker_module modules/mod_mpm_worker.so
        ServerLimit 4
        StartServers 2
        MaxClients 80
        MinSpareThreads 20
        MaxSpareThreads 80
        ThreadsPerChild 20
        MaxRequestsPerChild 1000
