packages:
  yum:
    git: []
    postgresql93-devel: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libtiff: []
    littlecms: []
    ruby-devel: []
    bsdtar: []
    graphviz: []

container_commands:
  01_nodejs_install:
    command: curl --silent --location https://rpm.nodesource.com/setup_4.x | sudo bash - && yum install nodejs -y
  02_bootstrap:
    command: "source /opt/python/run/venv/bin/activate && python bootstrap.py --buildout-version 2.4.1 --setuptools-version 18.1"
  03_buildout:
    command: "source /opt/python/run/venv/bin/activate && bin/buildout"
  04_secret_key:
    command: cat /dev/urandom | head -c 256 | base64 > session-secret.b64
option_settings:
  "aws:elasticbeanstalk:application:environment":
     "ENCODED_VERSION" : "v41.1-64-gc92d662-patch2849ebe"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "src/encoded/static/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: parts/production/wsgi
