packages:
  yum:
    git: []
    postgresql93-devel: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libtiff: []
    ruby-devel: []
    bsdtar: []
    graphviz: []

container_commands:
  01_nodejs_install:
    command: curl --silent --location https://rpm.nodesource.com/setup_4.x | sudo bash - && yum install nodejs -y
  02_bootstrap:
    command: "source /opt/python/run/venv/bin/activate && python bootstrap.py --buildout-version 2.4.1 --setuptools-version 18.1 & > /tmp/deploy.log"
  03_buildout:
    command: "source /opt/python/run/venv/bin/activate && bin/buildout & >> /tmp/deploy.log"
  04_secret_key:
    command: cat /dev/urandom | head -c 256 | base64 > session-secret.b64
  05_elastic_search_mapping:
    command: "bin/create-mapping production.ini --app-name app & >> /tmp/deploy.log"
    leader_only: true
  06_elastic_search_index:
    command: "bin/index-annotations production.ini --app-name app & >> /tmp/deploy.log" 
  07_load_dummy_data:
    command: "bin/load-data production.ini --app-name app & >> /tmp/deploy.log"
option_settings:
  "aws:elasticbeanstalk:application:environment":
     "ENCODED_VERSION" : "v41.1-74-g4f5b55f"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "src/encoded/static/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: parts/production/wsgi
