files:
   "/etc/filebeat/filebeat.yml":
      mode: "000755"
      owner: root
      group: root
      content: |
        filebeat:
         prospectors:
          - input_type: log
            fields_under_root: true
            document_type: eb-commands
            fields:
              env: ${ENV_NAME}
            paths:
              - /var/log/eb-commandprocessor.log
          - input_type: log
            paths:
              - /var/log/eb-version-deployment.log
            fields:
              env: ${ENV_NAME} 
            fields_under_root: true
            ignore_older: 3h
            document_type: eb-version-deployment
          - input_type: log
            paths:
               - /var/log/eb-activity.log
            fields:
               env: ${ENV_NAME} 
            fields_under_root: true
            ignore_older: 3h
            document_type: eb-activity
          - input_type: log
            paths:
               - /var/log/deploy.log
            fields:
               env: ${ENV_NAME} 
            fields_under_root: true
            ignore_older: 3h
            document_type: ff_deploy_log 
          - input_type: log
            paths:
               - "/var/log/httpd/*"
            fields:
            env: ${ENV_NAME} 
            fields_under_root: true
            ignore_older: 3h
            document_type: apache 
         registry_file: /var/lib/filebeat/registry
         processors:
            - add_cloud_metadata:
        output:
           elasticsearch: 
              hosts: ["https://search-fourfront-mastertest-wusehbixktyxtbagz5wzefffp4.us-east-1.es.amazonaws.com"]
commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-5.3.0-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -ivh --replacepkgs filebeat-5.3.0-x86_64.rpm"
    cwd: /home/ec2-user
  5_command:
    command: "/etc/init.d/filebeat start"
