packages:
  yum:
    git: []
    postgresql93-devel: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libtiff: []
    ruby-devel: []
    bsdtar: []
    graphviz: []
    mod24_ssl: []

container_commands:
  01_nodejs_install:
    command: curl --silent --location https://rpm.nodesource.com/setup_7.x | sudo bash - && yum install nodejs -y && node --version
  015_setup_wsgi_home:
    command: "mkdir -p /home/wsgi && chown wsgi:wsgi /home/wsgi"
  02_setup_apache:
    command: cp .ebextensions/encoded-apache.conf /etc/httpd/conf.d/encoded-apache.conf
  03_make_buildout_config_for_beanstalk:
    command: "source /opt/python/run/venv/bin/activate && python deploy/generate_buildout_cfg.py >> /var/log/deploy.log"
  04_bootstrap:
    command: "source /opt/python/run/venv/bin/activate && python bootstrap.py --buildout-version 2.4.1 --setuptools-version 18.1 > /var/log/deploy.log"
  05_buildout:
    command: "source /opt/python/run/venv/bin/activate && bin/buildout -c beanstalk.cfg  >> /var/log/deploy.log"
  06_secret_key:
    command: cat /dev/urandom | head -c 256 | base64 > session-secret.b64
  07_elastic_search_mapping:
    test: test -z "$SKIP_MAPPING"
    command: "bin/create-mapping production.ini --app-name app  >> /var/log/deploy.log"
    leader_only: true
  09_load_dummy_data:
    command: "bin/load-data production.ini --app-name app --access-key s3  >> /var/log/deploy.log"
    leader_only: true
option_settings:
  "aws:elasticbeanstalk:application:environment":
     "LC_ALL" : "en_US.UTF-8"
     "LANG" : "en_US.UTF-8"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "src/encoded/static/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: parts/production/wsgi
