packages:
  yum:
    git: []
    gcc-c++: []
    httpd24-devel-2.4.25-1.68.amzn1.x86_64: []

files:
  "/tmp/update-wsgi.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      # update mod_wsgi version
      # https://serverfault.com/a/885445
      # https://modwsgi.readthedocs.io/en/develop/user-guides/quick-installation-guide.html
      cd /tmp
      wget -q "https://github.com/GrahamDumpleton/mod_wsgi/archive/4.6.5.tar.gz" && \
      tar -xzf '4.6.5.tar.gz' && \
      cd mod_wsgi-4.6.5/ && \
      sudo ./configure --with-python=/opt/python/run/venv/bin/python3.4 && \
      sudo make && \
      sudo make install && \
      sudo service httpd restart
      sudo make clean

commands:
  mod_wsgi_update:
    command: /tmp/update-wsgi.sh  >> /var/log/mod_wsgi_update.log
    cwd: /tmp
