files:
  "/opt/elasticbeanstalk/hooks/configdeploy/pre/99patchwsgi.py": &file
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env python
      import os
      import sys
      sys.path.append(os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath(__file__)))))
      import config

      def main():
        if 'EB_SYSTEM_STARTUP' in os.environ:
          return
        try:
          WSGI_STAGING_CONFIG = config.get_container_config('wsgi_staging_config')
          config.execute(['mkdir', '-p', '/etc/httpd/wsgi.conf.d'])
          config.execute(['sed', '-i', '/\<VirtualHost \*:80\>/a IncludeOptional /etc/httpd/wsgi.conf.d/*.conf', WSGI_STAGING_CONFIG])
        except Exception, e:
          config.emit_error_event(config.USER_ERROR_MESSAGES['badappconfig'])
          config.diagnostic('Error patching wsgi.conf during configdeploy/pre: %s' % str(e))
          sys.exit(1)

      if __name__ == '__main__':
        config.configure_stdout_logger()
        main()
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99patchwsgi.py": *file
  "/etc/httpd/wsgi.conf.d/extra_config.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      Header always set Access-Control-Allow-Origin "*"
      Header always set Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
      Header always set Access-Control-Allow-Headers "Accept, Origin, Range, X-Requested-With"
      Header always set Access-Control-Expose-Headers: "Content-Length, Content-Range, Content-Type"
      RewriteCond %{REQUEST_METHOD} OPTIONS
      RewriteRule ^ - [redirect=200,last]

      KeepAliveTimeout 75
      # No need for embedded interpreters

      # Indexer. Configure first to avoid catchall '/'
      WSGIDaemonProcess encoded-indexer user=wsgi group=wsgi processes=1 threads=1 display-name=encoded-indexer
      WSGIScriptAlias /_indexer /opt/python/current/app/parts/production-indexer/wsgi process-group=encoded-indexer application-group=%{GLOBAL}

      # https://github.com/GrahamDumpleton/mod_wsgi/issues/2
      SetEnvIf Request_Method HEAD X_REQUEST_METHOD=HEAD
      LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" %{X-Stats}o&server_time=%D" vhost_combined_stats
      ErrorLogFormat "%M"
