files:
  "/opt/elasticbeanstalk/local/override_wsgi_conf.py":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env python
      # This file creates a Python script that runs on appdeploy and configdeploy
      # pre hooks to override the WSGI config file
      # See https://forums.aws.amazon.com/thread.jspa?threadID=163369

      import os
      import sys
      sys.path.append(os.path.dirname(
          os.path.dirname(os.path.dirname(os.path.abspath(__file__)))))
      import config

      # remove old wsgi configuration hook
      old_wsgi_hook = '/opt/elasticbeanstalk/hooks/configdeploy/pre/99patchwsgi.py'
      if os.path.exists(old_wsgi_hook):
          os.remove(old_wsgi_hook)

      MY_APACHE_TEMPLATE = '''
      # Customized wsgi.conf.  If you're seeing this, good!

      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On

      <VirtualHost *:80>
      # this stuff was previously in /etc/httpd/wsgi.conf.d/extra_config.conf
      Header always set Access-Control-Allow-Origin "*"
      Header always set Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
      Header always set Access-Control-Allow-Headers "Accept, Origin, Range, X-Requested-With"
      Header always set Access-Control-Expose-Headers: "Content-Length, Content-Range, Content-Type"
      RewriteCond %{REQUEST_METHOD} OPTIONS
      RewriteRule ^ - [redirect=200,last]

      # Timeout, KeepAlive, and MaxKeepAliveRequests set to reduce memory usage
      # KeepAliveTimeout changed from 75 to 15
      Timeout 75
      KeepAlive On
      KeepAliveTimeout 15
      MaxKeepAliveRequests 100

      # Indexer. Configure first to avoid catchall '/'
      WSGIDaemonProcess encoded-indexer user=wsgi group=wsgi processes=1 threads=1 display-name=encoded-indexer
      WSGIScriptAlias /_indexer /opt/python/current/app/parts/production-indexer/wsgi process-group=encoded-indexer application-group=%{GLOBAL}

      # https://github.com/GrahamDumpleton/mod_wsgi/issues/2
      SetEnvIf Request_Method HEAD X_REQUEST_METHOD=HEAD
      LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" %{X-Stats}o&server_time=%D" vhost_combined_stats
      ErrorLogFormat "%M"

      Alias /static/ /opt/python/current/app/src/encoded/static/
      <Directory /opt/python/current/app/src/encoded/static/>
      Order allow,deny
      Allow from all
      </Directory>

      WSGIScriptAlias / /opt/python/current/app/parts/production/wsgi

      <Directory /opt/python/current/app/>
        Require all granted
      </Directory>

      WSGIDaemonProcess wsgi processes=2 threads=10 display-name=%{GROUP} \
        python-path=/opt/python/current/app:/opt/python/run/venv/lib64/python3.4/site-packages:/opt/python/run/venv/lib/python3.4/site-packages user=wsgi group=wsgi \
        home=/opt/python/current/app
      WSGIProcessGroup wsgi
      </VirtualHost>

      LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
      '''


      def main():
          try:
              WSGI_STAGING_CONFIG = config.get_container_config('wsgi_staging_config')
              print 'Overriding WSGI configuration in %s' % WSGI_STAGING_CONFIG
              open(WSGI_STAGING_CONFIG, 'w').write(MY_APACHE_TEMPLATE)
          except Exception, e:
              config.emit_error_event(config.USER_ERROR_MESSAGES['badappconfig'])
              config.diagnostic("Error generating config during configdeploy/pre: %s"
                                % str(e))
              sys.exit(1)


      if __name__ == '__main__':
          config.configure_stdout_logger()
          main()

commands:

  1_app_deploy_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/pre"

  2_config_deploy_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/configdeploy/pre"

  3_app_deploy_file:
    command: "cp -p /opt/elasticbeanstalk/local/override_wsgi_conf.py /opt/elasticbeanstalk/hooks/appdeploy/pre/90_override_wsgi_conf.py"

  4_config_deploy_file:
    command: "cp -p /opt/elasticbeanstalk/local/override_wsgi_conf.py /opt/elasticbeanstalk/hooks/configdeploy/pre/90_override_wsgi_conf.py"
