files:
    "/etc/cron.d/daily-apache-restart":
        mode: "000644"
        owner: root
        group: root
        content: |
            # graceful Apache restart at 8:30 UTC
            30 8 * * * root /sbin/service httpd graceful > /dev/null 2>&1


commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/daily-apache-restart.bak"
