files:
    "/etc/yum.repos.d/mercurial.selenic.com.repo":
        mode: "000644"
        owner: root
        group: root
        content: |
            [mercurial.selenic.com]
            name=mercurial.selenic.com
            baseurl=https://www.mercurial-scm.org/release/centos$releasever
            enabled=1
            # Temporary until we get a serious signing scheme in place,
            # check https://www.mercurial-scm.org/wiki/Download again
            gpgcheck=0