files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_run_npm.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # run npm install and npm build needed for application
            # these were previously run in bin/buildout as part of
            # container_commands in 20_packages.config, but that
            # stopped working.
            # commands taken from buildout.cfg

            cd /opt/python/current/app

            echo "Running NPM install in post-deploy hook 99_run_npm..." >> /var/log/deploy.log
            echo "Running NPM build in 99_run_npm..."

            su -c "npm install --python=/opt/python/run/venv/bin/python" ec2-user >> /var/log/deploy.log

            echo "Running NPM build in 99_run_npm..." >> /var/log/deploy.log
            echo "Running NPM build in 99_run_npm..."

            su -c "npm run build" ec2-user >> /var/log/deploy.log

            echo "Running NPM build-scss in post-deploy hook 99_run_npm..." >> /var/log/deploy.log
            echo "Running NPM build in 99_run_npm..."

            su -c "npm run build-scss" ec2-user >> /var/log/deploy.log

            echo "Finished NPM build in 99_run_npm." >> /var/log/deploy.log
            echo "Finished NPM build in 99_run_npm."
