files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_run_npm.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # run npm install and npm build needed for application
            # these were previously run in bin/buildout as part of
            # container_commands in 20_packages.config, but that
            # stopped working.
            # commands taken from buildout.cfg

            cd /opt/python/current/app

            npm install --python=/opt/python/run/venv/bin/python >> /var/log/deploy.log

            npm run build >> /var/log/deploy.log

            npm run build-scss >> /var/log/deploy.log
