packages:
  yum:
    git: []
    postgresql93-devel: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libtiff: []
    bsdtar: []
    graphviz: []
    mod24_ssl: []
    gcc-c++: []
    gcc: []

container_commands:
  0000_nodejs_install:
    command: "curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash - && yum install nodejs -y && node --version >> /var/log/deploy.log"
  0100_setup_wsgi_home:
    command: "mkdir -p /home/wsgi && chown wsgi:wsgi /home/wsgi"
  0150_setup_venv:
    command: "virtualenv --python python3.6 venv"
  0189_check_pip_version:
    command: "source venv/bin/activate && pip --version"
  0190_mostly_ugprade_pip:
    command: "source venv/bin/activate && pip install --upgrade pip >> /var/log/deploy.log"
  0191_check_pip_version_anew:
    command: "source venv/bin/activate && pip --version"
  0200_install_poetry:
    command: "source venv/bin/activate && pip install poetry >> /var/log/deploy.log"
  0201_install_poetry:
    command: "source venv/bin/activate && poetry --version"
  0210_superstitiously_make_clean:
    command: "make clean"
  0211_debugging_info:
    command: "ls -dal venv/bin/*"
  0212_more_debugging_info:
    command: "echo $PATH"
  0213_still_more_debugging_info:
    command: "source venv/bin/activate && echo $PATH"
  0217_check_pip_state:
    command: "source venv/bin/activate && pip freeze"
  0218_uninstall_setuptools:
    command: "source venv/bin/activate && pip uninstall -y setuptools"
  0219_install_setuptools:
    command: "source venv/bin/activate && pip install setuptools"
  0220_populate_venv:
    command: "source venv/bin/activate && poetry install"
  0221_get_aws_ips:
    command: "make aws-ip-ranges"
  0390_check_path_before_venv:
    command: "echo 'PATH (before activate): '$PATH"
  0400_superstitiously_activate_venv:
    command: "source venv/bin/activate"
  0410_more_debugging_info:
    command: "echo 'PATH (after activate): '$PATH"
  0420_still_more_debugging_info:
    command: "source venv/bin/activate && echo 'PATH (inside venv): '$PATH"
  0470_install_wheel:
    command: "pip install wheel"
  0480_npm_tmp_perms:
    command: "chown -R ec2-user /tmp"
  0490_app_bundle_perms:
    command: "chown -R ec2-user /opt/python/bundle/"
  0500_secret_key:
    command: "cat /dev/urandom | head -c 256 | base64 > session-secret.b64; sleep 0.1; ls -dal session-secret.b64"
  0600_generate_production_ini:
    command: "source venv/bin/activate && python deploy/generate_production_ini.py"
  0690_pip_freeze:
    command: "source venv/bin/activate && pip freeze"
  0691_debugging_info:
    command: "ls -dal venv/lib/python3.6/site-packages/*"
  0694_check_pythonpath_in_venv:
    command: "source venv/bin/activate && echo $PYTHONPATH"
  0696_pip_install_encoded:
    command: "source venv/bin/activate && python setup_eb.py develop"
  0697_pip_freeze:
    command: "source venv/bin/activate && pip freeze"
  0698_debugging_info:
    command: "ls -dal venv/lib/python3.6/site-packages/*"
  0699_check_pythonpath_in_venv:
    command: "source venv/bin/activate && echo $PYTHONPATH"
  0700_clear_db_es_contents:
    command: "source venv/bin/activate && clear-db-es-contents production.ini --app-name app --skip-es --env fourfront-mastertest >> /var/log/deploy.log"
    leader_only: true
  0810_elastic_search_mapping:
    command: "source venv/bin/activate && create-mapping-on-deploy production.ini --app-name app --clear-queue &> /var/log/create_mapping.log"
    leader_only: true
  0820_load_dummy_data:
    command: "source venv/bin/activate && load-data production.ini --app-name app >> /var/log/deploy.log"
    leader_only: true
  0830_load_access_keys:
    command: "source venv/bin/activate && load-access-keys production.ini --app-name app >> /var/log/deploy.log"
    leader_only: true
  0850_npm_install:
    command: "su -c 'pushd `realpath /opt/python/current/app`; npm install --no-fund --no-progress --python=venv/bin/python && npm run build && npm run build-scss; popd' ec2-user >>  /var/log/deploy.log"
  0900_restart_apache:
    command: "echo not doing sudo service httpd stop && echo not doing sudo service httpd start"
  0910_ps_httpd:
    command: "ps auxww | grep 'bin[/]httpd'"
  0910_curl_health_json:
    command: "echo 'curl -s http://localhost/health?format=json; sleep 0.1'"
  0912_curl_health_html:
    command: "echo 'curl -s http://localhost/health; sleep 0.1'"

option_settings:
  "aws:elasticbeanstalk:application:environment":
     "LC_ALL" : "en_US.UTF-8"
     "LANG" : "en_US.UTF-8"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "src/encoded/static/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: parts/production/wsgi
    NumProcesses: 5
    NumThreads: 4
