packages:
  yum:
    git: []
    postgresql93-devel: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libtiff: []
    bsdtar: []
    graphviz: []
    mod24_ssl: []

container_commands:
  00_nodejs_install:
    command: "curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash - && yum install nodejs -y && node --version >> /var/log/deploy.log"
  01_setup_wsgi_home:
    command: "mkdir -p /home/wsgi && chown wsgi:wsgi /home/wsgi"
  02_make_buildout_config_for_beanstalk:
    command: "source /opt/python/run/venv/bin/activate && python deploy/generate_buildout_cfg.py >> /var/log/deploy.log"
  03_makeclean:
    command: "make clean"
  041_install_buildout:
    command: "source /opt/python/run/venv/bin/activate && pip install -U zc.buildout setuptools && /opt/python/run/venv/bin/buildout bootstrap >> /var/log/deploy.log"
  043_bootstrap:
    command: "source /opt/python/run/venv/bin/activate"
  045_ensure_leader_runs_indexing:
    command: "sed -i 's/indexer =.*/indexer = true/' beanstalk.cfg"
    leader_only: true
  046_ensure_leader_runs_mpindexing:
    command: "sed -i 's/mpindexer.*/mpindexer = true/' beanstalk.cfg"
    leader_only: true
  047_install_wheel:
    command: "pip install wheel"
  048_npm_tmp_perms:
    command: "chown -R ec2-user /tmp"
  049_app_bundle_perms:
    command: "chown -R ec2-user /opt/python/bundle/"
  05_secret_key:
    command: cat /dev/urandom | head -c 256 | base64 > session-secret.b64
  06_buildout:
    command: "source /opt/python/run/venv/bin/activate && bin/buildout -c beanstalk.cfg  >> /var/log/deploy.log"
    ignoreErrors: true
  07_clear_db_es_contents:
    command: "bin/clear-db-es-contents production.ini --app-name app --skip-es --env fourfront-mastertest >> /var/log/deploy.log"
    leader_only: true
  081_elastic_search_mapping:
    command: "bin/create-mapping-on-deploy production.ini --app-name app &> /var/log/create_mapping.log"
    leader_only: true
  082_load_dummy_data:
    command: "bin/load-data production.ini --app-name app >> /var/log/deploy.log"
    leader_only: true
  083_load_access_keys:
    command: "bin/load-access-keys production.ini --app-name app >> /var/log/deploy.log"
    leader_only: true
  09_restart_apache:
    command: "sudo service httpd restart"

option_settings:
  "aws:elasticbeanstalk:application:environment":
     "LC_ALL" : "en_US.UTF-8"
     "LANG" : "en_US.UTF-8"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "src/encoded/static/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: /opt/python/current/app/parts/production/wsgi
    NumProcesses: 4
    NumThreads: 2
