packages:
  yum:
    git: []
    postgresql93-devel: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libtiff: []
    bsdtar: []
    graphviz: []
    mod24_ssl: []

container_commands:
  0000_nodejs_install:
    command: "curl --silent --location https://rpm.nodesource.com/setup_10.x | sudo bash - && yum install nodejs -y && node --version >> /var/log/deploy.log"
  0100_setup_wsgi_home:
    command: "mkdir -p /home/wsgi && chown wsgi:wsgi /home/wsgi"
  0189_check_pip_version:
    command: "source /opt/python/run/venv/bin/activate && pip --version"
  0190_mostly_ugprade_pip:
    command: "source /opt/python/run/venv/bin/activate && pip install pip==19.1.1 >> /var/log/deploy.log"
  0191_check_pip_version_anew:
    command: "source /opt/python/run/venv/bin/activate && pip --version"
  0200_install_poetry:
    command: "source /opt/python/run/venv/bin/activate && pip install poetry >> /var/log/deploy.log"
  0201_install_poetry:
    command: "source /opt/python/run/venv/bin/activate && poetry --version"
  0210_superstitiously_make_clean:
    command: "make clean"
  0211_debugging_info:
    command: "ls -dal /opt/python/run/venv/bin/*"
  0212_more_debugging_info:
    command: "echo $PATH"
  0213_still_more_debugging_info:
    command: "source /opt/python/run/venv/bin/activate && echo $PATH"
  0220_populate_venv:
    command: "source /opt/python/run/venv/bin/activate && poetry install >> /var/log/deploy.log"
  0400_superstitiously_activate_venv:
    command: "source /opt/python/run/venv/bin/activate"
  0410_more_debugging_info:
    command: "echo $PATH"
  0420_still_more_debugging_info:
    command: "source /opt/python/run/venv/bin/activate && echo $PATH"
  0470_install_wheel:
    command: "pip install wheel"
  0480_npm_tmp_perms:
    command: "chown -R ec2-user /tmp"
  0490_app_bundle_perms:
    command: "chown -R ec2-user /opt/python/bundle/"
  0500_secret_key:
    command: "cat /dev/urandom | head -c 256 | base64 > session-secret.b64"
  0600_generate_production_ini:
    command: "source /opt/python/run/venv/bin/activate && python deploy/generate_production_ini.py >> /var/log/deploy.log"
    ignoreErrors: true
  0690_pip_freeze:
    command: "source /opt/python/run/venv/bin/activate && pip freeze"
  0691_debugging_info:
    command: "ls -dal /opt/python/run/venv/local/lib64/python3.4/site-packages/*"
  0692_dont_create_encoded_symlink:
    command: "echo 'not doing ln -s /opt/python/current/app/src/encoded /opt/python/run/venv/local/lib64/python3.4/site-packages/encoded'"
  0695_pip_freeze:
    command: "source /opt/python/run/venv/bin/activate && pip freeze"
  0696_debugging_info:
    command: "ls -dal /opt/python/run/venv/local/lib64/python3.4/site-packages/*"
  0700_clear_db_es_contents:
    command: "source /opt/python/run/venv/bin/activate && poetry run clear-db-es-contents production.ini --app-name app --skip-es --env fourfront-mastertest >> /var/log/deploy.log"
    leader_only: true
  0810_elastic_search_mapping:
    command: "source /opt/python/run/venv/bin/activate && poetry run create-mapping-on-deploy production.ini --app-name app &> /var/log/create_mapping.log"
    leader_only: true
  0820_load_dummy_data:
    command: "source /opt/python/run/venv/bin/activate && poetry run load-data production.ini --app-name app >> /var/log/deploy.log"
    leader_only: true
  0830_load_access_keys:
    command: "source /opt/python/run/venv/bin/activate && poetry run load-access-keys production.ini --app-name app >> /var/log/deploy.log"
    leader_only: true
  0900_restart_apache:
    command: "sudo service httpd restart"

option_settings:
  "aws:elasticbeanstalk:application:environment":
     "LC_ALL" : "en_US.UTF-8"
     "LANG" : "en_US.UTF-8"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "src/encoded/static/"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: /opt/python/current/app/parts/production/wsgi
    NumProcesses: 5
    NumThreads: 4
