packages:
  yum:
    git: []
    gcc-c++: []

files:
  "/tmp/update-wsgi.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      # https://stackoverflow.com/questions/33818007/error-building-installing-mod-wsgi-on-aws-elasticbeanstalk-for-django-deployment
      # httpd24 comes with apxs, which is needed to compile mod_wsgi -kmp 9-Mar-2020
      sudo yum install -y httpd24-devel
      # update mod_wsgi version
      # https://serverfault.com/a/885445
      # https://modwsgi.readthedocs.io/en/develop/user-guides/quick-installation-guide.html
      cd /tmp
      wget -q "https://github.com/GrahamDumpleton/mod_wsgi/archive/4.6.5.tar.gz" && \
      tar -xzf '4.6.5.tar.gz' && \
      cd mod_wsgi-4.6.5/ && \
      sudo ./configure --with-python=/opt/python/run/venv/bin/python && \
      sudo make && \
      sudo make install && \
      sudo service httpd restart
      sudo make clean

commands:
  01_mod_wsgi_update:
    command: /tmp/update-wsgi.sh  &> /var/log/mod_wsgi_update.log
    cwd: /tmp
