commands:
    create_post_dir:
      command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
      ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_generate_ontology.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/python/run/venv/bin/activate
      . /opt/python/current/env
      cd /opt/python/current/app
      bin/generate-ontology production.ini --app-name app --s3upload --load --keyfile s3
