
.facet-charts {
    transition: opacity 0.75s;
    opacity : 1;
    margin-top: 50px;
    &.loading {
        opacity : 0.125;
        text-align: center;

        > i {
            font-size: 2rem;
            color: #000;
            position: relative;
        }

    }

    > .chart-breadcrumbs {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .facet-charts-description {
        height : 30px;
        line-height: 30px;
        font-weight: 500;
        position: relative;
    }

    path.clickable {
        cursor : pointer;
    }

    > .facet-chart-row-1 > div {
        transition : width .75s ease-out;
        position: relative;
    }

}

/** Individual and standalone chart styles **/

.chart-container {
    transition: opacity .75s, transform .75s;
    opacity: 1;

    .chart {
        position: relative;
        transition: transform .75s ease-out, top .75s;
    }

    &.no-data {
        opacity: 0;

        .chart {
            transform: scale3d(0.8,0.8,0.8);
        }
    }

    div.y-axis-bottom {
        border-top: 1px solid #aaa;
        position: absolute;
        bottom: 0;
    }

}

.chart {
    position: relative;
}

/** Common Breadcrumbs **/

.chart-breadcrumbs {
    position: relative;
    margin-bottom: 10px;
    height: 26px;
    overflow: visible;
    margin-left: -12px;

    &:before {
        content : '';
        position: absolute;
        z-index: 1;
        height: 54px;
        width: 12px;
        background-color: #fff;
        left: 0;
        top: 0;
    }

    .chart-crumb {
        display: inline-block;
        padding: 0 12px 0 25px;
        position: relative;
        transition: opacity 0.5s;
        color: #fff;
        font-weight: 500;
        height: 26px;
        line-height: 26px;
        margin-bottom: 2px;

        &:not(:first-child) {
            padding-left: 25px;
        }

        &:not(:last-child){
            &:after {
                //content: '\f105';
                content: '';
                //font-family: FontAwesome;
                position: absolute;
                transform: rotateZ(45deg);
                height: 18px;
                width: 18px;
                box-sizing: content-box;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                z-index: 2;
                background-color: inherit;
                right: -11px;
                top: 3px;
                color: #bbb;
            }
        }

        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:last-child {
            //background-color: transparent !important;
            //color: #333;
            //padding-right: 0px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &[data-field="experiments_in_set.biosample.biosource.biosource_type"]{
            text-transform: capitalize;
        }

    }
}

/** Bar Plot Chart Style(s) **/

.bar-plot-chart { // SVG is top-level element rendered by component;
    display: block;
    position: absolute;
    transition: height .75s ease-out;
    //overflow: hidden;

    line.y-axis-top {
        stroke: #ccc;
        stroke-width: 1px;
    }

    line.y-axis-bottom {
        stroke : #aaa;
        stroke-width: 1px;
    }

    div.y-axis-bottom {
        border-top: 1px solid #aaa;
        position: absolute;
        bottom: 0;
    }

    .chart-bar {
        transition: transform .75s ease-out, opacity .5s;
        position: absolute;

        .bar-top-label {
            display: block;
            text-align: center;
            width: 100%;
        }

        &.larger-height .bar-top-label {
            position: absolute;
            top: 50%;
            margin-top: -10px;
            color: #fff;
            z-index: 2;
        }

        .bar-part {
            opacity: 1;
            transition: opacity 0.5s, height .75s, width .75s;
            /*
            &:first-of-type {
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }

            &:last-of-type {
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
            */
        }

        > rect {
            fill-opacity: 1;
            transition : fill-opacity .5s;
        }

    }

    .y-axis-label {
        opacity: 1;
        transition: opacity .5s, transform .75s ease-out;
        position: absolute;

        > .label-text {
            display: block;
            transform-origin: 100% 0;
            text-align: right;
            position: relative;
            font-size: 0.85rem;
            line-height: 1.2rem;
            &.auto-rotation {
                transition: transform 1s, left 1s;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &.highlight {
        .chart-bar > rect {
            fill-opacity: 0.4;
        }
        .chart-bar .bar-part {
            opacity: 0.4;
        }
        .chart-bar.highlight {
            > rect {
                fill-opacity: 1;
            }
            .bar-part {
                opacity: 1;
                &.multiple-parts {
                    opacity : 1;
                }
            }
        }
        .y-axis-label {
            opacity : 0.4;
            &.highlight {
                opacity : 1;
            }
        }
    }

    &:not(.highlight) .chart-bar.highlight {
        .bar-part {
            opacity: 1;
            &.multiple-parts {
                opacity : 0;
                border-radius: 0;
                &.highlight {
                    opacity : 1;
                }
            }
        }
    }
}

/** Sunburst Chart Style(s) **/

.chart-container-sunburst {
    position: relative;
}

.fetching-view {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity : 1;
    background-color: rgba(255,255,255,0.75);
    transition: opacity .5s;
    z-index: 10;
    &.invisible {
        opacity : 0;
        z-index: -1;
    }
    > .inner {
        top: 50%;
        margin-top: -20px;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        > i.icon {
            color: #888;
            font-size: 1.5rem;
        }
    }
}

.chart-container-sunburst .chart,
.chart-sunburst.chart-zoombox {

    position: relative;

    path {
        stroke: #fff;
        transition: opacity 1s;
        opacity : 1;
        position: relative;
        &.removing {
            opacity : 0 !important;
            z-index: -1;
            transition: opacity .75s !important;
        }
        &.root-node {
            fill: #eee !important;
        }
        &.filtered-out {
            opacity : 0.1 !important;
            transition: opacity 1s !important;
        }
        &.term-is-not-set {
            opacity: 0.4;
        }
        &.clickable {
            cursor : pointer;
        }
    }

    svg g.group-container:hover path,
    svg g.group-container.hover path {
        transition: opacity 0.25s;
        opacity: 0.3;
        &:not(.filtered-out){
            //opacity : 0.66;
        }
        &.hover, &.term-is-set {
            opacity: 0.75;
            &.filtered-out {
                opacity : 0.75 !important;
            }
        }
        &:hover {
            opacity: 1;
        }
    }

    .y-axis-top {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        border-bottom: 1px solid #aaa;
        .top-label {
            position: absolute;
            height: inherit;
            text-align: center;
            opacity: 0;
            &.active {
                opacity: 0.5;
                cursor: pointer;
                &:hover {
                    opacity : 0.75;
                }
            }
        }
    }

    circle.bounding-circle {
        opacity : 0;
    }

    .explanation {
        color:#888;
        opacity: 1;
        transition: opacity .3s;
        padding-top: 4px;

        &.align-to-right {
            text-align: right;
            position: absolute;
            right : 0;
            bottom: 0;
            padding-top: 2px;
            border-top: 1px solid #ddd;
        }

        &.invisible {
            opacity: 0;
            transition: opacity 1s;
        }

        .experiments-count {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 300;
            color: rgba(100, 100, 100, 1);
            transition: color 0.3s;
            

            &.invisible {
                opacity: 0;
                transition: opacity 1s;
                
            }
            &.half-visible {
                color: rgba(100, 100, 100, 0.66);
            }
            &:not(.align-to-right){
                display: inline-block;
            }
            
        }

        .experiments-count-label {
            position: relative;
            display: inline-block;
            font-size: 1.125rem;
            line-height: 1rem;
            margin-left: 7px;
            top: -2px;
            transition: opacity 1s;
            opacity : 0.66;
            font-weight: 300;
            &.align-to-right {
                display: block;
                margin-left: 0;
                top: -1px;
            }
            .facet-charts.show-small & {
                font-size: .975rem;
            }
        }

    }

    .explanation-old {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        width: 140px;
        text-align: center;
        color:#888;
        z-index: -1;
        opacity: 1;
        transition: opacity .3s;

        &.invisible {
            opacity: 0;
            transition: opacity 1s;
        }

        .experiments-count {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 300;
            color: rgba(100, 100, 100, 1);
            transition: color 0.3s;

            .facet-charts.show-large & {
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 3rem;
            }
            &.invisible {
                opacity: 0;
                transition: opacity 1s;
                
            }
            &.half-visible {
                color: rgba(100, 100, 100, 0.66);
            }
            &:after {
                content: "Experiments";
                position: relative;
                font-size: 1.125rem;
                line-height: 1rem;
                display: block;
                width: 100%;
                text-align: center;
            }
            .facet-charts.show-small &:after {
                font-size: .975rem;
            }
        }

    }

}

.chart-container-sunburst:hover .chart .explanation .experiments-count-label {
    opacity : 1;
}


/**** Zoom Cursor ****/


.cursor-zoom-magnifier-container {
    background-color: #fff;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    transition: opacity .25s, transform .05s linear;

    .cursor-zoom-magnifier {
        position: static;

        > .inner {
            position: absolute;
            top: 0;
            left: 0;
            transition : transform .05s linear;
        }

    }

}