
/************** Styles for FacetList ***************/

.facets-container {
    padding-top: 0;
    padding-bottom: 2px;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    border: 1px solid #e8e8e8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    //border-radius: 3px;

    /*
    .browse-page-container & {
        margin-top: 38px;
    }
    */

    .facets-header {
        padding-top: ($grid-gutter-width / 2);
        padding-bottom: ($grid-gutter-width / 2);
        border-bottom: 1px solid #eee;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        color: #111;
        .facets-title-column {  top : -1px; }
        .facets-title {
            font-weight: 300;
            margin: 0;
            line-height: inherit;
            color: inherit;
            display: inline;
        }
    }

    &.with-header-bg .facets-header {
        background-color: #22656d; //#388a92;
        border-top: inherit;
        border-left: inherit;
        border-right: inherit;
        border-bottom: none;
        color: #fff;
        height: 46px;

        &.row {
            margin-left: ($grid-gutter-width / -2) - 1;
            margin-right: ($grid-gutter-width / -2) - 1;
            margin-top: -1px;
        }
    }

}

@media screen and (max-width: $screen-sm-min) {
    .sm-no-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .facets.horizontal .facet {
        width: auto !important;
    }
}
@media screen and (min-width: $screen-sm-min) {
    .facets.horizontal {
        .facet {
            width: 50% !important;
            padding: 0 10px;
            float: left;
        }
    }
}
@media screen and (min-width: $screen-lg-min) {
    .facets.horizontal {
        display: table;
        width: 100%;
        .facet {
            width: initial !important;
            display: table-cell;
            float: none;
        }
        .facet[hidden] {
            display: table-cell !important;
            visibility: hidden;
        }
    }
}

.clear-filters-control {
    margin: 1px 0;
    text-align: right;
    font-size: 0.9rem;
    opacity: 1;
    transition: opacity .25s;
    position: relative;
    > a:not(.btn) {
        color: #999999;
        text-decoration: none;
    }
    &.placeholder {
        opacity : 0;
        visibility: visible !important;
        z-index: -10;
    }
}

.clear-filters-control-matrix {
    @extend .clear-filters-control;
    text-align: center;
    margin-top: 5px;
}

.facet {
    overflow: hidden;
    padding-top: 9px;
    padding-bottom: 8px;

    &.row {
        // .row not for inner columns, used for margin offset
        padding-left : 10px;
        padding-right : 10px;
        &.active-submission-row {
            position: relative;
            z-index: 5;
        }
    }

    &:not(:last-child) {
        border-bottom: 1px solid #f4f4f4;
    }

    &:last-child {
        margin-bottom: 0;
        &.static {
            margin-bottom: -2px;
        }
    }

    h5.facet-title {
        margin: 0 0 3px;
        font-weight: 500;
        line-height: inherit;
        @include font-size(0.925);

        > i.icon-info-circle {
            margin-left: 6px;
            opacity: 0.25;
            transition: opacity .5s;
            &:hover {
                opacity: 0.75;
            }
        }
    }

    &.static {
        padding-bottom: 5px; // Extra 2px + account for margin-bottom: 5px in .facet-title/.facet-item
    }

    &:not(.static) {
        transition: padding-bottom .35s ease, background-color .35s ease;
        transform: translate3d(0,0,0);
        background-color: transparent;
        h5.facet-title {
            margin : -1px 0 0;
            padding: 0 0 8px;
            border-bottom: 1px solid #f8f8f8;
            cursor: pointer;
            > span.expand-toggle > i.icon {
                font-size: 0.7rem;
                margin-right: 7px;
            }

            .closed-terms-count {
                position: relative;
                transition: top .35s ease-out, opacity .35s ease;
                top: 1px;
                font-weight: 300;
                color: #707070;
                font-size: 0.75rem;
                line-height : 1.25rem;
                margin-right: 5px;
                > i {
                    margin-right: 2px;
                    margin-right: 1.5px;
                }
            }
        }
        &.open:not(.closing) {
            h5.facet-title .closed-terms-count {
                top : 9px;
            }
        }
        &.closed, &.closing {
            padding-bottom: 0px;
            background-color: #fcfcfc;
            border-bottom-color: #f0f0f0;
            h5.facet-title {
                font-weight: 400;
            }
        }
        &.closed {
            h5.facet-title {
                border-bottom: none;
            }
        }
    }

    // Will have .facet-static-row if only one term -OR- .facet-list if multiple.
    // Contents have same/similar classes (representing content) but must be styled differently.

    .facet-static-row {

        .facet-title,
        .facet-item {
            display: inline-block;
            margin-bottom: 4px;
            width: 50%;
        }

        .facet-title {
            padding-right: 10px;
            margin-top: 0;
            float: left;
            min-width: 33%;

            &:after{
                content : "";
            }
        }

        .facet-item {
            padding-left: 12px;
            padding-left: 12.5px;
            vertical-align: top;
            float: right;
            text-align: right;
            @include font-size(0.925);
            @include no-user-select();

            span {
                cursor: pointer;
                i.icon {
                    font-size: .5rem;
                    vertical-align: text-top;
                    line-height: 1.15rem;
                    opacity: 0.05;
                    width: 25px;
                    margin-left: -25px;
                }
            }

            span:hover {
                text-shadow: 0 0 0;
                i.icon {
                    opacity: 0.5;
                }
            }

            &.selected span i.icon {
                opacity: 1 !important;
                color : #248bac;
                font-size: 0.825rem;
            }

            &.filtering span i.icon {
                opacity: 0.33 !important;
                color : #888 !important;
                font-size: 0.825rem;
            }

        }
    }

    &.all-single-term {
        .facet-item {
            text-align: left;
            width: 50%;
        }
    }

    .facet-list {
        margin: 0;
        padding-top: 8px;

        li {
            margin-bottom: 1px;
            position: relative;
            @include font-size(0.875);
            line-height: 1rem;

            i {
                line-height: 14px;
            }

            > a {
                border-radius: 3px;
                padding: 4px 3px 1px 24px;
                text-decoration: none;
                display: block;
                position: relative;
                color: #888;

                i.icon.icon-circle-o-notch { opacity: 0.33; }

                &:hover{
                    color: #000000;
                    background-color: #f1f7f9;
                }
                &.highlight {
                    color  : #fff !important;
                    transition : background-color .5s;
                }

                .facet-count {
                    position: absolute;
                    right: 0;
                    padding-right: inherit;
                }

            }

            &.selected > a {
                text-decoration: none;
                color: #f8f8f8;
                background-color: $facetlist-selected-term-color;
                &:hover {
                    color: #fff;
                    .facet-item, .facet-count {
                        text-shadow: 0px 0px 0px #fff;
                    }
                }
            }

            .facet-item {
                display:inline-block;
                overflow: hidden;
                margin-right: 30px;
            }

        }

        .view-more-button {
            cursor: pointer;
            font-size: 0.85rem;
            border: 1px solid #888;
            padding: 0 6px;
            line-height: 24px;
            margin-top: -5px;
            border-radius: 2px;
            &:hover {
                border-color: #000;
            }

            i.icon {
                font-size: 0.8rem;
            }
        }

        
    }

    // Hide 'Data Type' : 'Item'
    &[data-field="type"] .facet-list {
        li[data-key="Item"]{
            display: none;
        }
    }

    /* .facet */
    /* Capitalize facet terms belonging to certain 'safe-to-capitalize' facets */
    &[data-field="experiments_in_set.biosample.biosource.individual.organism.name"] .term,
    &[data-field="experiments_in_set.biosample.biosource.biosource_type"] .term,
    &[data-field="experiments_in_set.biosample.biosource_summary"] .term {
        text-transform: capitalize;
    }
}

.facet-entry {
    >a{
        text-decoration: none;
        display: block;
        color: #999999;
        margin-left: 10px;
        &:hover{
            color: #000000;
        }
    }
}

.facet-entry-container.selected{
    background-color: #87c487;
}

.facet-entry a.selected{
    color: #000000 !important;
}


.facet-count{
	margin-left: 10px;
    margin-right: 5px;
}

.facet-list button {
    padding: 0;
}

.facet-list button.btn.collapsed:before {
    content:'+ VIEW ALL' ;
    text-decoration: none;
    color: #999999;
    @include font-size(0.85);
    float: left;
    &:hover{
        text-decoration: none;
    }
}

.facet-list button.btn:before {
    content:'- VIEW FEWER' ;
    text-decoration: none;
    color: #999999;
    @include font-size(0.85);
    float: left;
    &:hover{
        text-decoration: none;
    }
}

.facet-list label {
    margin: 0;
}

.accession {
    position: relative;
    @include font-size(1.2);
    font-weight: bold;
    z-index: 0;

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.accession-note {
    @include font-size(0.9);
    font-weight: normal;

    a[href^="http"]:after {
        @include font-size(0.9);
    }
}

.type {
    @include font-size(0.9);
    font-weight: normal;
    color: #808080;
}

.search-meta {
    position: relative;
    padding: 2px 5px;
    text-align: right;
    z-index: 1;

    p {
        color: #909090;
        margin: 0;
        line-height: 1.2;
        text-align: right;

        &.meta-audit {
            margin: 3px 0;

            .audit {
                margin: 0 3px;
                padding: 0;
                border: none;
                background-color: transparent;
                @include font-size(1.3);
            }
        }
    }
}

.meta-title {
    margin-bottom: 7px !important;
    @include font-size(1.1);
    color: #606060 !important;
}

.meta-status {
    font-weight: bold;
}

div.meta-status {
    text-align: right;
}

.highlight-row {
    font-size: 1.1rem;
    font-weight: bold;
}

.data-row {
    margin-left: 25px;
    margin-bottom: 10px;
}

.data-row ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    margin-left: 25px;
}

.data-row ul li {
    display: inline;
    list-style-type: none;
    border: none;
    margin-right: 5px;
}

.data-row ul li a{
    display: inline;
}

.data-row img {
    max-width: 128px;
    height: auto;
    margin: auto;
    display: block;
}

.main-panel {
    position: relative;
    z-index: 0;
}

// Styles for publication listing

.list-author {
    margin: 0;
    @include font-size(1.1);
}

.list-citation {
    margin: 0;
    @include font-size(0.9);
}

.list-reference {
    display: inline;
    margin: 0 !important;
    @include font-size(0.9);
}

.list-supplementary {
    margin: 0;
    padding: 5px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;

    &:first-child {
        border-top: 1px solid #e8e8e8;
    }

    button.btn-link {
        margin-left: 5px;
        padding: 0;
        font-size: inherit;
        vertical-align: baseline;
        border: none;
    }
}

.facet-selector{
    margin-left: -20px;
}
