/*     FORMS      */
/* Input Fields */
$inputBorder: #999999;
$inputFocusBgColor: #ffffff;
$inputFocusBorderColor: #000000;

#content form {
	margin-bottom: 1em;
	@include clearfix;
}

.form-control {
	padding: 4px 6px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	font-family: inherit;
	@include font-size(1);
	font-weight: normal;
	@include transition(all 0.15s linear);

	&[disabled] { background-color: #ddd; }

	@media (min-width: $screen-sm-min) {
		font-size: inherit;
	}
}

// Navbar search
.navbar-form.navbar-right {
	position: relative;
	#navbar-search {
		font-size: 1em;
		width: 140px;
		color: rgba(0,0,0,0.5);
		border-radius: 3px;
		border: 1px solid rgb(125,125,125);
		height: inherit;
		padding: 4px 5px 3px 5px;
		-ms-transition: width 0.3s ease-out;
		-moz-transition: width 0.3s ease-out;
		-webkit-transition: width 0.3s ease-out;
		transition: width 0.3s ease-out;
		@media (max-width: $screen-xs-max) {
			width: 100%;
			display: block;
		}
	}
	@media (min-width: $screen-sm-min) {
		#navbar-search {
			margin-top: -4px;
			font-size: 1em;
			margin-left: 15px;
			border: 1px solid rgba(125,125,125,0.5);
		}
		&.has-input #navbar-search,
		#navbar-search:focus {
			width: 300px;
			color: rgba(0,0,0,1.0);
			border-color: rgba(125,125,125,1.0);
			@include transition(width 0.3s ease-out);
		}
	}
	i.reset-button {
		position: absolute;
		top: 50%;
		margin-top: -8px;
		right: 18px;
		opacity: 0.33;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
		@media (max-width: $screen-xs-max) {
			right: 32px;
		}
	}
	&:not(.has-query){
		&:after{
			content : "\f002";
			font-family: FontAwesome, "Font Awesome";
			line-height: 14px;
			position: absolute;
			top: 50%;
			margin-top: -8px;
			right: 18px;
			opacity: 0.25;
			@media (max-width: $screen-xs-max) {
				right: 32px;
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		padding-left : 25px;
		padding-right: 25px;
	}
	.checkbox.toggle-all-items-search {
		display: none;
		line-height: 40px;
	}
	@media (min-width: $screen-sm-min) {
		&.has-query,
		&.has-input {
			.checkbox.toggle-all-items-search {
				display: inline-block;
				margin-left: 30px;
			}
		}
	}
}

.form-inline,
.navbar-form {
	.form-control {
		display: inline-block;
		outline: none !important;
		box-shadow: none;

	}
}

// large text inputBorder
.input-lg {
	@include font-size(1.42, true);
	font-weight: normal;
    height: 36px !important;
    line-height: 30px !important;
    padding: 4px 6px !important;
}

// Clear Table Filter button/icon
.filter {
	padding-right: 30px !important;
}
.clear-input-icon {
	position: absolute;
	right: 10px;
	top: 11px;
	z-index: 100;
	line-height: 100%;
	height: 100%;
	color: rgb(223,223,223);
	@include font-size(1.1);
	cursor: pointer;
}

.clear-input-icon:active {
	color: rgb(203,203,203);
}

.red {
	border-color: red !important;
	color: red;
}

.dropzone {
	@extend .form-control;
	height: auto;
	text-align: center;
	.drop {
		min-height: 50px;
	}
	input[type="file"] {
		display: inline;
	}
}

.item-picker {
	@include clearfix;
	@extend .form-control;
	height: auto;
	.item-picker-preview {
		overflow: hidden;
		.result-table > li {
			margin: 4px 6px;
			border: none;
		}
		.clear {
			float: right;
		}
	}
	> .btn {
		margin-left: 1em;
	}
	&.disabled {
	    cursor: not-allowed;
	    background-color: $input-bg-disabled;
	}
}

.collapsible {
	padding-left: 20px;
	position: relative;
	.collapsible-trigger {
		position: absolute;
		top: 12px;
		left: 0;
		cursor: pointer;
	}
}


/**********************************************************
		Editable Fields & FieldSets (e.g. in User.js)
***********************************************************/

.fieldset.editable-fields,
.editable-fields-container {

	&.editing {

		.editable-field-entry:not(.editing) {
			filter: blur(0.75px) grayscale(75%);
			opacity: 0.75;
			pointer-events: none;
		}

	}
}



div.fieldset.editable-fields {

	padding-bottom: 15px;

	@media screen and (min-width: $screen-md-min){
		// Transition is too laggy on (some) mobile
		transition: padding-bottom .5s linear;
	}

	&.editing {
		padding-bottom: 0px;
	}

}

.editable-field-entry,
.field-entry {

	label {
		margin-bottom: 0;
		font-weight: 500;
	}

	.value {
		word-break : break-all;
		padding-bottom: 10px;

		.not-set {
			color: #bbb;
		}

	}

	&.row {

		> ul,
		> div.value > ul {
			margin: 0;
			padding: 0;
			padding-left: 20px;

			> li {
				list-style-position: outside;

				> i.icon {
					position: relative;
					top: 1px;
					color: #d2d2d2;
				}
			}

		}

	}

}


.editable-field-entry {
	opacity: 1;
	min-height: 30px;

	@media screen and (min-width: $screen-sm-min){
		transition: filter .75s, opacity .5s, min-height .5s linear;
	}

	.value {

		.edit-button,
		.cancel-button,
		.save-button,
		.field-loading-icon {
			padding: 0 6px;
			line-height: 100%;
			height: 100%;
			vertical-align: middle;
			&.right { display: block; }

			> i.icon {
				vertical-align: inherit;
				height: inherit;
				line-height: inherit;
			}
		}

		.cancel-button,
		.save-button {
			padding-top: 9px;
			font-size: 1.1em;
			margin-bottom: -10px;
			position: relative;
			z-index: 4;

			&:hover {
				color: #000;
			}
		}

		.cancel-button {
			color : $state-danger-text;
		}

		.save-button {
			color : $state-success-text;
		}

		.field-loading-icon {
			color : #bbb;
		}

		&.editing .field-loading-icon {
			padding-top: 9px;
			margin-bottom: -10px;
		}

		.edit-button {
			color: transparent;
			&.right {
				transform: translateY(2px);
			}
			&.inline {
				position: absolute;
				margin-top: -5px;
				padding: 0;
				height: 20px;
				width: 20px;
				text-align: center;
				border-radius: 50%;
			}
		}

		&:hover .edit-button {
			color : #aaa;
			&.inline { background-color: rgba(255,255,255,0.5); }
			&:hover {
				color: #000;
			}
		}

	}

	&.editing {

		&:not(.inline){
			min-height: 45px;
		}

		.edit-button { visibility: hidden; }

		span.input-wrapper {
			@media screen and (min-width: $screen-sm-min){
				margin-bottom : -100px; // For min-height transition (prevent jumping).
			}
			margin-right: 75px; // Room for action icons/buttons.
			display: block;
			position: relative;
			z-index: 2;

			input[type=text],
			input[type=number],
			input[type=email],
			input[type=tel] {
				margin-top: 3px;
				display: block;
				margin-bottom: 0px;
				width: 100%;
				position: relative;
				z-index: 3;
			}

			span.help-block {
				font-size: .85rem;
				padding: 5px 3px 7px;
				margin: 0;
				background-color: #fff;
				border-bottom: 1px solid #eee;
				box-shadow: 0 10px 15px 0px rgba(255,255,255,0.75);
				word-break: break-word;
				transition: opacity .35s .15s;
			}

			span.tip-block {
				font-size: .85rem;
				padding: 5px 3px 7px;
				margin: 0;
				background-color: #fff;
				border-bottom: 1px solid #eee;
				box-shadow: 0 10px 15px 0px rgba(255,255,255,0.75);
				word-break: break-word;
				transition: opacity .35s .15s;
			}

		}

		&.inline {
			display: inline-block;
			position: relative;

			span.input-wrapper {
				display: inline-block;
				margin-bottom: 0px;
				vertical-align: top;
				span.help-block {
					position: absolute;
					width: 100%;
				}
				span.tip_block {
					position: absolute;
					width: 100%;
				}
			}

			&.block-style {
				.value.ghost {
					opacity: 0.5;
				}
				.value.editing {
					position: absolute;
					z-index: 10;
					width: 280px;
					top: -2px;
					/* left: 0; */
					background: rgba(250,250,250,0.9);
					/* box-shadow: 0 1px 10px -3px rgba(0,0,0,0.25); */
					padding-bottom: 3px;
					padding: 0 2px 2px 2px;
					border-radius: 5px;
					border: 1px solid #eee;
					/* border-bottom-color: #ddd; */
				}
				span.input-wrapper span.help-block span.tip-block{
					position: absolute;
					background: none;
					border-bottom: none;
					box-shadow: none;
					padding: 8px 5px 6px;
				}
				&.has-error span.input-wrapper span.help-block span.tip-block{
					position: relative;
				}
			}

			.save-button,
			.field-loading-icon {
				position: absolute;
				right: 36px;
			}
			.cancel-button {
				position: absolute;
				right: 6px;
			}

			&.input-size-lg {
				.save-button,
				.cancel-button,
				.field-loading-icon {
					padding-top: 12px;
					font-size: 1.25rem;
				}
				.field-loading-icon {
					height: auto;
					padding-top: 11px;
				}
			}

		}

	}

	&.editing.row.has-error,
	&.editing.inline.has-error:not(.block-style) {
		min-height: 80px;

		span.help-block {
			opacity : 1;
		}
	}

	&.editing:not(.has-error) {

		span.help-block {
			opacity : 0;
			position: absolute;
			transition: opacity .35s, color .5s .5s !important;
		}
	}

}

/************ TOGGLE SWITCH *************/
// Generated via https://proto.io/freebies/onoff/

.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E3E3E3; border-radius: 20px;
	height: 20px;
	margin: 0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #46A9EB; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 20px;
    border: 2px solid #E3E3E3; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
