/*     FORMS      */
/* Input Fields */
$inputBorder: #999999;
$inputFocusBgColor: #ffffff;
$inputFocusBorderColor: #000000;

#content form {
	margin-bottom: 1em;
	@include clearfix;
}

.form-control {
	padding: 4px 6px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	font-family: inherit;
	@include font-size(1);
	font-weight: normal;
	@include transition(all 0.15s linear);

	&[disabled] { background-color: #ddd; }

	@media (min-width: $screen-sm-min) {
		font-size: inherit;
	}
}

// Navbar search
.navbar-form.navbar-right {
	position: relative;
	margin-top: -1px;
	#navbar-search {
		font-size: 1em;
		width: 140px;
		color: rgba(0,0,0,0.5);
		border-radius: 3px;
		border: 1px solid rgb(125,125,125);
		height: inherit;
		padding: 4px 5px 3px 5px;
		-ms-transition: width 0.3s ease-out;
		-moz-transition: width 0.3s ease-out;
		-webkit-transition: width 0.3s ease-out;
		transition: width 0.3s ease-out;
		@media (max-width: $screen-xs-max) {
			width: 100%;
			display: block;
		}
	}
	@media (max-width: $screen-sm-max) {
		line-height: normal;
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #ccc;
	}
	@media (min-width: $screen-sm-min) {
		margin-left: -20px;
		#navbar-search {
			margin-top: 0px;
			font-size: 1em;
			margin-left: 5px;
			border: 1px solid rgba(125,125,125,0.5);
		}
		&.has-input #navbar-search,
		#navbar-search:focus {
			width: 180px;
			color: rgba(0,0,0,1.0);
			border-color: rgba(125,125,125,1.0);
			@include transition(width 0.3s ease-out);
		}
	}
	@media (min-width: $screen-lg-min) {
		&.has-input #navbar-search,
		#navbar-search:focus {
			width: 300px;
		}
	}
	i.reset-button {
		position: absolute;
		top: 50%;
		margin-top: -6px;
		right: 18px;
		opacity: 0.33;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
		@media (max-width: $screen-xs-max) {
			right: 32px;
		}
	}
	.search-icon-button {
		display: none;
	}
	&:not(.has-query){
		.search-icon-button {
			display: block;
			line-height: 14px;
			position: absolute;
			top: 50%;
			margin-top: -11px;
			right: 12px;
			opacity: 0.25;
			border: none;
			background: none;
			padding: 4px 4px 2px;

			@media (max-width: $screen-xs-max) {
				right: 32px;
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		padding-left : 25px;
		padding-right: 25px;
	}
	.dropdown.btn-group {
		@media (max-width: $screen-xs-max) {
			display: none;
		}
		#search-item-type-selector {
			display: inline-block;
			z-index: -1000;
			border-radius: 3px;
			padding: 4px 24px 4px 10px;
			max-width: 118px;
			.caret {
				margin-left: 2px;
			}
		}
	}
	
	.dropdown:not(.open) #search-item-type-selector:not(:hover):not(:active):not(.active){
		background-color: transparent;
		border-color: #ddd;
	}
	@media (min-width: $screen-sm-min) {
		&.has-query,
		&.has-input {
			.dropdown.btn-group {
				#search-item-type-selector {
					display: inline-block;
					margin-left: 0px;
					z-index: 1;
				}
			}
		}
	}
}

.form-inline,
.navbar-form {
	.form-control {
		display: inline-block;
		outline: none !important;
		box-shadow: none;

	}
}

// large text inputBorder
.input-lg {
	@include font-size(1.42, true);
	font-weight: normal;
    height: 36px !important;
    line-height: 30px !important;
    padding: 4px 6px !important;
}

// Clear Table Filter button/icon
.filter {
	padding-right: 30px !important;
}
.clear-input-icon {
	position: absolute;
	right: 10px;
	top: 11px;
	z-index: 100;
	line-height: 100%;
	height: 100%;
	color: rgb(223,223,223);
	@include font-size(1.1);
	cursor: pointer;
}

.clear-input-icon:active {
	color: rgb(203,203,203);
}

.red {
	border-color: red !important;
	color: red;
}

.dropzone {
	@extend .form-control;
	height: auto;
	text-align: center;
	.drop {
		min-height: 50px;
	}
	input[type="file"] {
		display: inline;
	}
}

.item-picker {
	@include clearfix;
	@extend .form-control;
	height: auto;
	.item-picker-preview {
		overflow: hidden;
		.result-table > li {
			margin: 4px 6px;
			border: none;
		}
		.clear {
			float: right;
		}
	}
	> .btn {
		margin-left: 1em;
	}
	&.disabled {
	    cursor: not-allowed;
	    background-color: $input-bg-disabled;
	}
}

.collapsible {
	padding-left: 20px;
	position: relative;
	.collapsible-trigger {
		position: absolute;
		top: 12px;
		left: 0;
		cursor: pointer;
	}
}


/**********************************************************
		Editable Fields & FieldSets (e.g. in User.js)
***********************************************************/

.fieldset.editable-fields,
.editable-fields-container {

	&.editing {

		.editable-field-entry:not(.editing) {
			filter: blur(0.75px) grayscale(75%);
			opacity: 0.75;
			pointer-events: none;
		}

	}
}



div.fieldset.editable-fields {

	padding-bottom: 15px;

	@media screen and (min-width: $screen-md-min){
		// Transition is too laggy on (some) mobile
		transition: padding-bottom .5s linear;
	}

	&.editing {
		padding-bottom: 0px;
	}

}

.editable-field-entry,
.field-entry {

	label {
		margin-bottom: 0;
		font-weight: 500;
	}

	.value {
		word-break : break-all;
		padding-bottom: 10px;

		.not-set {
			color: #bbb;
		}

	}

	&.row {

		> ul,
		> div.value > ul {
			margin: 0;
			padding: 0;
			padding-left: 20px;

			> li {
				list-style-position: outside;

				> i.icon {
					position: relative;
					top: 1px;
					color: #d2d2d2;
				}
			}

		}

	}

}


.editable-field-entry {
	opacity: 1;
	min-height: 30px;

	@media screen and (min-width: $screen-sm-min){
		transition: filter .75s, opacity .5s, min-height .5s linear;
	}

	.value {

		.edit-button,
		.cancel-button,
		.save-button,
		.field-loading-icon {
			padding: 0 6px;
			line-height: 100%;
			height: 100%;
			vertical-align: middle;
			&.right { display: block; }

			> i.icon {
				vertical-align: inherit;
				height: inherit;
				line-height: inherit;
			}
		}

		.cancel-button,
		.save-button {
			padding-top: 9px;
			font-size: 1.1em;
			margin-bottom: -10px;
			position: relative;
			z-index: 4;

			&:hover {
				color: #000;
			}
		}

		.cancel-button {
			color : $state-danger-text;
		}

		.save-button {
			color : $state-success-text;
		}

		.field-loading-icon {
			color : #bbb;
		}

		&.editing .field-loading-icon {
			padding-top: 9px;
			margin-bottom: -10px;
		}

		.edit-button {
			color: transparent;
			&.right {
				transform: translateY(2px);
			}
			&.inline {
				position: absolute;
				margin-top: -5px;
				padding: 0;
				height: 20px;
				width: 20px;
				text-align: center;
				border-radius: 50%;
			}
		}

		&:hover .edit-button {
			color : #aaa;
			&.inline { background-color: rgba(255,255,255,0.5); }
			&:hover {
				color: #000;
			}
		}

	}

	&.editing {

		&:not(.inline){
			min-height: 45px;
		}

		.edit-button { visibility: hidden; }

		span.input-wrapper {
			@media screen and (min-width: $screen-sm-min){
				margin-bottom : -100px; // For min-height transition (prevent jumping).
			}
			margin-right: 75px; // Room for action icons/buttons.
			display: block;
			position: relative;
			z-index: 2;

			input[type=text],
			input[type=number],
			input[type=email],
			input[type=tel] {
				margin-top: 3px;
				display: block;
				margin-bottom: 0px;
				width: 100%;
				position: relative;
				z-index: 3;
			}

			span.help-block {
				font-size: .85rem;
				padding: 5px 3px 7px;
				margin: 0;
				background-color: #fff;
				border-bottom: 1px solid #eee;
				box-shadow: 0 10px 15px 0px rgba(255,255,255,0.75);
				word-break: break-word;
				transition: opacity .35s .15s;
			}

			span.tip-block {
				font-size: .85rem;
				padding: 5px 3px 7px;
				margin: 0;
				background-color: #fff;
				border-bottom: 1px solid #eee;
				box-shadow: 0 10px 15px 0px rgba(255,255,255,0.75);
				word-break: break-word;
				transition: opacity .35s .15s;
			}

		}

		&.inline {
			display: inline-block;
			position: relative;

			span.input-wrapper {
				display: inline-block;
				margin-bottom: 0px;
				vertical-align: top;
				span.help-block {
					position: absolute;
					width: 100%;
				}
				span.tip_block {
					position: absolute;
					width: 100%;
				}
			}

			&.block-style {
				.value.ghost {
					opacity: 0.5;
				}
				.value.editing {
					position: absolute;
					z-index: 10;
					width: 280px;
					top: -2px;
					/* left: 0; */
					background: rgba(250,250,250,0.9);
					/* box-shadow: 0 1px 10px -3px rgba(0,0,0,0.25); */
					padding-bottom: 3px;
					padding: 0 2px 2px 2px;
					border-radius: 5px;
					border: 1px solid #eee;
					/* border-bottom-color: #ddd; */
				}
				span.input-wrapper span.help-block span.tip-block{
					position: absolute;
					background: none;
					border-bottom: none;
					box-shadow: none;
					padding: 8px 5px 6px;
				}
				&.has-error span.input-wrapper span.help-block span.tip-block{
					position: relative;
				}
			}

			.save-button,
			.field-loading-icon {
				position: absolute;
				right: 36px;
			}
			.cancel-button {
				position: absolute;
				right: 6px;
			}

			&.input-size-lg {
				.save-button,
				.cancel-button,
				.field-loading-icon {
					padding-top: 12px;
					font-size: 1.25rem;
				}
				.field-loading-icon {
					height: auto;
					padding-top: 11px;
				}
			}

		}

	}

	&.editing.row.has-error,
	&.editing.inline.has-error:not(.block-style) {
		min-height: 80px;

		span.help-block {
			opacity : 1;
		}
	}

	&.editing:not(.has-error) {

		span.help-block {
			opacity : 0;
			position: absolute;
			transition: opacity .35s, color .5s .5s !important;
		}
	}

}

/************ TOGGLE SWITCH *************/
// Generated via https://proto.io/freebies/onoff/

.onoffswitch {
    position: relative; width: 40px;
    @include user-select(none);
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E3E3E3; border-radius: 20px;
	height: 20px;
	margin: 0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #46A9EB; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 20px;
    border: 2px solid #E3E3E3; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}








/***************************************************
*********** Submission & Edit View	****************
****************************************************/

// FOR REUSE ELSEWHERE LATER - FILLS HEIGHT OF RELATIVE CONTAINER
@mixin vertically-centered-content-button {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 56px;
	text-align: center;
	color: #333;
	transition: background-color .5s;
	&:hover {
		cursor: pointer;
		color: #000;
	}
	> i.icon {
		font-size: 1.25rem;
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: 50%;
		margin-left: -7px;
	}
}




// Alias Input Multi-Field
@mixin alias-input-fields {
	.input-group {
		.dropdown.input-group-btn {
			width: 20%;
			> button#aliasFirstPartInput {
				width: 100%;
				border-right: none;
				box-shadow: none;
				outline: none;
				padding-left: 24px;
				padding-right: 8px;
				span.caret {
					opacity: 0.33;
					left: 10px;
					right: unset;
				}
				small.pull-left {
					margin-top: 2px;
					opacity: 0.5;
				}
			}
			&:hover, &:focus, &:active, &.focus, &.active {
				> button {
					span.caret {
						opacity: 1;
					}
					small.pull-left {
						margin-top: 2px;
						opacity: 1;
					}
				}
			}
		}
		.input-group-addon.alias-lab-single-option {
			background: #fff;
			padding-left: 24px;
			padding-right: 5px;
		}
		.input-group-addon.colon-separator {
			font-weight: 700;
			border-left: none;
			border-right: none;
			background-color: #fff;
			padding-left: 3px;
			padding-right: 3px;
			& + input{
				border-left: none;
				padding-left: 8px;
				&:focus {
					border-color: #aaa;
					box-shadow: inset -2px 1px 1px rgba(0,0,0,0.075), 3px 0 8px rgba(0,0,0,0.1);
				}
			}
		}
	}
}

// Modal forms

.submission-view-modal {
	.modal-content {
		.input-wrapper {
			@include alias-input-fields;
		}
	}
}

.submission-view-page-container {
	.warning-banner {
		border-top: 1px solid #eee;
		color: #606060;
		position: relative;
		line-height: 1.25rem;
		> .row > div {
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}

	.form-section-heading {
		font-size: 1.125rem;
		font-weight: 500;
		margin-top: 10px;
		padding-bottom: 8px;
		border-bottom: 1px solid #ccc;
		color: #333;
	}

	.crumbs-title {

		min-height: 75px;

		.submission-working-title {
			font-weight: 400;
			font-size: 1.45rem;
			transform-origin: 0 50%;
			transition: transform .5s, opacity 0.5s;
			> span {
				/*
				> span, > i {
					vertical-align: middle;
				}
				*/
				.working-subtitle {
					font-weight: 300;
					color: #777;
					padding-right: 1px;
				}
				> i.icon {
					margin-right: 3px;
					font-size: 1.2rem;
					transform: rotate3d(0,1,0,180deg);
					margin-top: 0;
					opacity: 0.5;
					margin-left: -25px;
				}
			}
		}

		.title-crumb {

			.next-property-name {
				color: #777;
				font-weight: 400;
				font-size: 1rem;
				transition: opacity .3s;
				margin-top: -2px;
				/* display: inline-block; */
				margin-right: 5px;
				position: relative;
				top: -1px;
				display: block;
				margin-top: -18px;

			}
			
			&.mid-title {
				.submission-working-title {
					> span {
						cursor: pointer;
					}
					opacity: 0.75;
					transform: scale3d(0.8, 0.8, 1) translate3d(0px, -3px, 0px);
					i.icon-caret-right {
						opacity: 0.5;
					}
					
					&:hover {
						opacity: 1;
						i.icon-caret-right {
							opacity: 1;
						}
					}
					
				}
				&.depth-level-0 {
					.submission-working-title {
						.working-subtitle {
							color: #000;
						}
					}
				}
			}
			&.last-title {
				.submission-working-title {
					font-weight: 500;
					transform: translate3d(0px, 0px, 0px);
				}
			}

			@for $i from 0 through 4 {
				&.depth-level-#{$i} {
					padding-left: 20px * $i;
				}
			}

		}

		

	}

	.action-buttons-container {
		position: relative;
		z-index: 5;
		> button {
			min-width: 100px;
			&:not(:last-child){
				margin-right: 10px;
			}
		}
		button[disabled]{
			pointer-events: all;
		}
	}

	.form-fields-container,
	.round-two-panel {

		.submission-field-header {
			border-bottom: 1px solid #ccc;
			padding-bottom: 8px;
			margin-bottom: 0px;
			margin-top: 10px;
			> button {
				margin-right: 10px;
				margin-top: -2px;
				line-height: 19px;
				border: none;
			}
		}

		div.field-row {
			position: relative;
			&:hover {
				z-index: 100;
			}
			&:not(:last-child){
				border-bottom: 1px solid #f4f4f4;
			}

			&.in-array-field {
				padding-top: 8px;
				padding-bottom: 8px;
			}

			.field-container {
				min-height: 50px;
				padding-top: 8px;
				padding-bottom: 8px;

				.submitted-linked-object-display-container,
				.incomplete-linked-object-display-container,
				.notice-message {
					padding-top: 8px;
					padding-bottom: 8px;
				}

				.notice-message {
					color: #999;
				}

			}

			.submission-field-title {
				margin: 0 !important;
				font-weight: 500;
				padding-top: 18px;
				@media screen and (min-width: $screen-md-min) {
					text-align: right;
				}

				.field-descriptor {
					position: absolute;
					top: 4px;
					font-size: 0.825rem;
					color: rgba(0,0,0,0.25);
					transition: color .5s; 
					font-weight: 400;
					.array-indicator {
						margin-left: 2px;
						opacity: 0.75;
					}
				}

				.add-array-item-button {
					margin-top: -2px;
					margin-bottom: -2px;
					margin-left: 6px;
				}

				i.icon-info-circle {
					margin-left: 10px;
					color: rgba(0,0,0,0.25);
					transition: color .5s;
				}
			}

			&:hover {
				.submission-field-title {
					.field-descriptor {
						color: rgba(0,0,0,0.66);
					}
				}
				i.icon-info-circle {
					color: rgba(0,0,0,1);
				}
			}

			.remove-button-column {
				.remove-button-container {
					> button {
						font-weight: 400;
					}
				}
			}

			

			// Override array-containing field style to have no padding as it recursively will render field items with their own padding (so don't double-pad).
			&[data-field-type="array"] {
				> div > div > .row.field-container {
					padding-top: 0;
					padding-bottom: 0;

					// Fields containing arrays
					.array-field-container {
						min-height: 50px;
						&.even {
							background-color: #f4f4f4;
						}
						&:not(:last-child){
							border-bottom: 1px solid #ddd;
						}

						// Row in field of in-array object rows
						.in-array-field[data-field-type="object"] .field-row {
							.submission-field-title {
								padding-top: 8px;
							}
							button.select-create-linked-item-button {
								width: 115px;
							}

							&:first-child {
								.row.field-container {
									padding-top: 0;
									min-height: 0;
								}
							}
						}
					}

					.add-array-item-button-container {
						padding-top: 8px;
						padding-bottom: 8px;
						padding-right: 10px;
						> button {
							padding-left: 9px;
							font-weight: 400;
							> i {
								position: relative;
								top: 1px;
							}
						}
					}

				}
			}

			// Override aliases field style re: AliasInputField
			&[data-field-name="aliases"]{
				.input-wrapper {
					@include alias-input-fields;
					.dropdown.input-group-btn {
						width: 30% !important;
					}
				}
			}

			.select-create-linked-item-button {
				width: 160px;
				margin-right: 10px;
			}

		}

	}

}

// SUBMISSION STUFF



.submission-nav-tree{
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #fff;
	> h4{
		text-align: center;
		font-weight: 300;
		margin-top: 0px;
	}
}

.submission-nav-leaf{
	width: 100%;
	> div > button{
		border: none;
		border-radius: 0px;
		width: 20px;
		height: 19px;
		opacity: 1 !important;
	}
}

.submission-pop-icon{
	background-color: #fff;
	padding: 1px 5px;
	a:hover, a:active {
		text-decoration: none !important;
		color: #000000;
	}
	a{
		padding: 3px 5px 0px 5px;
	}
}


.submission-hidden-nav{
	display: none;
}

