/***********************************************************
Custom Classes & Styling for Item Pages (e.g. Experiment Sets)
************************************************************/

.item-page-container {
	/** Override margin-bottom for margin pages so accession and title are close to each other **/
	h1.page-title {
		margin-bottom: 2px;
	}
}

@media screen and (min-width: $screen-md-min){
	/* Nudge accession #, etc. closer to title on wide desktop views */
	/*
	.item-view-header {
		margin-top: -27px;
	}
	*/

}



/*************************
    Item Page Headings
**************************/


.flexible-description-box {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: height .4s;

	.description-expand-button {
		padding: 0px;
		width: 24px;
		height: 21px;
		margin-left: 6px;
		box-sizing: border-box;
		border: none;
		background: none;
		outline: none;
	}

	p {
		overflow: inherit;
		text-overflow: inherit;
		&:last-child {
			margin-bottom : 0;
		}
	}
}

.item-page-heading {
    /** Extends .flexible-description-box **/
	border-top:1px solid #ccc;
	border-bottom: 1px solid #ccc;
	//min-height: 42px;
	padding: 10px 0px 10px;
	transition: height .4s, border-color .4s;
	text-align: justify;

	h1, h2, h3, h4, h5, h6 { margin: 0; line-height: 20px; }

	h4 {
		font-weight: 500;

		small {
			vertical-align: top;
			line-height: inherit;
			letter-spacing: normal;
		}
	}

	&.no-description {
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
		border-top-color: #eee;
		@media screen and (min-width: $screen-md-min){
			width: 33%;
			float: right;
		}
		& + div.bottom-row {
			clear: both;
		}
	}

	&.expanded {
		border-bottom-color: #ddd;
	}

}

.item-view-header {
	.item-label-title { /* Is some form of header elem, e.g. h3 or h4 */
		font-weight: 300;
		min-height: 30px;
		/* line-height: 36px; */
		margin: 0;
		//padding-top: 10px;
		padding-left: 12px;

		@media screen and (max-width: $screen-xs-max){
			min-height: 42px;
		}

		> div.inner {
			padding-top: 10px;
			> span:not(:last-child){
				padding-right: 8px;
				margin-right: 7px;
				border-right: 1px solid #ccc;
			}
		}

		/*
		.accession-label {
			font-size: 1rem;
			font-weight: 400;
			color: #888;
		}
		*/

		.accession {
			font-weight: 500;
			font-size: 1rem;
		}
	}

	//&.no-description .item-label-title > div.inner {
	//	border-top: 1px solid #ddd;
	//	margin-top: 10px;
	//}

	.item-label-extra {
		font-weight: 300;

		.icon[class*=" ss-"] {
			margin-bottom: -4px;
			vertical-align: middle;
		}

		.icon[class*=" sbt-"] {
			margin-top: -2px;
			vertical-align: middle;
		}
	}

	@media screen and (max-width: $screen-xs-max){

		.item-label-extra.text-right {
			text-align: left !important;
		}

	}
}

.flexcol-heading,
.submission-page-heading {
    position: relative;
    background-color: #f4f4f4;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }


}

/*** Submissions ***/

// For submissions page headers
h3.submission-subtitle {
	font-weight: 400;
	display: inline-block;
}

.submission-page-heading {
    /** Extends .flexible-description-box **/
	border-radius: 2px;
	border: 1px solid #ddd;
	min-height: 42px;
	padding: 10px 15px 8px;
}

.submission-btn {
	background-color: #f4f4f4;
	border-color: #f4f4f4;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: none;
}

.submission-btn:hover, .submission-btn:focus{
	background-color: #ddd;
	border-color: #f4f4f4;
}

.item-header-indicators {

	margin-top: 8px;
	margin-bottom: 8px;

	> .indicator-item {
		display: inline-block;
		box-sizing: border-box;
		position: relative;
		/* border: 1px solid rgba(0,0,0,0.125); */
		/* border-radius: 5px; */
		line-height: 20px;
		color : #000;
		font-weight: 400;
		padding-left: 10px;
		padding-right: 10px;
		text-transform: capitalize;
		color: #444;

		max-width: 50%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		padding-right: 21px;
		padding-left: 0;
		max-width: 50%;
		&:after {
			content : "";
			display: block;
			position: absolute;
			right: 10px;
			height: 100%;
			top: 0;
			border-right: 1px solid rgba(0,0,0,0.125);
		}
		&:last-child {
			padding-right: 0;
			margin-right: 0;
		}
		&:last-child:after {
			display: none;
		}

		&.expset-status:before {
			content: "";
			width: 9px;
			height : 9px;
			display: inline-block;
			position: relative;
			margin-right: 7px;
			border-radius: 50%;
		}

		&.expset-status[data-status="released"]:before,
		&.expset-status[data-status="current"]:before,
		&.expset-status[data-status="uploaded"]:before {
			color: #fff;
			background-color: #308756;
		}

		&.expset-status[data-status="revoked"]:before,
		&.expset-status[data-status="obsolete"]:before {
			color: #fff;
			background-color: #812423;
		}

		&.expset-status[data-status="deleted"]:before,
		&.expset-status[data-status="upload failed"]:before {
			color: #fff;
			background-color: #a90d0b;
		}

		&.expset-status[data-status="replaced"]:before,
		&.expset-status[data-status="planned"]:before,
		&.expset-status[data-status="to be uplodaded by workflow"]:before {
			color: #fff;
			background-color: #47419a;
		}

		&.expset-status[data-status="in review by lab"]:before {
			color: #fff;
			background-color: #d8bd22;
		}

		&.expset-status[data-status="submission in progress"]:before,
		&.expset-status[data-status="uploading"]:before,
		&.expset-status[data-status="draft"]:before {
			color: #fff;
			background-color: #d8bd22;
		}

		&.expset-status[data-status="released to project"]:before {
			color: #fff;
			background-color: #397855;
		}

		&.expset-status[data-status="unspecified"]:before,
		&.expset-status[data-status="archived"]:before,
		&.expset-status[data-status="archived to project"]:before {
			color: #fff;
			background-color: #7b7b7b;
			//display: none;
		}

		/*
		&[data-set-type="replicates"]{
			background-color: #56889b;
		}

		&[data-set-type="replicates"]{
			background-color: #397855;
		}

		&[data-set-type="technical replicates"]{
			background-color: #34677b;
		}

		&[data-set-type="analysis set"]{
			background-color: #812423;
		}

		&[data-set-type="publication"]{
			background-color: #47419a;
		}

		&[data-set-type="unspecified"]{
			background-color: #7b7b7b;
			display: none;
		}
		*/
	}

}


.item-page-container {
    .info-area {
	    margin-top: 17px;
		//border-bottom: 1px solid #ddd;
		padding-bottom: 7px;
    }

	.rc-tabs-tabpane {
		overflow-x: hidden;
		.info-area {
			overflow: hidden;
			border-bottom: none;
		}
	}

	.tab-view-container {
		.rc-tabs {
			@media screen and (min-width: $screen-sm-min){
				//margin-top: -17px;
			}
		}
	}

    .item-info-area {
        margin-bottom: 20px;
        min-height: 120px;
    }

}

.item-page-detail {

	margin-bottom: 12px;

	.expandable-list {
		overflow: hidden;
	}

	.list-item {
		@media screen and (min-width: $screen-sm-min) {
			/* Equalize Height of Columns, unsupported for IE9 and below: */
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}

		.item-label, .item-value {
			> div {
				min-height: 26px;
				height: 100%;
				word-break: break-all;

				padding-top: 8px;

			}
		}
		.item-label {
			font-weight: 500;
			flex-grow: 1;
			@media screen and (min-width: $screen-sm-min) {
				> div {
					border-bottom: 1px solid #eee;
					padding-bottom: 8px;
				}
			}
		}
		.item-value {
			flex-grow: 2;
			> div {
				border-bottom: 1px solid #eee;
				padding-bottom: 8px;
			}
		}
		ol {
			padding-left: 20px;
			margin-bottom: 0;
			//margin-top: 3px;
		}

		/** For embedded sub-objects **/
		.subitem-toggle {
			display: inline-block;
			> .link {
				@include user-select(none);
				color: #00cca3; // temporary?
				cursor:pointer;
				&:hover {
					color: #00cca3;
					text-shadow : 0 0 0;
				}
			}
			> i.icon {
				width: 20px;
			}
		}

		li > span > .subitem-toggle > i.icon {
			width: 20px;
			margin-left: -20px;
			background-color: #fff;
		}

		.data-display, .sub-panel {
			padding: 0;
			padding-top: 15px;
			> .sub-descriptions > .list-item:last-child > div.item-label > .inner,
			> .sub-descriptions > .list-item:last-child > div.item-value > .inner {
				border-bottom: none;
			}
		}

		&.array-group-row {
			&:not(.last-item):not(.open) {
				> .item-label, .item-value {
					> .inner {
						border-bottom-color: transparent;
						padding-bottom: 2px;
						min-height: 20px;
					}
				}
			}
			&:not(.first-item) {
				> .item-label, .item-value {
					> .inner {
						padding-top: 2px;
					}
				}
			}
			> .item-label {
				.label-number {
					transition: transform .3s ease-out, color .3s ease-out;
					transform: scale3d(0.85, 0.85, 0.85) translate3d(16px,1px,0);
					transform-origin: 100% 25%;
					margin-top: -1px;
					color: #888;
					.number-icon {
						opacity: 0;
						transition: opacity .3s ease-out;
					}
					&.active {
						color: #000;
						transform: scale3d(1,1,1);
						.number-icon {
							opacity: 1;
						}
					}
				}
				span.dim-duplicate {
					color: transparent;
					transition: color .3s ease-out;
					white-space: nowrap;
					overflow-x: hidden;
					text-overflow: ellipsis;
					i.icon {
						display: none;
					}
				}
			}
			//> .item-value {
			//	> .inner {
			//		border-bottom-color: transparent;
			//	}
			//}
		}

		&.open {
			> .item-label {
				> .inner {
					border-bottom-color: transparent;
					span.dim-duplicate {
						color: #bbb;
					}
				}
			}
			> .item-value {
				> .inner {
					border-bottom-color: transparent;
				}
			}
		}
		.detail-embedded-table-container {
			overflow-x: auto;
			table.detail-embedded-table {
				min-width: 100%;
				tr th {
					white-space: normal;
					word-break: normal;
					padding: 7px 4px;

					&.has-children {
						> .tooltip-info-container {
							padding-left: 36px;
							border-bottom: 1px solid #ddd;
							padding-bottom: 7px;
						}
					}

					.sub-list-keys-header {
						margin-left: -4px;
						margin-right: -4px;
						> div.inline-block {
							padding: 5px 8px 0px;
						}
						div.child-list-row-number {
							width: 36px;
						}

					}
				}
				tr td {
					word-break: normal;
					padding: 7px 8px;
					&.child-list-row-container {
						padding: 0;
						border-left: 1px dotted #ccc;
						border-right: 1px dotted #ccc;
						border-bottom: 1px solid #ddd;
					}
					&.no-word-break {
						white-space: nowrap;
					}
				}
				tr:not(:last-child) {
					border-bottom: 1px solid #eee;
				}
				.child-list-row {
					> div {
						padding: 5px 8px;
						text-align: center;
					}
					&:not(:last-child) {
						border-bottom: 1px dotted #eee;
					}
					div.child-list-row-number {
						width: 36px;
					}
				}
			}
		}

	}

	@media screen and (max-width: $screen-xs-max) {
		.array-group .array-group-row.list-item:not(.first-item) {
			.item-label {
				display: none;
			}
		}
	}

	.sub-panel {
		padding-left: 40px;
		padding-bottom: 0;
		margin-bottom: 8px;
		border-bottom: 1px dotted #bbb;
		border-left: 1px dotted #aaa;
		.item-label {
			.tooltip-info-container {
				white-space: nowrap;
				overflow-x: hidden;
				text-overflow: ellipsis;
			}
		}
	}

}

/** JSON Tree Wrapper (e.g. fallback view) **/

.json-tree-wrapper {
	border-radius: 4px;
	overflow: hidden;
	> ul {
		padding: 8px 16px 16px !important;
		margin: 0 !important;
	}
}

/*** Partial or Expandable Lists ***/

.expandable-list {
	margin-bottom: 10px;

	ul {
		margin-bottom: 0px;
	}

}

/*** Files In Set Table ***/

$download-button-width : 100px;


.files-in-set-table-title {
	font-weight: 300;
	padding-bottom: 10px;
    margin-bottom: 2px;
    border-bottom: 1px solid #f4f4f4;
	margin-top: 20px;
}

/**********************************************************
				Files in Set Table
**********************************************************/

.files-in-set-table {

	margin-bottom: 20px;

	.row {



		> div {
			padding-top: 5px;
			padding-bottom: 5px;
		}

		h6.accession {
			margin: 0;
			font-size: 0.925rem;
			font-weight: 400;
			> a {
				color: #777;
				&:hover {
					color: #000;
				}
			}
		}

		> .title {
			vertical-align: middle;
			text-align: left;
			padding-top: 10px;
		}

		> .description {
			padding-top: 1px;
    		padding-bottom: 0px;
		}

		> .lab {
			text-align: right;
			.lab-icon {
				&.no-lab {
					opacity: 0.125;
				}
			}
			a.lab-icon {
				color: #555;
				transition: color .5s;
				&:hover {
					color : #000;
				}
			}
		}

		> .submitter {
			small {
				line-height: 1rem;
				color: #777;
			}
		}

		> div.divider-column {
			padding-bottom: 0;
			padding-top: 0;
			> .divider {
				border-bottom: 1px solid #f4f4f4;
				height: 1px;
			}
		}

		&.header-row {
			user-select: none;

			> div {
				font-weight: 500;
			}
			> div.divider-column > .divider {
				border-bottom: 1px solid #ddd;
			}
			> .download-button-title {
				> i.icon {
					width: 32px;
					text-align: center;
				}
				> span.file {
					display: inline-block;
					min-width: $download-button-width;
					text-align: left;
				}
				> span.docs {
					width : 33px;
					margin-left: 6px;
					display: inline-block;
					text-align: center;
				}
			}
		}

		> .download-button{
			position: relative;
			z-index: 10;
			> a.btn, > button.btn {
				&.button-dl-doc {
					margin-left: 5px;
					&.disabled {
						opacity: 0.33;
					}
				}
				&.button-dl-file {
					min-width: $download-button-width;
				}
			}

		}

	}
}

// Tablet & mobile screen size adjustments
@media screen and (max-width : $screen-sm-max){
	.files-in-set-table .row > .download-button {
		margin-bottom: -50px;
	}
}

// Mobile screen size
@media screen and (max-width : $screen-xs-max){
	.files-in-set-table .row > .download-button {
		> .button-dl-file {
			margin-bottom: 5px;
		}
	}
}

// Large screen adjustments
@media screen and (min-width : $screen-md-min){

	.files-in-set-table-title {
		margin-top: 20px;
	}

	.files-in-set-table {
		.row {

			> div, h6 {
				line-height: 30px;
			}

			h6.accession {
				text-align: right;
			}



			> .title {
				padding-top: 5px;
				padding-bottom: 5px;
				text-align: right;
			}

			> .description {
				min-height: 30px;
				padding-top: 12px;
				padding-bottom: 12px;
				line-height: normal;
			}

			> .download-button {
				height: 40px;
                padding-top: 3px;
                padding-bottom: 3px;
			}

		}
	}
	.files-in-set-table.smaller-version {
		.title h6 {
			margin: 0;
		}
	}
}




/**********************************************************
				Formatted Info Panel/Block
**********************************************************/

// Mixin for top-left label. To be re-used in other areas.4s

@mixin small-block-label(){
	font-weight: 500;
	color: #646464;
	margin-bottom: 7px;
	margin-top: 0px;

	&:after {
		content : "\f105";
		font-family: "FontAwesome";
		padding-left: 6px;
	}
}

@mixin icon-container-child(){

	.icon-container {
		text-align: center;
		padding-top: 4px;
		font-size: 20px;
		//margin-bottom: -10px;

		&.col-xs-2 {
			padding-right: 0px;
			padding-left: 5px;
		}
	}

}

.formatted-info-panel {
	padding : 0 10px 12px;
	/* border-bottom: 1px solid #e2e2e2; */
	margin-bottom: 8px;

	/* Adjustments based on available props, ToDo: .no-title */

	&.has-border {
		padding : 8px 18px 15px;
	}

	&.no-icon {
		padding : 0;
		margin-bottom: 0;
		&.loading {
			min-height: 36.5px;
		}
	}

	> h6 {
		margin-left : -10px;
		@include small-block-label();

	}

	.row .icon-container {
		max-width: 50px;
	}

	h5 {
		margin-bottom: 0;
		margin-top: 2px;
		font-weight: 600;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: normal;

		a {
			/* display: block; */
			overflow: inherit;
			text-overflow: inherit;
		}

		&.no-link {
			font-weight: 500;
		}

	}

	&.error-block.no-icon h5:before {
		content: "\f06a";
		font-family: FontAwesome;
		margin-right: 6px;
		color: #999;
	}

	div.details-col {

		&.no-more-details {
			h5.block-title {
				margin-top: 8px;
			}
		}

		div.more-details {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&.error-message {
				white-space: pre-line;
				white-space: normal;
				opacity: 0.5;
			}
		}

	}

	@include icon-container-child();

}

.formatted-info-panel,
.formatted-info-panel-list {

	&.loading > li,
	&.loading > .row {
		opacity : 1;
	}

	&.loaded > li,
	&.loaded > .row {
		opacity : 0;
		transition: opacity 0s;
	}

	&.loaded.transitioned > li,
	&.loaded.transitioned > .row {
		opacity : 1;
		transition: opacity .5s;
	}

	&.formatted-wrapper {

		ul {
			margin-bottom: 0;
			padding-left: 18px;
		}

		&.single-item {
			ul {
				margin-bottom: 1px;
				margin-top: 7px;
			}
		}

		.details {
			padding-top: 3px;
			> .details-row {
				margin-top: 7px;
			}
		}

		.label-col {
			user-select: none;
		}

		.label-col span {
			position: relative;
			.icon.abstract-toggle {
				cursor : pointer;
				color : #888;
				position: absolute;
				left: -20px;
				top: 2px;
			}

		}

		@include icon-container-child();
	}

}


/**********************************************************
					OverViewBody
**********************************************************/

@mixin overview-block-value-block {
	background-color: #f8f8f8;
	padding: 6px 12px;
}

.item-page-container {

	.overview-blocks-header {
		&.with-background {
			background: #fbfbfb;
			padding-left: 16px;
			padding-right: 16px;
			padding-bottom: 2px;
			border: 1px solid #f4f4f4;
			transition: background-color .5s, border-radius .5s, box-shadow .5s;

			> .inner > .overview-blocks {
				padding-bottom: 10px;
			}
			&.is-closed {
				background-color: #f4f4f4;
				border-color: #eee;
				border-radius: 3px;
				transition: border-color .5s, background-color .5s, border-radius .5s, box-shadow .5s;
				box-shadow: 0 4px 4px -4px rgba(0,0,0,0.25);
			}
		}

		> h4.tab-section-title:first-child {
			padding-top: 14px;
			padding-bottom: 13px;
			font-weight: 400;
			user-select: none;
		}

		> h5.release-section-title:first-child {
			font-weight: 450;
			> span {
				i.expand-icon,
				i.title-icon {
					margin-right: 12px;
					font-size: 0.8rem;
					position: relative;
				}
			}
		}

		> h3.tab-section-title:first-child {
			padding-top: 19px;
		}
		> h3.tab-section-title:first-child, > h4.tab-section-title:first-child {

			&.with-accent {

				padding-left: 17px;
				padding-right: 17px;
				margin-left: -17px;
				margin-right: -17px;
				margin-top: -1px; // Account for border
				margin-bottom: -3px;
				padding-top: 13px;
				padding-bottom: 14px;
				//background-color: #22656d;
				//color: #fff;
				border-radius: 3px;
				position: relative;
				z-index: 2;

			}


			> span {
				i.icon-caret-right, i.icon-angle-right {
					opacity: 0.66;
					transition: transform .5s, opacity .25s;
					padding-left: 3px;
					margin-left: 5px;
					font-size: 1.125rem;
				}
				i.expand-icon,
				i.title-icon {
					margin-right: 12px;
					font-size: 1rem;
					position: relative;
				}
			}
			&:hover > span {
				i.icon-caret-right, i.icon-angle-right {
					opacity: 1;
				}
			}
		}

		&.is-open {
			> h4.tab-section-title:first-child {
				border-radius: 0;
				> span {
					i.icon-caret-right, i.icon-angle-right {
						opacity: 0.33;
					}
				}
				&:hover > span {
					i.icon-caret-right, i.icon-angle-right {
						opacity: 1;
					}
				}
			}
		}
	}
	
	.supplementary-files-section-part {
		//margin-top: 10px;
		padding-top: 5px;
		padding-bottom: 0px;
		border-bottom: 1px solid #ccc;
		> h4 {
			padding-top: 10px;
			padding-bottom: 2px;
			margin-top: 0;
			margin-bottom: 0;
			font-weight: 500;
			i.icon-fw {
				width: 16px;
				margin-right: 5px;
			}
		}

		> .description {
			margin-left: 21px;
			margin-bottom: 15px;
			> p {
				margin: 0;
			}
		}

		> .table-for-collection {
			margin-left: 21px;
		}

		&[data-open="false"]{
			border-bottom-color: #eee;
			padding-top: 5px;
			padding-bottom: 0px;
			> h4 {
				font-weight: 400;
			}
		}
	}

	.overview-blocks {
		> div {
			> .inner {
				padding: 15px 0 5px;

				.tooltip-info-container {
					> span {
						> i.icon-info-circle {
							margin-left: 5px;
						}
					}
				}

				h5 {
					margin-top: 0;
					margin-bottom: 5px;
					font-weight: 500;
				}

				ol.overview-list-elements-container,
				ul.overview-list-elements-container {
					margin-bottom: 0;
					padding-left: 30px;
				}

				a.btn {
					i.icon-external-link {
						margin-left: 5px;
						position: relative;
						top: 1px;
						&.small {
							font-size: .65rem;
							top: -1px;
						}
					}
					i.icon-cloud-download,
					i.icon-picture-o,
					i.icon-file-pdf-o {
						margin-right: 3px;
					}
					&.btn-block {
						padding-left: 4px;
						padding-right: 4px;
					}
					&.btn-sm {
						padding-bottom: 4px; // Overrides 5
						i.icon-external-link {
							//top: 0px;
						}
					}
				}

				// Embedded Items w/ Attachments
				.embedded-item-with-attachment {
					background-color: #f8f8f8;
					border-radius: 3px;
					&:not(.in-array){
					}
					.link-to-item-col {
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						&.in-array {
							//> .inner {
							//	padding-left: 30px;
							//}
						}
						> .inner {
							line-height: 28px;
							> span, > a {
								vertical-align: middle;
							}
							> a {
								display: inline-block;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
								max-width: 100%;
							}
						}
					}
					.view-attachment-button-col {
						padding-right: 4px;
						> a.btn {

						}
					}

					&.is-image {
						margin-left: -5px;
						margin-right: -5px;
						> .inner {
							> a.image-wrapper {
								display: block;
								margin: 0 auto;
							}
							> .caption {
								padding: 10px 0 5px;
								font-style: italic;
							}
						}
						img.embedded-item-image {
							max-width: 100%;
						}
					}

				}

				> div.overview-single-element {
					&.block {
						padding: 0;
						margin-bottom: 0;
						&:not(.no-value){
							margin-top: 10px;
							@include overview-block-value-block;
							i.icon-caret-right {
								transition: opacity .25s, transform .5s;
								padding-left: 3px;
								margin-left: 5px;
								opacity: 0.33;
								&:not(.icon-rotate-90){
									opacity: 0.66;
								}
								&:hover {
									opacity: 1;
								}
							}
						}
					}
				}


				> div.overview-list-elements-container {
					margin-top: 10px;

					> div.overview-list-element {
						@include overview-block-value-block;
						margin-bottom: 5px;
						&:last-child {
							border-bottom: none;
						}
					}

					&.embedded-item-with-attachment-container {
						> div.overview-list-element {

						}
					}

				}

				> ul.overview-list-elements-container,
				> ol.overview-list-elements-container {
					> li {
						> div {

						}
					}
				}

			}
		}
	}
}


/**********************************************************
				Experiments Set View
**********************************************************/

.exp-table-section {

	h3 {

		span.exp-number {
			padding-top: 5px;
		}

	}

	.exp-table-container {
		overflow-x: auto;
		display: block;
	}

	.expset-higlass-panel {
		position: relative;
		margin-bottom: -20px;
		.higlass-view-container {

			&.disabled {
				opacity: 0.25;
				pointer-events: none;
				> *,
				> * > * {
					pointer-events: none;
				}
			}

			// Adjustments for when HiGlass inside ExpSet view as mini preview thingy
			.higlass-instance {
				margin-top: -15px;
				.ViewHeader-module_multitrack-header-nav-list-2nvcu {
					.ViewHeader-module_multitrack-header-icon-squeazed-25lkF:nth-child(1),
					.ViewHeader-module_multitrack-header-icon-16QKZ:nth-child(1),
					.ViewHeader-module_multitrack-header-icon-squeazed-25lkF:nth-child(3),
					.ViewHeader-module_multitrack-header-icon-16QKZ:nth-child(3),
					.ViewHeader-module_multitrack-header-icon-squeazed-25lkF:nth-child(4),
					.ViewHeader-module_multitrack-header-icon-16QKZ:nth-child(4) {
						display: none;
					}
				}
			}
		}
	}

	.draggable-border {
		height: 100%;
		padding-left: 5px;
		padding-right: 5px;
		position: absolute;
		top: 0px;
		margin-top: -10px;
		cursor: ew-resize;
		z-index: 5;
		> .inner {
			height: 100%;
			width: 0;
			border-left: 1px solid #eee;
			> .drag-handle {
				position: absolute;
				left: 3px;
    			width: 5px;
				background-color: transparent;
				border-left: 1px solid #ddd;
				border-right: 1px solid #ddd;
			}
		}
		&:hover,
		&.react-draggable-dragging {
			> .inner {
				border-color: #888;
				box-shadow: 0 0 1px #999;
				> .drag-handle {
					border-color: #999;
				}
			}
		}
	}

	/*
	table tbody tr:first-child td {

		&:nth-child(1),
		&:nth-child(2) {
			border-bottom-color: #c0c0c0;
		}
	}
	*/
}


/**********************************************************
					Graph Tab Section
**********************************************************/

.workflow-view-container {

	// Header
	h3.tab-section-title {
		> span:first-child { // Text itself
			display: block;
			padding-top: 27px;
			float: left;
			padding-right: 20px;
		}
		padding-top: 0;
		min-height: 67px;
	}

	// Body Stuff

	.graph-wrapper {
		opacity : 1;
		transition: opacity .5s ease-out;
	}

	// Full Screen Styling
	&.full-screen-view {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		@media (min-width: $screen-md-min) {
			top: 41px;
			z-index: 1000;
		}
		bottom: 0;
		z-index: 10000;
		background: #fff;
		overflow-y: auto;

		> .graph-wrapper {
			//position: absolute;
			//top: 68px;
			padding-left: 20px;
			padding-right: 20px;
			//bottom: 0;
			//left: 0;
			//right: 0;
			//overflow-y: auto;
		}

		> .tab-section-title,
		.detail-pane {
			margin: 0 auto;
			padding-left: 20px;
			padding-right: 20px;
			@media (min-width: $screen-sm-min) {
				max-width: $container-sm;
			}
			@media (min-width: $screen-md-min) {
				max-width: $container-md;
				padding-left: 0;
				padding-right: 0;
			}
			@media (min-width: $screen-lg-min) {
				max-width: $container-lg;
			}
		}
	}
}

/**********************************************************
					Graph Detail Pane
**********************************************************/

.workflow-chart-inner-container {
	.detail-pane {
		> h5 {
			margin-bottom: 0px;
			& + h4 {
				margin-top: 4px;
				margin-bottom: 0;
			}
		}
		> .detail-pane-body {
			overflow-x: hidden;
		}
		.information {
			margin-top: 12px;
			padding-top: 0;
			border-top: 1px solid #ccc;

			> hr {
				margin-bottom: 0;
				margin-top: 0;
			}

			& + hr {
				border-color: #ccc;
				margin-top: 0;
			}


			> .row > .box {
				padding-top : 12px;
				padding-bottom: 10px;
				min-height: 70px;
				> h3, > h4, > h5 {
					margin-bottom: 0;
					margin-top: 0;
					line-height: 28px;
					> pre, > code {
						margin-top: 5px;
						line-height: 23px;
					}
					> code {
						display: inline-block;
						padding-top: 0;
						padding-bottom: 0;
					}
				}

				> .download-button {
					margin-top: 6px;
				}

				&.buttons-container {
					text-align: left;
					@media screen and (min-width: $screen-sm-min){
						text-align: right;
					}
				}

				&.steps-in-workflow {
					a:not(:last-child) {
						//margin-right: 5px;
						margin-right: 5px;
						&:after{
							content: ',';
							color: #000;
							text-decoration: none;
						}
						&:hover:after {
							text-decoration: none;
						}
					}
				}
			}

			.description-box-container {
				padding-top: 2px;
			}

			.file-title {

				> h3.node-file-title {
					overflow: hidden;
				}

				.download-button-container {
					position: absolute;
					right: 10px;
					top: 40px;
				}

				.download-button-container.exists + h3.node-file-title {
					@media screen and (max-width: $screen-md-max){
						padding-right: 30px;
					}
				}
			}

		}
	}
}

/**********************************************************
						MetricsView
**********************************************************/
.metrics-view {

	.metrics-view-item {

		.inner {
			padding-top: 9px;
			padding-bottom: 9px;

			border-bottom: 1px solid #f4f4f4;

			.icon-exclamation-circle {
				color : $audit-color-error;
			}
			.icon-warning {
				color : $audit-color-warning;
			}
			.icon-check {
				color : green;
			}
		}

		h1,h2,h3,h4,h5,h6 {
			margin: 0;
		}
	}

}

/**********************************************************
						File View
**********************************************************/

.item-page-container.type-File {


	.file-download-container {
		transition: transform .4s;

		> a.btn-block.btn-lg {
			font-weight: 400;
			padding-top: 11px;
			> i {
				position: relative;
				top: 1px;
			}
		}

	}

}


/** HiGlass Views **/

.higlass-wrapper {

	margin-bottom: 30px;

	.higlass-instance {

		.TrackControl-module_track-control-2zDf3 { // Menu which appears on hover
			.TrackControl-module_track-control-button-2fdIb { // Hide "add track" & "move" buttons.
				display: none;
				&:nth-child(2),
				&:last-child {
					display: block;
				}
			}
		}

		.CenterTrack-module_center-track-container-2ELhp {
			.TrackControl-module_track-control-2zDf3 { // Menu which appears on hover
				.TrackControl-module_track-control-button-2fdIb { // Hide "add track", "close", & "move" buttons.
					display: none;
					&:first-child {
						display: block;
					}
				}
			}
		}

		.ViewHeader-module_multitrack-header-3XnZx .ViewHeader-module_multitrack-header-nav-list-2nvcu {
			.ViewHeader-module_multitrack-header-icon-squeazed-25lkF:nth-child(3), // Hide 'plus' button in header.
			.ViewHeader-module_multitrack-header-icon-16QKZ:nth-child(3),{
				display: none;
			}
		}

		.glyphicon.glyphicon-search {
			&:before {
				content : "\f002";
				font-family: "FontAwesome";
			}
		}

		height: 600px;
		transition: opacity 1s;
		opacity: 0;

		.react-grid-layout {
			.form-group {
				div.dropdown.btn-group-sm {
					> .btn.dropdown-toggle {
						padding-right: 24px !important;
					}
				}
				input.GenomePositionSearchBox-module_genome-position-search-bar-1_0ZU {
					font-family: $font-family-monospace;
					font-size: 0.825rem;
				}
			}
		}
	}
}


.hg-popup .context-menu-item > div {
	> .ContextMenu-module_context-menu-hr-3yapb:nth-child(4),
	> .ContextMenu-module_context-menu-item-1HeVv:nth-child(5) {
		display: none;
	}

}



/**********************************************************
		User Profile Page
***********************************************************/

.page-container > .row.first-row {
	margin-top: 29px;
}

.panel.user-info,
.panel.user-work-info {

	margin-bottom: 0;

	#email {
		font-weight: 500;
	}

	.formatted-info-panel {

		&:not(.no-details){
			/* min-height: 41px; */
		}

		/* When in list (maybe ToDo: li > .formatted-info-panel) ... */
		&.no-details.no-icon.no-label {
			display: inline-block;
			padding: 0;
			vertical-align: text-top;
			max-width: 85%;
			word-break: break-word;
		}

		.block-title,
		.block-title a {
			font-weight: 600;
		}
	}

}

.panel.user-info {
	/* for fun - comment out bottom transform in Inspect Element */
	transform: rotateZ(0deg) scale3d(1, 1, 1) translateX(0);
    opacity: 1;
	left: 0px;
	transition: transform 1.2s ease-out, opacity 1.5s ease-out, left 1.2s ease-out;
	position: relative;
	z-index: 2;
	background-color: #fff;

	&.transition { transform: rotateZ(-900deg) scale3d(0.1, 0.1, 0.1) translateX(-1200px); opacity: 0; left: -900px; }

	.user-title-row-container {
		margin-bottom: 20px;
		border-bottom: 1px solid #eee;
	}

	.user-title-col {
		padding-bottom: 17px;
	}

	.user-title {
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: 300;
		font-size: 2.6rem;

		.editable-field-entry {
			//max-width: 50%; // Need to fit 2 inline editable fields on one row for users full name.
			text-overflow: ellipsis;
			.value {
				word-break: break-word;
				.edit-button {
					font-size: 1rem;
				}
			}
			&.editing{
				//max-width: 70%;
			}
		}

	}

	@media screen and (min-width: $screen-sm-min){

		.user-title-col {
			padding-top: 15px;
			min-height: 85px;
			padding-bottom: 30px;
		}

		.user-title {
			/* white-space: nowrap; */
			/* overflow: hidden; */
			text-overflow: ellipsis;
		}
	}

	@media screen and (max-width: $screen-xs-max){

		.user-title-col {
			padding-top: 2px;
		}

		.user-title {
			font-size: 2rem;
			font-weight: 400;
			margin-right: 70px;
		}
	}

	div.gravatar-container {
		position: relative;

		img.gravatar {
			width: 70px;
			height: 70px;
			float: right;
			border-radius: $border-radius-base;
		}

		a.edit-button-remote {
			opacity: 0;
			position: absolute;
			background: #fff;
			color: #000;
			top: 0;
			right: 10px;
			line-height: 21px;
			width: 21px;
			padding-left: 2px;
			border-radius: 5px;
			&:after {
				display: none;
				content: none;
			}
		}

		&:hover {
			a.edit-button-remote {
				opacity: 0.5;
				&:hover {
					opacity: 1;
				}
			}
		}

		@media screen and (max-width: $screen-xs-max){
			img.gravatar {
				width: 94px; /* Account for border */
				height: 70px;
				position: relative;
				z-index: 2;
				margin-bottom: -30px;
				margin-top: 5px;
				border-left: 24px solid #FFF;
			}
		}
	}

}

@media screen and (min-width: $screen-sm-min){
	.editing .user-title .editable-field-entry.inline:not(.editing) {
		display: inline-block;
		//max-width: 30%;
	}
}

.panel.user-work-info {

	> .block-title {
		margin-bottom: 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid #eee;
		padding-top: 0;

		> i.icon.icon-fw {
			margin-right: 5px;
			font-size: 1.5rem;
		}
	}

}

.access-keys-container {
	padding-top: 15px;

	> h3 {

		margin-bottom: 17px;
		/*
	    padding-bottom: 17px;
    	border-bottom: 1px solid #eee;
		*/
	}

	table.access-keys-table {
		margin-bottom: 20px;

		tr {
			/*
			&:nth-child(2n-1) {
				background-color: #f8f8f8;
			}
			*/
			td {
				border-bottom: 1px solid #eee;
				&.access-key-buttons {
					width: 140px;
					.btn.btn-xs {
						margin: 0 4px;
					}
				}
			}
		}
	}

	#add-access-key.btn{
		float: right;
		min-width: 180px;
	}

	.no-access-keys > hr:first-child {
		margin-top: 0;
		margin-bottom: 17px;
	}

}
