/***********************************************************
Custom Classes & Styling for Item Pages (e.g. Experiment Sets)
************************************************************/

.item-page-container {
	/** Override margin-bottom for margin pages so accession and title are close to each other **/
	h1.page-title {
		margin-bottom: 2px;
	}

}

/*************************
        TabbedView
**************************/

/** These are re-used for a few things outside of TabbedView **/

.tab-section-title {
	font-weight: 300;
	margin: 0;
	min-height: 78px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*
	@include media-breakpoint-only(xs){
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	*/
}

h3.tab-section-title {
	line-height: 24px;
}
/*
h4.tab-section-title {
  padding-top: 36px;
  padding-bottom: 12px;
}
*/
hr.tab-section-title-horiz-divider {
	/* Use classes 'mb-0', 'mb-1', etc. to set margins */
	margin-top: 0;
	margin-bottom: 0;
	border-top-color: #ccc;
}

.tabview-title-controls-container {
    font-size: 1rem;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;

    // For mobile/smaller widths.
    button.toggle-open-button {
        @include button-no-focus-outline;
    }

    > .toolbar-wrapper > .btn-toolbar {
		justify-content: flex-end;

        > .btn-group {
            float: none;
        }
    }

    .checkbox-container {
        margin-right: 15px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5rem;
        display: block;
        padding-top: 7px;
        padding-bottom: 5px;
        font-size: 0.95rem;
        @include user-select(none);
        &.disabled{
            color: #999;
        }
        > label {
            margin-bottom: 0;
            font-weight: 400;
        }
    }

    button#rowspacingtype-select {
        min-width: 120px;
    }

    /** Only shown/visible at smaller sizes **/
    > .inner-panel:first-child {
        min-width: 200px;
        padding-left: 10px;
        padding-bottom: 10px;
        > hr {
            margin-top: 10px;
            margin-bottom: 0;
        }
        > .mobile-size-elem {
            > .dropdown.btn-group,
            > .dropdown.btn-group > button.btn,
            > button.btn {
                width: 100%;
                text-align: left;
            }
        }
    }
}

/*************************
    TABVIEW + Alerts
**************************/

$tabbar-bg-color : #ececec !default;
$tabbar-text-color : #333 !default;
$tabbar-text-active-color: #000 !default;
$tabbar-bg-active-color: #fff !default;
// If override this, check e.g. CaseView Pedigree Tab height dimensioning (JS) since this 46px is accounted for in calculations
$tabbar-height: 46px;

.item-page-container {

	.tabs-bar-outer {
		display: block;
		//position: sticky;
		//top: 41px;
		//z-index: 50;
		div.tabs-bar {
			display: flex;
			background-color: $tabbar-bg-color;
			height: $tabbar-height;
			align-items: center;
			> .tab-item {
				display: flex;
    			align-items: center;
				padding-left: 16px;
				padding-right: 16px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				max-width: 200px;
				color: $tabbar-text-color;
				height: inherit;
				border-bottom: 1px solid darken($tabbar-bg-color, 10%);

				&:not(:first-child){
					border-left: 1px solid darken($tabbar-bg-color, 20%);
				}

				&.active {
					background-color: $tabbar-bg-active-color;
					color: $tabbar-text-active-color;
					border-bottom-color: transparent;
					box-shadow: 0.5px -3px 3px -1px #000;
				}

				&.disabled {
					color: transparentize($tabbar-text-color, 0.5);
				}

				i.icon + span {
					margin-left: 8px;
				}

				&.clickable:not(.active):hover {
					background-color: lighten($tabbar-bg-color, 5%);
					z-index: 10;
				}

				// Title shown at left (prefix)
				&.title-tab {
					max-width: 320px;
					background-color: lighten($tabbar-bg-color, 5%);
					> div.row {
						max-width: inherit;
						flex-wrap: nowrap;
						> .item-type-title {
							font-weight: 600;
							max-width: 150px;
							overflow: hidden;
							text-overflow: ellipsis;
							+ .item-title:before {
								/** Emulate FontAwesome Icon styling **/
								display: inline-block;
								content: "\f105"; // "\f054" - chevron
								font-family: $fa-font-family;
								font-weight: 900;
								line-height: 1;
								position: relative;
								left: -10px;
								vertical-align: middle;
							}
						}
						> .icon-col {
							padding: 0;
							> i.icon {
								vertical-align: middle;
							}
						}
						> .item-title {
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}

				// Menu icon shown at right
				&.menu-tab {
					max-width: none;
					flex-grow: 1;
					justify-content: flex-end;
					padding: 0; // Child of tab will have padding
					.icon-container {
						padding-left: 16px;
						padding-right: 16px;
						height: 100%;
						display: flex;
						align-items: center;
						//i.icon-bars:only-child {
						//	margin: 0;
						//}
					}
				}
			}
		}

		/** For smaller screen sizes, we make this menu stack instead of horizontal row **/
		@include navbar-static-position {
			position: relative;
			top: 0;
			div.tabs-bar {
				flex-direction: column;
				height: auto;
				align-items: stretch;
				> .tab-item {
					height: $tabbar-height;
					max-width: none !important;
					&.active {
						border-bottom-color: darken($tabbar-bg-color, 10%);
						box-shadow: none;
					}
					&.menu-tab {
						justify-content: flex-start;
						> .icon-container {
							flex-grow: 1;
						}
					}
				}
			}
		}

	}

}

/*************************
    Alerts - Shown differently on ItemPages than others
**************************/

#item-page-alerts-container {
	position: relative;
	z-index: 3;
	> .alerts {
		> .alert {
			margin-bottom: 0px;
			border-radius: 0;
			border-left: none;
			border-right: none;
			border-top: none;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}

/** Styling right pane menu which comes out upon ItemActionsTab click **/

#slide-in-pane-container {
    > .slide-in-pane-outer {
        > .item-page-actions-menu {
			// Maybe make this more reusable (?)
            > .title-box {
                padding: 12px 18px;
                border-bottom: 1px solid #ccc;
                box-shadow: inset 0 -2px 5px -5px #000;
                
                label {
                    font-weight: 400;
                    margin-bottom: 1px;
                    color: #777;
                }
                h4, h3 {
                    font-weight: 300;
                    margin: 0;
                    white-space: nowrap;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }

                i.icon.icon-times {
                    font-size: 1.25rem;
                    color: #777;
                    padding-top: 7px;
                    &:hover {
                        color: #000;
                    }
                }
			}

			> .menu-inner {
				> .menu-option {
					padding: 12px 18px;
					border-bottom: 1px solid #eee;
					display: block;
					h4, h5, h6 {
						font-weight: 500;
						margin: 0;
						+ .description {
							font-size: 0.925rem;
							white-space: nowrap;
                    		overflow-x: hidden;
                    		text-overflow: ellipsis;
						}
					}
					&:hover {
						background-color: #f8f8f8;
					}
					.icon-container {
						display: flex;
						align-items: center;
					}
					// Show to right of icon-container, if 1 present, else not present
					.title-col {
						white-space: nowrap;
						overflow-x: hidden;
						text-overflow: ellipsis;
					}
				}
				> a.menu-option {
					color: $body-color;
					&:hover {
						text-decoration: none;
					}
				}
			}
			
        }
    }
}



/*************************
    Item Page Headings
**************************/


.flexible-description-box {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: height .4s;

	.description-expand-button {
		padding: 0px;
		width: 24px;
		height: 21px;
		margin-left: 6px;
		box-sizing: border-box;
		border: none;
		background: none;
		outline: none;
	}

	p {
		overflow: inherit;
		text-overflow: inherit;
		&:last-child {
			margin-bottom : 0;
		}
	}
}

.flexcol-heading,
.submission-page-heading {
    position: relative;
    background-color: #f4f4f4;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }


}

/*** Submissions ***/

// For submissions page headers
h3.submission-subtitle {
	font-weight: 400;
	display: inline-block;
}

.submission-page-heading {
    /** Extends .flexible-description-box **/
	border-radius: 2px;
	border: 1px solid #ddd;
	min-height: 42px;
	padding: 10px 15px 8px;
}

.submission-btn {
	background-color: #f4f4f4;
	border-color: #f4f4f4;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: none;
}

.submission-btn:hover, .submission-btn:focus{
	background-color: #ddd;
	border-color: #f4f4f4;
}


@mixin statusColorStyles {
	&[data-status="released"]:before,
	&[data-status="current"]:before,
	&[data-status="uploaded"]:before,
	&[data-status="published"]:before {
		color: #fff;
		background-color: #308756;
	}

	&[data-status="revoked"]:before,
	&[data-status="obsolete"]:before,
	&[data-status="restricted"]:before {
		color: #fff;
		background-color: #812423;
	}

	&[data-status="deleted"]:before,
	&[data-status="upload failed"]:before {
		color: #fff;
		background-color: #a90d0b;
	}

	&[data-status="replaced"]:before,
	&[data-status="planned"]:before,
	&[data-status="to be uplodaded by workflow"]:before {
		color: #fff;
		background-color: #47419a;
	}

	&[data-status="in review by lab"]:before,
	&[data-status="in review"]:before {
		color: #fff;
		background-color: #d8bd22;
	}

	&[data-status="submission in progress"]:before,
	&[data-status="uploading"]:before,
	&[data-status="draft"]:before {
		color: #fff;
		background-color: #d8bd22;
	}

	&[data-status="released to project"]:before {
		color: #fff;
		background-color: #397855;
	}

	&[data-status="released to lab"]:before {
		color: #fff;
		background-color: #80921c;
	}

	&[data-status="unspecified"]:before,
	&[data-status="archived"]:before,
	&[data-status="archived to project"]:before {
		color: #fff;
		background-color: #7b7b7b;
		//display: none;
	}
}


i.item-status-indicator-dot {
	display: inline-block;
	position: relative;
	&:before {
		content: "";
		width: 9px;
		height : 9px;
		display: inline-block;
		position: relative;
		border-radius: 50%;
	}
	@include statusColorStyles;
}



.item-page-container {

	.item-view-header {

		.item-label-extra {
			font-weight: 300;
		}

		@include media-breakpoint-down(sm){
			.item-label-extra.text-right {
				text-align: left !important;
			}
		}

		> .top-row {

			min-height: 40px;

			.item-label-title {
				/* Is some form of header elem, e.g. h5; shows like "Data File | ACCESSION" at top left of page */
				font-weight: 300;
				min-height: 30px;
				margin: 0;
				min-height: 40px;
				display: flex;
				align-items: center;
		
				@include media-breakpoint-down(sm){
					/* Becomes row (not col) at this size, move closer to title */
					min-height: 50px;
					padding-top: 5px;
					align-items: start;
				}
		
				> div.inner {
					// padding-top: 10px;
					> span:not(:last-child){
						padding-right: 8px;
						margin-right: 7px;
						border-right: 1px solid #ccc;
					}
				}
		
				.accession {
					font-weight: 500;
					font-size: 1rem;
				}
			}

			.item-header-indicators {

				margin-top: 0;
				margin-bottom: 0;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				min-height: 40px;

				@include media-breakpoint-down(sm){
					/* Becomes row (not col) at this size, move closer to title */
					justify-content: flex-start;
				}
			
				> .indicator-item {
					display: inline-block;
					box-sizing: border-box;
					position: relative;
					/* border: 1px solid rgba(0,0,0,0.125); */
					/* border-radius: 5px; */
					line-height: 20px;
					color : #000;
					font-weight: 400;
					padding-left: 10px;
					padding-right: 10px;
					text-transform: capitalize;
					color: #444;
			
					max-width: 50%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
			
					padding-right: 21px;
					padding-left: 0;

					&:after {
						content : "";
						display: block;
						position: absolute;
						right: 10px;
						height: 100%;
						top: 0;
						border-right: 1px solid rgba(0,0,0,0.125);
					}
					&:last-child {
						padding-right: 0;
						margin-right: 0;
					}
					&:last-child:after {
						display: none;
					}
			
					&.item-status:before {
						content: "";
						width: 9px;
						height : 9px;
						display: inline-block;
						position: relative;
						margin-right: 7px;
						border-radius: 50%;
					}
			
					&.item-status {
						@include statusColorStyles;
					}
				}
			
			}

		}

		> .item-page-heading {
			/** Extends .flexible-description-box **/
			border-top:1px solid #ccc;
			border-bottom: 1px solid #ccc;
			//min-height: 42px;
			padding: 10px 0px 10px;
			transition: height .4s, border-color .4s;
			text-align: justify;
		
			h1, h2, h3, h4, h5, h6 { margin: 0; line-height: 20px; }
		
			h4 {
				font-weight: 500;
		
				small {
					vertical-align: top;
					line-height: inherit;
					letter-spacing: normal;
				}
			}
		
			&.no-description {
				padding-top: 0;
				padding-bottom: 0;
				border-bottom: none;
				border-top-color: #eee;
				@include media-breakpoint-up(md){
					width: 33%;
					float: right;
				}
				& + div.bottom-row {
					clear: both;
				}
			}
		
			&.expanded {
				border-bottom-color: #ddd;
			}
		
		}

	}

    .info-area {
	    margin-top: 17px;
		//border-bottom: 1px solid #ddd;
		padding-bottom: 7px;
    }


    .item-info-area {
        margin-bottom: 20px;
        min-height: 120px;
    }

}



/**********************************************************
		     		Detail Tab
**********************************************************/

.item-page-detail {

	margin-bottom: 12px;

	.expandable-list {
		overflow: hidden;
	}

	.list-item.row {

		.item-label, .item-value {
			> div {
				min-height: 26px;
				height: 100%;
				word-break: break-all;

				padding-top: 8px;

			}
		}
		.item-label {
			font-weight: 500;
			flex-grow: 1;
			@include media-breakpoint-up(md){
				> div {
					border-bottom: 1px solid #eee;
					padding-bottom: 8px;
				}
			}
		}
		.item-value {
			flex-grow: 2;
			> div {
				border-bottom: 1px solid #eee;
				padding-bottom: 8px;
			}
		}
		ol {
			padding-left: 20px;
			margin-bottom: 0;
			//margin-top: 3px;
		}

		/** For embedded sub-objects **/
		.subitem-toggle {
			display: inline-block;
			> .link {
				@include user-select(none);
				color: #00cca3; // temporary?
				cursor:pointer;
				&:hover {
					color: #00cca3;
					text-shadow : 0 0 0;
				}
			}
			> i.icon {
				width: 20px;
			}
		}

		li > span > .subitem-toggle > i.icon {
			width: 20px;
			margin-left: -20px;
			background-color: #fff;
		}

		.data-display, .sub-panel {
			padding: 0;
			padding-top: 15px;
			> .sub-descriptions > .list-item:last-child > div.item-label > .inner,
			> .sub-descriptions > .list-item:last-child > div.item-value > .inner {
				border-bottom: none;
			}
		}

		&.array-group-row {
			&:not(.last-item):not(.open) {
				> .item-label, .item-value {
					> .inner {
						border-bottom-color: transparent;
						padding-bottom: 2px;
						min-height: 20px;
					}
				}
			}
			&:not(.first-item) {
				> .item-label, .item-value {
					> .inner {
						padding-top: 2px;
					}
				}
			}
			> .item-label {
				.label-number {
					transition: transform .3s ease-out, color .3s ease-out;
					transform: scale3d(0.85, 0.85, 0.85) translate3d(16px,1px,0);
					transform-origin: 100% 25%;
					margin-top: -1px;
					color: #888;
					.number-icon {
						opacity: 0;
						transition: opacity .3s ease-out;
					}
					&.active {
						color: #000;
						transform: scale3d(1,1,1);
						.number-icon {
							opacity: 1;
						}
					}
				}
				span.dim-duplicate {
					color: transparent;
					transition: color .3s ease-out;
					white-space: nowrap;
					overflow-x: hidden;
					text-overflow: ellipsis;
					i.icon {
						display: none;
					}
				}
			}
			//> .item-value {
			//	> .inner {
			//		border-bottom-color: transparent;
			//	}
			//}
		}

		&.open {
			> .item-label {
				> .inner {
					border-bottom-color: transparent;
					span.dim-duplicate {
						color: #bbb;
					}
				}
			}
			> .item-value {
				> .inner {
					border-bottom-color: transparent;
				}
			}
		}
		.detail-embedded-table-container {
			overflow-x: auto;
			table.detail-embedded-table {
				min-width: 100%;
				tr th {
					white-space: normal;
					word-break: normal;
					padding: 7px 4px;

					&.has-children {
						> .tooltip-info-container {
							padding-left: 36px;
							border-bottom: 1px solid #ddd;
							padding-bottom: 7px;
						}
					}

					.sub-list-keys-header {
						margin-left: -4px;
						margin-right: -4px;
						> div.inline-block {
							padding: 5px 8px 0px;
						}
						div.child-list-row-number {
							width: 36px;
						}

					}
				}
				tr td {
					word-break: normal;
					padding: 7px 8px;
					&.child-list-row-container {
						padding: 0;
						border-left: 1px dotted #ccc;
						border-right: 1px dotted #ccc;
						border-bottom: 1px solid #ddd;
					}
					&.no-word-break {
						white-space: nowrap;
					}
				}
				tr:not(:last-child) {
					border-bottom: 1px solid #eee;
				}
				.child-list-row {
					> div {
						padding: 5px 8px;
						text-align: center;
					}
					&:not(:last-child) {
						border-bottom: 1px dotted #eee;
					}
					div.child-list-row-number {
						width: 36px;
					}
				}
			}
		}

	}

	@include media-breakpoint-down(sm){
		/* Deprecated ? */
		.array-group .array-group-row.list-item:not(.first-item) {
			.item-label {
				display: none;
			}
		}
	}

	.sub-panel {
		padding-left: 40px;
		padding-bottom: 0;
		margin-bottom: 8px;
		border-bottom: 1px dotted #bbb;
		border-left: 1px dotted #aaa;
		.item-label {
			.tooltip-info-container {
				white-space: nowrap;
				overflow-x: hidden;
				text-overflow: ellipsis;
			}
		}
	}

}

/** JSON Tree Wrapper (e.g. fallback view) **/

.json-tree-wrapper {
	border-radius: 4px;
	overflow: hidden;
	> ul {
		padding: 8px 16px 16px !important;
		margin: 0 !important;
	}
}

/*** Partial or Expandable Lists ***/

.expandable-list {
	margin-bottom: 10px;

	ul {
		margin-bottom: 0px;
	}

}

/*** Files In Set Table ***/

$download-button-width : 100px;


.files-in-set-table-title {
	font-weight: 300;
	padding-bottom: 10px;
    margin-bottom: 2px;
    border-bottom: 1px solid #f4f4f4;
	margin-top: 20px;
}

/**********************************************************
				Files in Set Table
**********************************************************/

.files-in-set-table {

	margin-bottom: 20px;

	.row {



		> div {
			padding-top: 5px;
			padding-bottom: 5px;
		}

		h6.accession {
			margin: 0;
			font-size: 0.925rem;
			font-weight: 400;
			> a {
				color: #777;
				&:hover {
					color: #000;
				}
			}
		}

		> .title {
			vertical-align: middle;
			text-align: left;
			padding-top: 10px;
		}

		> .description {
			padding-top: 1px;
    		padding-bottom: 0px;
		}

		> .lab {
			text-align: right;
			.lab-icon {
				&.no-lab {
					opacity: 0.125;
				}
			}
			a.lab-icon {
				color: #555;
				transition: color .5s;
				&:hover {
					color : #000;
				}
			}
		}

		> .submitter {
			small {
				line-height: 1rem;
				color: #777;
			}
		}

		> div.divider-column {
			padding-bottom: 0;
			padding-top: 0;
			> .divider {
				border-bottom: 1px solid #f4f4f4;
				height: 1px;
			}
		}

		&.header-row {
			user-select: none;

			> div {
				font-weight: 500;
			}
			> div.divider-column > .divider {
				border-bottom: 1px solid #ddd;
			}
			> .download-button-title {
				> i.icon {
					width: 32px;
					text-align: center;
				}
				> span.file {
					display: inline-block;
					min-width: $download-button-width;
					text-align: left;
				}
				> span.docs {
					width : 33px;
					margin-left: 6px;
					display: inline-block;
					text-align: center;
				}
			}
		}

		> .download-button{
			position: relative;
			z-index: 10;
			> a.btn, > button.btn {
				&.button-dl-doc {
					margin-left: 5px;
					&.disabled {
						opacity: 0.33;
					}
				}
				&.button-dl-file {
					min-width: $download-button-width;
				}
			}

		}

	}
}

// Tablet & mobile screen size adjustments
@include media-breakpoint-down(md){
	.files-in-set-table .row > .download-button {
		margin-bottom: -50px;
	}
}

// Large screen adjustments
@include media-breakpoint-up(lg){

	.files-in-set-table-title {
		margin-top: 20px;
	}

	.files-in-set-table {
		.row {

			> div, h6 {
				line-height: 30px;
			}

			h6.accession {
				text-align: right;
			}



			> .title {
				padding-top: 5px;
				padding-bottom: 5px;
				text-align: right;
			}

			> .description {
				min-height: 30px;
				padding-top: 12px;
				padding-bottom: 12px;
				line-height: normal;
			}

			> .download-button {
				height: 40px;
                padding-top: 3px;
                padding-bottom: 3px;
			}

		}
	}
	.files-in-set-table.smaller-version {
		.title h6 {
			margin: 0;
		}
	}
}


/**********************************************************
				Formatted Info Panel/Block
**********************************************************/

// Mixin for top-left label. To be re-used in other areas.4s

@mixin small-block-label(){
	font-weight: 500;
	color: #646464;
	margin-bottom: 7px;
	margin-top: 0px;

	&:after {
		content : "\f105";
		font-family: "FontAwesome";
		padding-left: 6px;
	}
}

@mixin icon-container-child(){

	.icon-container {
		text-align: center;
		padding-top: 4px;
		font-size: 20px;
		//margin-bottom: -10px;

		&.col-xs-2 {
			padding-right: 0px;
			padding-left: 5px;
		}
	}

}

.formatted-info-panel {
	padding : 0 10px 12px;
	/* border-bottom: 1px solid #e2e2e2; */
	margin-bottom: 8px;

	/* Adjustments based on available props, ToDo: .no-title */

	&.has-border {
		padding : 8px 18px 15px;
	}

	&.no-icon {
		padding : 0;
		margin-bottom: 0;
		&.loading {
			min-height: 36.5px;
		}
	}

	> h6 {
		margin-left : -10px;
		@include small-block-label();

	}

	.row .icon-container {
		max-width: 50px;
	}

	h5 {
		margin-bottom: 0;
		margin-top: 2px;
		font-weight: 600;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: normal;

		a {
			/* display: block; */
			overflow: inherit;
			text-overflow: inherit;
		}

		&.no-link {
			font-weight: 500;
		}

	}

	&.error-block.no-icon h5:before {
		content: "\f06a";
		font-family: FontAwesome;
		margin-right: 6px;
		color: #999;
	}

	div.details-col {

		&.no-more-details {
			h5.block-title {
				margin-top: 8px;
			}
		}

		div.more-details {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&.error-message {
				white-space: pre-line;
				white-space: normal;
				opacity: 0.5;
			}

			div.correspondence {
				> ol, > ul {
					padding-left: 25px;
					> li.contact-person {
						font-size: 0.925rem;
						float: none;
						clear: both;
						> .pull-right {
							max-width: 90%;
						}
					}
				}
			}
		}

	}

	@include icon-container-child();

}

.formatted-info-panel,
.formatted-info-panel-list {

	&.formatted-wrapper {

		ul {
			margin-bottom: 0;
			padding-left: 18px;
		}

		&.single-item {
			ul {
				margin-bottom: 1px;
				margin-top: 7px;
			}
		}

		.details {
			> .details-row {
				margin-top: 7px;
			}
		}

		.label-col {
			user-select: none;
		}

		.label-col span {
			position: relative;
			.icon.abstract-toggle {
				cursor : pointer;
				color : #888;
				position: absolute;
				left: -20px;
				top: 2px;
			}

		}

		@include icon-container-child();
	}

}


/**********************************************************
		     		Badges Tab View
**********************************************************/

$badge-item-min-height: 90px;

.rc-tabs {

	.badge-classification-group {
		padding-top: 5px;
		margin-bottom: 30px;

		.badge-item {
			padding-top: 15px;
			padding-bottom: 15px;
			min-height: $badge-item-min-height;

			&:not(:last-child){
				border-bottom: 1px solid #ddd;
			}

			.icon-col {
				.icon-container > img {
					max-width: 100%;
					max-height: $badge-item-min-height;
				}
			}

			.title-col {
				display: flex;
				align-items: center;

				.messages-list {
					padding-left: 32px;
				}

			}

		}

	}

}


/**********************************************************
		     Embedded Static Sections
**********************************************************/

.extra-info-for-higlass-display {
	/** This gets placed at top of embedded HiGlass displays, which have their own 10px padding. **/
	margin-bottom: -6px;

	display: flex;
	flex-direction: row;

	/** Keep section above padding/margins of HiGlassComponent **/
	position: relative;
	z-index: 5;

	&.right-align {
		flex-direction: row-reverse;
	}

	> .description {
		flex: 1;
		padding-top: 4px;
		padding-bottom: 4px;
	}

	> .btn-container {
		padding-left: 10px;
	}
}


/**********************************************************
					OverViewBody
**********************************************************/

@mixin overview-block-value-block {
	background-color: #f8f8f8;
	padding: 6px 12px;
}

.item-page-container {

	.overview-blocks-header {
		&.with-background {

			background: #fbfbfb;
			padding-left: 16px;
			padding-right: 16px;
			padding-bottom: 2px;
			border: 1px solid #f4f4f4;
			transition: background-color .5s, border-radius .5s, box-shadow .5s;

			> .inner > .overview-blocks {
				padding-bottom: 10px;
			}

			/** Cases when markdown parses out a single <span> instead of a <p> (when 1 markdown line) **/
			> .inner > .static-section-header > div > span:only-child {
				/* Imitate a <p> */
				display: block;
				margin-bottom: 10px;
			}

			&.is-closed {
				background-color: #f4f4f4;
				border-color: #eee;
				border-radius: 3px;
				transition: border-color .5s, background-color .5s, border-radius .5s, box-shadow .5s;
				box-shadow: 0 4px 4px -4px rgba(0,0,0,0.25);
			}
		}

		> h4.tab-section-title:first-child {
			padding-top: 14px;
			padding-bottom: 13px;
			font-weight: 400;
			user-select: none;
			color: #000;
		}

		> h5.release-section-title:first-child {
			font-weight: 450;
			> span {
				i.expand-icon,
				i.title-icon {
					margin-right: 12px;
					font-size: 0.8rem;
					position: relative;
				}
			}
		}

		> h3.tab-section-title:first-child {
			padding-top: 19px;
		}
		> h3.tab-section-title:first-child, > h4.tab-section-title:first-child {

			&.with-accent {

				padding-left: 17px;
				padding-right: 17px;
				margin-left: -17px;
				margin-right: -17px;
				margin-top: -1px; // Account for border
				margin-bottom: -3px;
				padding-top: 14px;
				padding-bottom: 14px;
				//background-color: #22656d;
				//color: #fff;
				border-radius: 3px;
				position: relative;
				z-index: 2;

			}


			> span {
				i.icon-caret-right, i.icon-angle-right {
					opacity: 0.66;
					transition: transform .5s, opacity .25s;
					padding-left: 3px;
					margin-left: 5px;
					font-size: 1.125rem;
				}
				i.expand-icon,
				i.title-icon {
					margin-right: 12px;
					font-size: 1rem;
					position: relative;
				}
			}
			&:hover > span {
				i.icon-caret-right, i.icon-angle-right {
					opacity: 1;
				}
			}
		}

		&.is-open {
			> h4.tab-section-title:first-child {
				border-radius: 0;
				> span {
					i.icon-caret-right, i.icon-angle-right {
						opacity: 0.33;
					}
				}
				&:hover > span {
					i.icon-caret-right, i.icon-angle-right {
						opacity: 1;
					}
				}
			}
		}


		> .inner > .static-section-header > .extra-info-for-higlass-display {
			margin-bottom: -4px;
			> .description {
				padding-top: 6px;
				padding-bottom: 6px;
			}
		}

	}

	.supplementary-files-section-part {
		//margin-top: 10px;
		padding-top: 5px;
		padding-bottom: 0px;
		border-bottom: 1px solid #ccc;
		> h4 {
			padding-top: 10px;
			padding-bottom: 0;
			margin-top: 0;
			margin-bottom: 0;
			font-weight: 500;
			i.icon-fw {
				width: 16px;
				margin-right: 5px;
			}
		}

		> .description {
			margin-left: 21px;
			margin-bottom: 15px;
			> p {
				margin: 0;
			}
		}

		> .table-for-collection {
			margin-left: 21px;
			overflow: hidden;
		}

		&[data-open="false"]{
			border-bottom-color: #eee;
			padding-top: 5px;
			padding-bottom: 0px;
			> h4 {
				font-weight: 400;
			}
		}
	}

	.overview-blocks {
		> div {
			> .inner {
				padding: 15px 0 5px;

				.tooltip-info-container {
					> span {
						> i.icon-info-circle {
							margin-left: 5px;
						}
					}
				}

				h5 {
					margin-top: 0;
					margin-bottom: 5px;
					font-weight: 500;
				}

				ol.overview-list-elements-container,
				ul.overview-list-elements-container {
					margin-bottom: 0;
					padding-left: 30px;
				}

				a.btn {
					i.icon-external-link {
						margin-left: 5px;
						position: relative;
						top: 1px;
						&.small {
							font-size: .65rem;
							top: -1px;
						}
					}
					i.icon-cloud-download,
					i.icon-picture-o,
					i.icon-file-pdf-o {
						margin-right: 3px;
					}
					&.btn-block {
						padding-left: 4px;
						padding-right: 4px;
					}
					&.btn-sm {
						padding-bottom: 4px; // Overrides 5
						i.icon-external-link {
							//top: 0px;
						}
					}
				}

				// Embedded Items w/ Attachments
				.embedded-item-with-attachment {
					background-color: #f8f8f8;
					border-radius: 3px;
					&:not(.in-array){
					}
					.link-to-item-col {
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						&.in-array {
							//> .inner {
							//	padding-left: 30px;
							//}
						}
						> .inner {
							line-height: 28px;
							> span, > a {
								vertical-align: middle;
							}
							> a {
								display: inline-block;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
								max-width: 100%;
							}
						}
					}
					.view-attachment-button-col {
						padding-right: 4px;
						> a.btn {

						}
					}

					&.is-image {
						margin-left: -5px;
						margin-right: -5px;
						> .inner {
							> a.image-wrapper {
								display: block;
								margin: 0 auto;
							}
							> .caption {
								padding: 10px 0 5px;
								font-style: italic;
							}
						}
						img.embedded-item-image {
							max-width: 100%;
						}
					}

				}

				> div.overview-single-element {
					&.block {
						padding: 0;
						margin-bottom: 0;
						&:not(.no-value){
							margin-top: 10px;
							@include overview-block-value-block;
							i.icon-caret-right {
								transition: opacity .25s, transform .5s;
								padding-left: 3px;
								margin-left: 5px;
								opacity: 0.33;
								&:not(.icon-rotate-90){
									opacity: 0.66;
								}
								&:hover {
									opacity: 1;
								}
							}
						}
					}
				}


				> div.overview-list-elements-container {
					margin-top: 10px;

					> div.overview-list-element {
						@include overview-block-value-block;
						margin-bottom: 5px;
						&:last-child {
							border-bottom: none;
						}
					}

					&.embedded-item-with-attachment-container {
						> div.overview-list-element {

						}
					}

				}

				> ul.overview-list-elements-container,
				> ol.overview-list-elements-container {
					> li {
						> div {

						}
					}
				}

			}
		}
	}
}

/**********************************************************
					AdjustableDividerRow
**********************************************************/

.adjustable-divider-row {
	margin-left: 0;
	margin-right: 0;
	@include media-breakpoint-up(lg) {
		> .left-panel {
			padding-right: 10px;
		}
		> .right-panel {
			padding-left: 10px;
		}
	}
}

/**********************************************************
				Experiments Set View
**********************************************************/

.exp-table-section {

	h3 {

		span.exp-number {
			padding-top: 5px;
		}

	}

	.expset-higlass-panel {
		@include media-breakpoint-up(lg){
			margin-bottom: -20px;
		}
	}

	/*
	table tbody tr:first-child td {

		&:nth-child(1),
		&:nth-child(2) {
			border-bottom-color: #c0c0c0;
		}
	}
	*/
}


.exp-table-container {
	overflow-x: auto;
	display: block;
}

.draggable-border {
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	top: 0px;
	cursor: ew-resize;
	z-index: 5;
	> .inner {
		height: 100%;
		width: 0;
		border-left: 1px solid #eee;
		> .drag-handle {
			position: absolute;
			left: 3px;
			width: 5px;
			background-color: transparent;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}
	}
	&:hover,
	&.react-draggable-dragging {
		> .inner {
			border-color: #888;
			box-shadow: 0 0 1px #999;
			> .drag-handle {
				border-color: #999;
			}
		}
	}
}


/**********************************************************
			Processing Summary Table (CaseView)
**********************************************************/

.item-page-container {

	div.summary-table-container {

		padding-top: 10px;
		padding-bottom: 10px;

		> h4:first-child {
			margin-bottom: 0;
			font-weight: 400;
			margin-top: 10px;
		}

		&:not(.family-index-0){
			border-top: 1px solid #ddd;
			padding-top: 10px;
		}

		div.processing-summary {
			margin-bottom: 10px;
		}

		table.processing-summary-table {

			margin-top: 10px;
			width: 100%;

			tbody {
				tr {
					td {
						padding: 4px 8px;
						/*
						&[data-for-column="individual"],
						&[data-for-column="sample"] {
							font-family: $font-family-monospace;
						}
						*/
					}
					&.is-proband {
						> td {
							background-color: #ebf6ff;
							&:first-child {
								font-weight: 600;
							}
						}
					}
					&[data-sample-index="0"] {
						> td {
							border-top: 1px solid #f8f8f8;
						}
					}
					&:not([data-sample-index="0"]) {
						> td[data-for-column="individual"] {
							visibility: hidden;
						}
					}
				}
			}

		}

	}

}






/**********************************************************
		User Profile Page
***********************************************************/

div.user-profile-page {

	/* Panels */

	.panel.shadow-border {
		background-color: inherit;
		margin-bottom: 15px;
		padding: 15px 20px;
		overflow: visible;
		border: 1px solid transparent; /* So bordered and border-less panels have same padding */
		@include box-shadow(0px 0px 0px rgba(0,0,0,0));

		border: 1px solid #ddd;
		border-bottom-color: #c8c8c8;
		box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.5);
		background-color: #fff;
	}

	.panel.user-info,
	.panel.user-work-info {

		margin-bottom: 20px;
		margin-top: 0;

		@include media-breakpoint-up(lg){
			margin-bottom: 0;
			height: 100%;
		}

		// Override of prev CSS
		.col-md-3.text-right.text-left-xs {
			@include media-breakpoint-down(sm){
				text-align: left !important;
			}
		}

		#email {
			font-weight: 500;
		}

		.formatted-info-panel {

			&:not(.no-details){
				/* min-height: 41px; */
			}

			/* When in list (maybe ToDo: li > .formatted-info-panel) ... */
			&.no-details.no-icon.no-label {
				display: inline-block;
				padding: 0;
				vertical-align: text-top;
				max-width: 85%;
				word-break: break-word;
			}

			.block-title,
			.block-title a {
				font-weight: 600;
			}
		}

	}

	.panel.user-info {
		/* for fun - comment out bottom transform in Inspect Element */
		transform: rotateZ(0deg) scale3d(1, 1, 1) translateX(0);
		opacity: 1;
		left: 0px;
		transition: transform 1.2s ease-out, opacity 1.5s ease-out, left 1.2s ease-out;
		position: relative;
		z-index: 2;
		background-color: #fff;

		&.transition { transform: rotateZ(-900deg) scale3d(0.1, 0.1, 0.1) translateX(-1200px); opacity: 0; left: -900px; }

		.user-title-row-container {
			margin-bottom: 20px;
			border-bottom: 1px solid #eee;
		}

		.user-title-col {
			padding-bottom: 17px;
		}

		.user-title {
			margin-top: 0px;
			margin-bottom: 0px;
			font-weight: 300;
			font-size: 2.6rem;

			.editable-field-entry {
				//max-width: 50%; // Need to fit 2 inline editable fields on one row for users full name.
				text-overflow: ellipsis;
				.value {
					word-break: break-word;
					.edit-button {
						font-size: 1rem;
					}
				}
				&.editing{
					//max-width: 70%;
				}
			}

		}

		@include media-breakpoint-up(md){

			.user-title-col {
				padding-top: 15px;
				min-height: 85px;
			}

			.user-title {
				/* white-space: nowrap; */
				/* overflow: hidden; */
				text-overflow: ellipsis;
			}
		}

		@include media-breakpoint-down(sm){

			.user-title-col {
				padding-top: 2px;
			}

			.user-title {
				font-size: 2rem;
				font-weight: 400;
				margin-right: 70px;
			}
		}

		div.gravatar-container {
			position: relative;

			img.gravatar {
				width: 70px;
				height: 70px;
				float: right;
				border-radius: $border-radius-base;
			}

			a.edit-button-remote {
				opacity: 0;
				position: absolute;
				background: #fff;
				color: #000;
				top: 0;
				right: 10px;
				line-height: 21px;
				width: 21px;
				padding-left: 2px;
				border-radius: 5px;
				&:after {
					display: none;
					content: none;
				}
			}

			&:hover {
				a.edit-button-remote {
					opacity: 0.5;
					&:hover {
						opacity: 1;
					}
				}
			}

			@include media-breakpoint-down(sm){
				img.gravatar {
					width: 94px; /* Account for border */
					height: 70px;
					position: relative;
					z-index: 2;
					margin-bottom: -70px;
					margin-top: 5px;
					border-left: 24px solid #FFF;
				}
			}
		}

	}

	@include media-breakpoint-up(md){
		.editing .user-title .editable-field-entry.inline:not(.editing) {
			display: inline-block;
			//max-width: 30%;
		}
	}

	.panel.user-work-info {

		> .block-title {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #eee;
			padding-top: 0;

			> i.icon.icon-fw {
				margin-right: 5px;
				font-size: 1.5rem;
			}
		}

	}

	.access-keys-container {
		padding-top: 15px;

		> h3 {

			margin-bottom: 17px;
			/*
			padding-bottom: 17px;
			border-bottom: 1px solid #eee;
			*/
		}

		table.access-keys-table {
			margin-bottom: 20px;

			tr {
				/*
				&:nth-child(2n-1) {
					background-color: #f8f8f8;
				}
				*/
				td {
					border-bottom: 1px solid #eee;
					&.access-key-buttons {
						width: 140px;
						.btn.btn-xs {
							margin: 0 4px;
						}
					}
				}
			}
		}

		#add-access-key.btn{
			float: right;
			min-width: 180px;
		}

		.no-access-keys > hr:first-child {
			margin-top: 0;
			margin-bottom: 17px;
		}

	}

}
