/***********************************************************
Custom Classes & Styling for Item Pages (e.g. Experiment Sets)
************************************************************/

.item-page-container {
	/** Override margin-bottom for margin pages so accession and title are close to each other **/
	h1.page-title {
		margin-bottom: 2px;
	}
}

@media screen and (min-width: $screen-md-min){
	/* Nudge accession #, etc. closer to title on wide desktop views */
	/*
	.item-view-header {
		margin-top: -27px;
	}
	*/

}

.item-label-title { /* Is some form of header elem, e.g. h3 or h4 */
	font-weight: 300;
	height: 36px;
	/* line-height: 36px; */
	margin: 0;
	padding-left: 13px;

	> span:not(:last-child){
		padding-right: 5px;
		margin-right: 5px;
		border-right: 1px solid #ccc;
	}

	/*
	.accession-label {
		font-size: 1rem;
		font-weight: 400;
		color: #888;
	}
	*/

	.accession {
		font-weight: 500;
		font-size: 1.15rem;
	}
}

.item-label-extra {
	font-weight: 300;

	.icon[class*=" ss-"] {
		margin-bottom: -4px;
		vertical-align: middle;
	}

	.icon[class*=" sbt-"] {
		margin-top: -2px;
		vertical-align: middle;
	}
}

@media screen and (max-width: $screen-xs-max){

	.item-label-extra.text-right {
		// Hackishly making text left-aligned for collapsed mobile view(s)
		text-align: left !important;
	}

}

/******* Item Page Headings *********/


.flexible-description-box {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: height .4s;

	.description-expand-button {
		padding: 0px;
		width: 24px;
		height: 24px;
		margin-left: 6px;
		box-sizing: border-box;
		border: none;
		background: none;
		outline: none;
	}

	p {
		overflow: inherit;
		text-overflow: inherit;
		&:last-child {
			margin-bottom : 0;
		}
	}
}

.item-page-heading {
    /** Extends .flexible-description-box **/
	border-radius: 2px;
	border: 1px solid #eee;
	min-height: 42px;
	padding: 10px 15px 8px;

	h4 {
		font-weight: 500;

		small {
			vertical-align: top;
			line-height: inherit;
			letter-spacing: normal;
		}
	}

}

.flexcol-heading, .item-page-heading, .submission-page-heading{
    position: relative;
    //margin-right: -10px;
    //margin-left: -10px;
    background-color: #f4f4f4;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    // For the Experiment Summary header
    &.experiment-heading {

        h1, h2, h3, h4, h5, h6 {
            line-height: 20px;  // 50px - 20px of vertical padding
        }

    }
}

.item-header-indicators {

	margin-top: 8px;
	margin-bottom: 8px;

	.expset-indicator {
		display: inline-block;
		box-sizing: border-box;
		/* border: 1px solid rgba(0,0,0,0.125); */
		/* border-radius: 5px; */
		line-height: 20px;
		color : #000;
		font-weight: 400;
		padding-left: 10px;
		padding-right: 10px;
		text-transform: capitalize;
		color: #444;

		&.right, .left {
			max-width: 50%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:after {
				content : "";
				display: block;
				position: absolute;
				height: 100%;
				top: 0;
			}
		}

		&.right {
			padding-left: 21px;
			padding-right: 0;
			&:after {
				margin-left: -11px;
				border-left: 1px solid rgba(0,0,0,0.125);
			}
			&:last-child {
				padding-left: 0;
				margin-left: 0;
			}
			&:last-child:after {
				display: none;
			}
		}

		&.left {
			padding-right: 21px;
			padding-left: 0;
			max-width: 50%;
			&:after {
				margin-right: -10px;
				border-right: 1px solid rgba(0,0,0,0.125);
			}
			&:last-child {
				padding-right: 0;
				margin-right: 0;
			}
			&:last-child:after {
				display: none;
			}
		}

		&.expset-status:before {
			content: "";
			width: 9px;
			height : 9px;
			display: inline-block;
			position: relative;
			margin-right: 7px;
			border-radius: 50%;
		}

		&.expset-status[data-status="released"]:before {
			color: #fff;
			background-color: #308756;
		}

		&.expset-status[data-status="current"]:before {
			color: #fff;
			background-color: #308756;
		}

		&.expset-status[data-status="revoked"]:before {
			color: #fff;
			background-color: #812423;
		}

		&.expset-status[data-status="deleted"]:before {
			color: #fff;
			background-color: #a90d0b;
		}

		&.expset-status[data-status="replaced"]:before {
			color: #fff;
			background-color: #47419a;
		}

		&.expset-status[data-status="in review by lab"]:before {
			color: #fff;
			background-color: #d8bd22;
		}

		&.expset-status[data-status="in review by project"]:before {
			color: #fff;
			background-color: #d8bd22;
		}

		&.expset-status[data-status="released to project"]:before {
			color: #fff;
			background-color: #397855;
		}

		&.expset-status[data-status="unspecified"]:before {
			color: #fff;
			background-color: #7b7b7b;
			display: none;
		}

		/*
		&[data-set-type="replicates"]{
			background-color: #56889b;
		}

		&[data-set-type="replicates"]{
			background-color: #397855;
		}

		&[data-set-type="technical replicates"]{
			background-color: #34677b;
		}

		&[data-set-type="analysis set"]{
			background-color: #812423;
		}

		&[data-set-type="publication"]{
			background-color: #47419a;
		}

		&[data-set-type="unspecified"]{
			background-color: #7b7b7b;
			display: none;
		}
		*/
	}

}


.item-page-container {
    .info-area {
	    margin-top: 17px;
		//border-bottom: 1px solid #ddd;
		padding-bottom: 7px;
    }

	.rc-tabs-tabpane {
		.info-area {
			overflow: hidden;
			border-bottom: none;
		}
	}

	.tab-view-container {
		.rc-tabs {
			@media screen and (min-width: $screen-sm-min){
				//margin-top: -17px;
			}
		}
	}

    .item-info-area {
        margin-bottom: 20px;
        min-height: 120px;
    }

}

.item-page-detail {

	margin-bottom: 12px;

	.expandable-list {
		overflow: hidden;
	}

	.list-item {

		/* Equalize Height of Columns, unsupported for IE9 and below: */
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;



		.item-label, .item-value {
			> div {
				min-height: 26px;
				height: 100%;
				word-break: break-all;
				border-bottom: 1px solid #eee;
				padding-top: 8px;
				padding-bottom: 8px;
			}
		}
		.item-label {
			font-weight: 500;
		}
		ol {
			padding-left: 20px;
			margin-bottom: 0;
			//margin-top: 3px;
		}

		/** For embedded sub-objects **/
		.subitem-toggle {
			display: inline-block;
			> .link {
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				color: #00cca3; // temporary?
				cursor:pointer;
				&:hover {
					color: #00cca3;
					text-shadow : 0 0 0;
				}
			}
			> i.icon {
				width: 20px;
			}
		}

		li > span > .subitem-toggle > i.icon {
			width: 20px;
			margin-left: -20px;
			background-color: #fff;
		}

		.data-display, .sub-panel {
			padding: 0;
			padding-top: 15px;
			> .sub-descriptions > .list-item:last-child > div.item-label > .inner,
			> .sub-descriptions > .list-item:last-child > div.item-value > .inner {
				border-bottom: none;
			}
		}

		&.array-group-row {
			&:not(.last-item):not(.open) {
				> .item-label, .item-value {
					> .inner {
						border-bottom-color: transparent;
						padding-bottom: 2px;
						min-height: 20px;
					}
				}
			}
			&:not(.first-item) {
				> .item-label, .item-value {
					> .inner {
						padding-top: 2px;
					}
				}
			}
			> .item-label {
				.label-number {
					transition: transform .3s ease-out, color .3s ease-out;
					transform: scale3d(0.85, 0.85, 0.85) translate3d(16px,1px,0);
					transform-origin: 100% 25%;
					margin-top: -1px;
					color: #888;
					.number-icon {
						opacity: 0;
						transition: opacity .3s ease-out;
					}
					&.active {
						color: #000;
						transform: scale3d(1,1,1);
						.number-icon {
							opacity: 1;
						}
					}
				}
				span.dim-duplicate {
					color: transparent;
					transition: color .3s ease-out;
					white-space: nowrap;
					overflow-x: hidden;
					text-overflow: ellipsis;
					i.icon {
						display: none;
					}
				}
			}
			//> .item-value {
			//	> .inner {
			//		border-bottom-color: transparent;
			//	}
			//}
		}

		&.open {
			> .item-label {
				> .inner {
					border-bottom-color: transparent;
					span.dim-duplicate {
						color: #bbb;
					}
				}
			}
			> .item-value {
				> .inner {
					border-bottom-color: transparent;
				}
			}
		}
		.detail-embedded-table-container {
			overflow-x: auto;
			table.detail-embedded-table {
				min-width: 100%;
				tr th {
					white-space: normal;
					word-break: normal;
					padding: 7px 4px;

					&.has-children {
						> .tooltip-info-container {
							padding-left: 36px;
							border-bottom: 1px solid #ddd;
							padding-bottom: 7px;
						}
					}
					
					.sub-list-keys-header {
						margin-left: -4px;
						margin-right: -4px;
						> div.inline-block {
							padding: 5px 8px 0px;
						}
						div.child-list-row-number {
							width: 36px;
						}

					}
				}
				tr td {
					word-break: normal;
					padding: 7px 8px;
					&.child-list-row-container {
						padding: 0;
						border-left: 1px dotted #ccc;
						border-right: 1px dotted #ccc;
						border-bottom: 1px solid #ddd;
					}
					&.no-word-break {
						white-space: nowrap;
					}
				}
				tr:not(:last-child) {
					border-bottom: 1px solid #eee;
				}
				.child-list-row {
					> div {
						padding: 5px 8px;
						text-align: center;
					}
					&:not(:last-child) {
						border-bottom: 1px dotted #eee;
					}
					div.child-list-row-number {
						width: 36px;
					}
				}
			}
		}

	}

	.sub-panel {
		padding-left: 40px;
		padding-bottom: 0;
		margin-bottom: 8px;
		border-bottom: 1px dotted #bbb;
		border-left: 1px dotted #aaa;
		.item-label {
			.tooltip-info-container {
				white-space: nowrap;
				overflow-x: hidden;
				text-overflow: ellipsis;
			}
		}
	}

}

/** JSON Tree Wrapper (e.g. fallback view) **/

.json-tree-wrapper {
	border-radius: 4px;
	overflow: hidden;
	> ul {
		padding: 8px 16px 16px !important;
		margin: 0 !important;
	}
}

/*** Partial or Expandable Lists ***/

.expandable-list {
	margin-bottom: 10px;

	ul {
		margin-bottom: 0px;
	}

}

/*** Files In Set Table ***/

$download-button-width : 100px;


.files-in-set-table-title {
	font-weight: 300;
	padding-bottom: 10px;
    margin-bottom: 2px;
    border-bottom: 1px solid #f4f4f4;
	margin-top: 20px;
}

.files-in-set-table {

	margin-bottom: 20px;

	.row {



		> div {
			padding-top: 5px;
			padding-bottom: 5px;
		}

		h6.accession {
			margin: 0;
			font-size: 0.925rem;
			font-weight: 400;
			> a {
				color: #777;
				&:hover {
					color: #000;
				}
			}
		}

		> .title {
			vertical-align: middle;
			text-align: left;
			padding-top: 10px;
		}

		> .description {
			padding-top: 1px;
    		padding-bottom: 0px;
		}

		> .lab {
			text-align: right;
			.lab-icon {
				&.no-lab {
					opacity: 0.125;
				}
			}
			a.lab-icon {
				color: #555;
				transition: color .5s;
				&:hover {
					color : #000;
				}
			}
		}

		> .submitter {
			small {
				line-height: 1rem;
				color: #777;
			}
		}

		> div.divider-column {
			padding-bottom: 0;
			padding-top: 0;
			> .divider {
				border-bottom: 1px solid #f4f4f4;
				height: 1px;
			}
		}

		&.header-row {
			user-select: none;

			> div {
				font-weight: 500;
			}
			> div.divider-column > .divider {
				border-bottom: 1px solid #ddd;
			}
			> .download-button-title {
				> i.icon {
					width: 32px;
					text-align: center;
				}
				> span.file {
					display: inline-block;
					min-width: $download-button-width;
					text-align: left;
				}
				> span.docs {
					width : 33px;
					margin-left: 6px;
					display: inline-block;
					text-align: center;
				}
			}
		}

		> .download-button{
			position: relative;
			z-index: 10;
			> a.btn, > button.btn {
				&.button-dl-doc {
					margin-left: 5px;
					&.disabled {
						opacity: 0.33;
					}
				}
				&.button-dl-file {
					min-width: $download-button-width;
				}
			}

		}

	}
}

// Tablet & mobile screen size adjustments
@media screen and (max-width : $screen-sm-max){
	.files-in-set-table .row > .download-button {
		margin-bottom: -50px;
	}
}

// Mobile screen size
@media screen and (max-width : $screen-xs-max){
	.files-in-set-table .row > .download-button {
		> .button-dl-file {
			margin-bottom: 5px;
		}
	}
}

// Large screen adjustments
@media screen and (min-width : $screen-md-min){

	.files-in-set-table-title {
		margin-top: 20px;
	}

	.files-in-set-table {
		.row {

			> div, h6 {
				line-height: 30px;
			}

			h6.accession {
				text-align: right;
			}



			> .title {
				padding-top: 5px;
				padding-bottom: 5px;
				text-align: right;
			}

			> .description {
				min-height: 30px;
				padding-top: 12px;
				padding-bottom: 12px;
				line-height: normal;
			}

			> .download-button {
				height: 40px;
                padding-top: 3px;
                padding-bottom: 3px;
			}

		}
	}
	.files-in-set-table.smaller-version {
		.title h6 {
			margin: 0;
		}
	}
}




/*********** Formatted Info Panel/Block *****************/

// Mixin for top-left label. To be re-used in other areas.4s

@mixin small-block-label(){
	font-weight: 500;
	color: #646464;
	margin-bottom: 7px;
	margin-top: 0px;

	&:after {
		content : "\f105";
		font-family: "FontAwesome";
		padding-left: 6px;
	}
}

@mixin icon-container-child(){

	.icon-container {
		text-align: center;
		padding-top: 4px;
		font-size: 20px;
		//margin-bottom: -10px;

		&.col-xs-2 {
			padding-right: 0px;
			padding-left: 5px;
		}
	}

}

.formatted-info-panel {
	padding : 0 10px 12px;
	/* border-bottom: 1px solid #e2e2e2; */
	margin-bottom: 5px;

	/* Adjustments based on available props, ToDo: .no-title */

	&.has-border {
		padding : 8px 18px 15px;
	}

	&.no-icon {
		padding : 0;
		margin-bottom: 0;
		&.loading {
			min-height: 36.5px;
		}
	}

	> h6 {
		margin-left : -10px;
		@include small-block-label();

	}

	.row .icon-container {
		max-width: 50px;
	}

	h5 {
		margin-bottom: 0;
		margin-top: 2px;
		font-weight: 600;
		/* white-space: nowrap; */
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: normal;

		a {
			/* display: block; */
			overflow: inherit;
			text-overflow: inherit;
		}

		&.no-link {
			font-weight: 500;
		}

	}

	&.error-block.no-icon h5:before {
		content: "\f06a";
		font-family: FontAwesome;
		margin-right: 6px;
		color: #999;
	}

	div.more-details {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.error-message {
			white-space: pre-line;
			white-space: normal;
			opacity: 0.5;
		}
	}

	@include icon-container-child();

}

.formatted-info-panel,
.formatted-info-panel-list {

	&.loading > li,
	&.loading > .row {
		opacity : 1;
	}

	&.loaded > li,
	&.loaded > .row {
		opacity : 0;
		transition: opacity 0s;
	}

	&.loaded.transitioned > li,
	&.loaded.transitioned > .row {
		opacity : 1;
		transition: opacity .5s;
	}

}

/************** Publications Block ****************/

.publications-block {

	ul {
		margin-bottom: 0;
		padding-left: 10px;
	}

	&.single-item {
		ul {
			margin-bottom: 1px;
    		margin-top: 7px;
		}
	}

	.details {
		padding-top: 3px;
		> .details-row {
			margin-top: 7px;
		}
	}

	h6.publication-label {
		@include small-block-label();
	}

	.label-col {
		user-select: none;
	}

	.icon.abstract-toggle {
		cursor : pointer;
		color : #888;
	}

	@include icon-container-child();

}

/************** Experiments Set View **************/

.exp-table-section {

	h3 {

		span.exp-number {
			padding-top: 5px;
		}

	}

	.exp-table-container {
		overflow-x: auto;
		display: block;
		border-bottom: 1px solid #888;
	}

	/*
	table tbody tr:first-child td {

		&:nth-child(1),
		&:nth-child(2) {
			border-bottom-color: #c0c0c0;
		}
	}
	*/
}

/****** Graph Tab Section ******/

.workflow-view-container {
	.graph-wrapper {
		opacity : 1;
		transition: opacity .5s ease-out;
	}
}

/****** Graph Detail Pane ******/

.workflow-chart-inner-container {
	.detail-pane {
		> h5 {
			margin-bottom: 0px;
			& + h4 {
				margin-top: 4px;
				margin-bottom: 0;
			}
		}
		> .detail-pane-body {
			overflow-x: hidden;
		}
		.information {
			margin-top: 12px;
			padding-bottom: 3px;
			padding-top: 0;
			border-top: 1px solid #ccc;
			
			> hr {
				margin-bottom: 0;
			}

			& + hr {
				border-color: #ccc;
			}


			> .row > .box {
				padding-top : 20px;
				min-height: 64px;
				> h3 {
					margin-top: 1px;
					margin-bottom : 0px;
					> pre {
						margin-top: 5px;
					}
				}
				> h4 {
					margin-top: 4px;
					margin-bottom: 2px;
				}
				> h5 {
					margin-top: 6px;
					margin-bottom: 2px;
				}
				> .download-button {
					margin-top: 6px;
				}

				&.buttons-container {
					text-align: left;
					@media screen and (min-width: $screen-sm-min){
						text-align: right;
					}
				}

				&.steps-in-workflow {
					a:not(:last-child) {
						//margin-right: 5px;
						margin-right: 5px;
						&:after{
							content: ',';
							color: #000;
							text-decoration: none;
						}
						&:hover:after {
							text-decoration: none;
						}
					}
				}
			}

			.description-box-container {
				padding-top: 2px;
			}

			.file-title {

				> h3.node-file-title {
					overflow: hidden;
				}

				.download-button-container {
					position: absolute;
					right: 10px;
					top: 40px;
				}

				.download-button-container.exists + h3.node-file-title {
					@media screen and (max-width: $screen-md-max){
						padding-right: 30px;
					}
				}
			}

		}
	}
}

/** MetricsView **/

.metrics-view {

	.metrics-view-item {

		.inner {
			padding-top: 9px;
			padding-bottom: 9px;

			border-bottom: 1px solid #f4f4f4;

			.icon-exclamation-circle {
				color : $audit-color-error;
			}
			.icon-warning {
				color : $audit-color-warning;
			}
			.icon-check {
				color : green;
			}
		}

		h1,h2,h3,h4,h5,h6 {
			margin: 0;
		}
	}

}

/**** File VIew ****/

.item-page-container.type-File {

	.rc-tabs-content {

		.overview-blocks {
			> div {
				> .inner {
					padding: 15px 0 10px;
					h5 {
						margin-top: 0;
						margin-bottom: 5px;
						font-weight: 500;
					}
				}
			}
		}

		 .file-download-container {

			border-top: 1px solid #eee;
			margin-top: 20px;
			padding-top: 20px;

			@media screen and (min-width: $screen-md-min){
				float: right;
				padding-top: 16px;
				margin-top: 0;
				border-top: none;
			}

		}

	}

}

