/* NavBar */

$navbar-full-height : 80px;
$navbar-small-height : 40px; /* Bootstrap navbar default */
$navbar-transition-length: .3s;
$navbar-transition-easing: ease-out;

$navbar-light-active-color: #000;
$navbar-light-hover-color: #000;
$navbar-link-active-bg: #eee !default;
$navbar-link-hover-bg: #d7d7d7 !default;

@mixin navbar-link-button-item {
    position: relative;
    font-size: 1.125rem;
    font-weight: 400;
    color: $navbar-link-color;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;

    @include navbar-fixed-position {
        height: inherit;
        line-height: inherit;
    }

    i.icon {
        font-size: 1.15rem;
    }

    &.active {
        color: $navbar-link-active-color; /* Set in _base.scss */
        //text-shadow: 0 0 0px $navbar-link-active-color;
        background-color: $navbar-link-active-bg;

        i.icon {
            //text-shadow: none;
        }
    }

    &:focus,
    &:hover,
    &.dropdown-open-for {
        color: $navbar-link-hover-color; /* Set in _base.scss */
        text-shadow: 0 0 0px $navbar-link-hover-color;
        background-color: $navbar-link-hover-bg;

        i.icon {
            text-shadow: none;
        }
    }

    &[disabled] {
        color: $gray-300;

        &:focus,
        &:hover {
            background-color: transparent;
            color: $gray-300;
            cursor: default;
        }
    }

    &.dropdown-toggle {
        padding-right: 25px;
        &:after {
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -3px;
        }

        + .dropdown-menu {
            // Override, by default it'll inherit from parent (=80px)
            line-height: $line-height-base;
        }
    }

    @include navbar-static-position {
        &.big-dropdown-toggle {
            &:after {
                transform: rotate(-90deg);
            }
        }
    }
}


@include navbar-fixed-position {
    /** Parent DIV of div#top-nav.navbar-fixed-top **/
    div.navbar-container.scrolled-at-top {
        transition: padding-bottom .5s ease-out;
    }
    div.navbar-container.test-warning-visible {
        padding-bottom: 52px;
    }
}

div#top-nav.navbar-fixed-top {
    position: relative;
    top: 0;
    border: none;
    border-bottom: 1px solid #dadada;
    background: #ffffff;
    margin-bottom: 0;
    box-shadow: 0 0 3px rgba(0,0,0,0);
    transform: translate3d(0,0,0);
    transition: border-color $navbar-transition-length, box-shadow $navbar-transition-length;
    width: 100%;
    z-index: 100;

    @include navbar-fixed-position {
        position: fixed;
        background-color: rgba(255,255,255,0.933);
        body.is-select-page &,
        body.scrolled-past-top &,
        body.is-full-screen .navbar-container & {
            border-color: #d4d4d4;
            box-shadow: 0 0 3px rgba(0,0,0,0.2);
        }
    }

    > div.navbar-inner-container {
        background-color: #f8f8f8;
    }

    > div.navbar-inner-container > nav.navbar-main,
    > nav.navbar-main {
        /* React-Bootstrap Navbar itself */

        border-radius: 0;
        border: none;
        //box-sizing: content-box; /* Exclude bottom border from min-height */
        min-height: $navbar-full-height; /* Mobile default - overriden for desktop (fixed-position) size */
        line-height: $navbar-small-height; /* Mobile default - overriden for desktop (fixed-position) size */
        position: relative;

        padding: 0 10px;

        // Container size for just XL -
        @include media-breakpoint-up(xl){
            body:not(.is-full-screen) & {
                max-width: map-get($container-max-widths, "xl");
                margin: 0 auto;
            }
        }

        @include navbar-fixed-position {

            min-height: $navbar-small-height;
            height: $navbar-full-height;
            line-height: $navbar-full-height;
            z-index: 10;

            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: translate3d(0,0,0);
            transition: height $navbar-transition-length $navbar-transition-easing, 
                line-height $navbar-transition-length $navbar-transition-easing;
                /* box-shadow $navbar-transition-length, 
                border-color $navbar-transition-length */;

            body.scrolled-past-top &,
            body.is-select-page &,
            body.is-full-screen:not([data-pathname="/browse/"]):not([data-pathname="/search/"]) .navbar-container & {
                height: $navbar-small-height;
                line-height: $navbar-small-height;
                //border-color: #d4d4d4;
                //box-shadow: 0 0 3px rgba(0,0,0,0.2);
            }
        }

        /* > nav.navbar-main > .container > .navbar-header > */
        > .navbar-brand {
            padding: 0px !important;
            // margin-left: -50px !important;
            color: $navbar-default-brand-color;
            min-width: 270px;
            height: inherit;
            line-height: inherit;
            max-height: $navbar-full-height;
            margin-left: 0px;
            text-decoration: none;
            margin-right: 0;

            @include navbar-fixed-position { // = md
                min-width: 225px;
            }

            @include media-breakpoint-up(lg) {
                min-width: 260px;
            }

            @include navbar-static-position { // Unsure if needed
                min-width: 225px;
                max-width: 240px;
            }

            > .img-container {
                position: relative;
                height: inherit;
                line-height: inherit;
                display: block;
                font-size: 0rem;
                float: left;
                margin-right: 15px;
                text-align: center;
                max-height: inherit;
                > svg#fourfront_logo_svg {
                    vertical-align: middle;
                    display: inline-block;
                    height: 100%;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    transition: padding $navbar-transition-length, transform $navbar-transition-length;
                    max-height: inherit;
                    @include navbar-fixed-position {
                        body.is-select-page &,
                        body.scrolled-past-top & {
                            padding-top: 6px !important;
                            padding-bottom: 6px !important;
                        }
                    }
                }
                > .navbar-title {
                    vertical-align: middle;
                    font-weight: 300;
                    color: #444;
                    margin-left: 15px;
                    font-size: 1.7rem;
                    display: inline-block;
                    transform: translate3d(0px,0,0);
                    transition: font-size $navbar-transition-length, transform $navbar-transition-length;
        
                    @include navbar-fixed-position {
                        body.is-select-page &,
                        body.scrolled-past-top & {
                            font-size: 1.25rem;
                            transform: translate3d(-5px,0,0);
                        }
                    }
                }
            }

            // Hover over title link state
            &:hover {
                .navbar-title {
                    color: #000;
                    text-shadow: 0 0 0 #000;
                    &:after {
                        content: "\f105";
                        font-family: $fa-font-family;
                        font-weight: 900;
                        text-shadow: none;
                        margin-left: 12px;
                        font-size: 1.25rem;
                        line-height: inherit;
                        vertical-align: bottom;
                        color: #aaa;
                    }
                }
                > .img-container > svg#fourfront_logo_svg {
                    > ellipse, > .fourfront-logo-background-circle {
                        //fill:url(#fourfront_linear_gradient_darker);
                        //-webkit-animation: fa-spin 2s infinite linear;
                        //animation: fa-spin 2s infinite linear;
                        //fourfront_linear_gradient_reversed
                    }

                    text.fourfront-logo-text {
                        transition: letter-spacing 1s .4s linear, opacity .7s .4s, stroke .7s 4s, stroke-width .7s 4s, fill .7s .4s;
                        letter-spacing: -14px;
                        stroke: rgba(0,0,0,0.2);
                        opacity: 0;
                        fill: rgba(0,0,0,0);
                        stroke-width: 15px;
                    }

                    .fourfront-logo-foreground-circle {
                        transition: opacity 1.2s .6s;
                        opacity: 1;
                    }
                }
            }

        }

        /** Most of the NavBar elements reside here **/
        > .navbar-collapse {
            border-top-color: #ddd;
            &.show { // Applicable only @ smaller screen width
                border-top-style: solid;
                border-top-width: 1px;
            }

            @include navbar-fixed-position {
                height: inherit;
                line-height: inherit;
            }

            > .navbar-nav {
                
                > a {
                    @include navbar-link-button-item;
                }

                @include navbar-fixed-position {
                    height: inherit;
                    line-height: inherit;
                }

                @include navbar-static-position {
                    /** Dropdowns get custom display when collapsed **/
                    padding: 10px 0;
                    margin: 0;

                    .dropdown.show .dropdown-menu {
                        /* Unset dropdown default styles */
                        background-color: transparent;
                        border: 0;
                        box-shadow: none;
            
                        > a, .dropdown-header {
                            padding: 5px 15px 5px 25px;
                            line-height: inherit;
                            color: $navbar-link-color;
                        }
            
                    }
                }

                // User Actions Dropdown
                &.navbar-acct {

                    @include navbar-fixed-position {
                        margin-left: 10px;
                        margin-right: 0px; // Align w/ right-most container edge.
                    }

                    .user-account-item {

                        i.icon.account-icon {
                            margin-right: 8px;
                        }

                        &.has-image {
                            padding-left: 8px;
                            img.account-icon-image {
                                margin-right: 8px;
                                border-radius: 8px;
                                width: 30px;
                                height: 30px;
                            }
                            span {
                                vertical-align: middle;
                            }
                            @include media-breakpoint-up(lg){
                                img.account-icon-image {
                                    margin-right: 12px;
                                }
                            }
                        }

                        > a {
                            @include navbar-link-button-item;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .dropdown-menu {
                            /** Align it to right edge so doesn't go off-screen **/
                            left: auto;
                            right: 0;


                        }

                        @include navbar-fixed-position {
                            max-width: 100px;
                        }

                        @include media-breakpoint-between(lg, xl) {
                            max-width: 150px;
                        }

                        @include media-breakpoint-up(xl) {
                            max-width: 180px;
                        }
                    }

                }

            }

            // Navbar search
            > form.form-inline.navbar-search-form-container {
                position: relative;

                > input#navbar-search {
                    font-size: 1em;
                    width: 140px;
                    color: rgba(0,0,0,0.5);
                    border-radius: 3px;
                    border: 1px solid rgb(125,125,125);
                    height: inherit;
                    padding: 4px 5px 3px 5px;
                    -ms-transition: width 0.3s ease-out;
                    -moz-transition: width 0.3s ease-out;
                    -webkit-transition: width 0.3s ease-out;
                    transition: width 0.3s ease-out;
                    margin-left: 5px;
                    &::-webkit-search-cancel-button {
                        display: none;
                    }
                }

                .search-item-type-wrapper {
                    > div.dropdown {
                        > #search-item-type-selector {
                            height: 30px; // Match that of navbar-search <input>
                            margin-top: -1px;
                            padding-top: 5px;

                            + .dropdown-menu {
                                line-height: $line-height-base;
                                margin-top: 15%;
                                top: 50%;
                            }
                        }
                    }
                }

                @include navbar-static-position {
                    width: 100%;
                    display: flex;
                    line-height: normal;
                    padding: 10px 0;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;

                    > input#navbar-search {
                        flex-grow: 1;
                    }
                }

                @include navbar-fixed-position {

                    .search-item-type-wrapper {
                        display: none; // Hidden until lg size
                    }

                    input#navbar-search {
                        width: 150px;
                    }

                    &.has-input #navbar-search,
                    #navbar-search:focus {
                        /* dont expand width here */
                        color: rgba(0,0,0,1.0);
                        border-color: rgba(125,125,125,1.0);
                        @include transition(width 0.3s ease-out);
                    }
                }

                @include media-breakpoint-up(lg){
                    .search-item-type-wrapper {
                        display: block;
                    }
                    input#navbar-search {
                        width: 200px;
                    }
                    &.has-input input#navbar-search,
                    input#navbar-search:focus {
                        /* dont expand width here */
                        // width: 275px;
                    }
                }

                i.reset-button {
                    position: absolute;
                    top: 50%;
                    margin-top: -7px;
                    right: 10px;
                    opacity: 0.33;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                    }
                }

                .search-icon-button {
                    display: block;
                    line-height: 14px;
                    position: absolute;
                    top: 50%;
                    margin-top: -12px;
                    right: 2px;
                    opacity: 0.25;
                    border: none;
                    background: none;
                    padding: 4px 4px 2px;
                }

            }

        }

        /** When on xs & sm sizes **/
        > .navbar-toggler,
        > .navbar-toggler {
            margin-top: 20px;
            margin-bottom: 20px;
            height: 40px;
            line-height: 40px;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 8px;
            padding-right: 8px;
            font-size: 1.5rem;
            border: none;

            &:hover, &:active, &:focus {
                background-color: rgba(0,0,0,0.125);
                color: $gray-800;
            }

            > i.icon {
                transform: translate3d(0,1px,0);
            }
        
        }

    }

    #stats {
        //border-bottom: 1px solid #ddd;
        opacity : 1;
        transition: opacity .5s;
        border-top: 1px solid #eee;
        &.invisible {
            visibility: visible;
            opacity : 0;
            z-index: -1;
            border-bottom-width: 0;
            border-top-width: 0;
            .inner.container {
                height: 0px;
                transition: height .35s ease;
                body.loading-request & {
                    transition: height 0s;
                }
            }
        }
        .inner.container {
            text-align: left;
            display: block;
            height : 37px;
            transition: height .35s ease;
            overflow: hidden;
            &.showing {
                &.showing-filters {
                    height: 108px;
                }
                &.showing-charts {
                    height: 210px;
                }
                .bottom-side {
                    opacity: 1;
                }
            }
            .browse-base-state-toggle-container {
                
                > .inner-more {
                    float: right;
                    line-height: 37px;
                    height: 37px;
                    > .onoffswitch {
                        margin-top: -1px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
                
            }
            .glance-label {
                display: inline-block;
                width: 32px;
                text-align: center;
                position: relative;
                padding-top: 10px;
                height: 37px;
                border-right: 1px solid #f4f4f4;
                &.showing {
                    background-color: #f4f4f4;
                }
            }
            .bottom-side {
                opacity: 0;
                transition: opacity 0.75s;
                padding-top: 10px;
                border-top: 1px solid #f4f4f4;
                position: relative;
                .crumbs-label {
                    float: left;
                    width: 72px;
                    font-size: .85rem;
                    margin-top: 4px;
                }
                .graph-icon {
                    position: absolute;
                    right: 0;
                    top: 5px;
                    width: 20px;
                    line-height: 20px;
                }
            }
            .stat {
                //display: inline-block;
                float: left;
                padding: 5px 12px 4px 12px;
                height: 37px;
                border-right: 1px solid #f4f4f4;
                min-width: 125px;
                text-align: right;
                .stat-value {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    font-weight: 300;
                    color: rgba(100, 100, 100, 1);
                    transition: color 0.3s;
                    display: inline-block;
                    min-width: 40px;
                    small {
                        opacity : 0.75;
                        font-size: 72%;
                    }
                }
                .stat-label {
                    line-height: 1rem;
                    display: inline-block;
                    margin-left: 5px;
                    color : rgba(100, 100, 100, 0.5);
                    > a {
                        color : inherit;
                        display: inline-block;
                        &:hover {
                            color: rgba(100, 100, 100, 1);
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .navbar-container.big-menu-open & {
            .inner.container {
                transition: height 0s;
            }
        }

    }

}


/** Shown above navbar sometimes **/
.test-warning {
    position: relative;
    padding: 10px 0;
    height: 52px;
    color: #fff;
    background-color: #7e4544;
    overflow: hidden;
    transition: margin-top $navbar-transition-length $navbar-transition-easing;
    transform: translate3d(0,0,0);

    body.scrolled-past-80 & {
        margin-top: -52px;
    }

    > .container > div.row{
         > div.text-container {
    
            position: relative;
            font-size: 13.5px;
            text-align: center;
            line-height: 16px;

            @include navbar-fixed-position {
                line-height: 28px;
            }

            /** Background Styling **/
            &:before {
                content: ' ';
                display: block;
                position: absolute;
                left: -600px;
                top: -270px;
                height: 600px;
                width: 600px;
                transform: rotate3d(0,0,1,-40deg);
                background: rgba(255,255,255,0.08);
                background: #4e2828;
                box-shadow: 0 0 200px rgba(0,0,0,0.5);
                z-index: -1;
                //border-right: 7px solid rgba(255, 255, 255, 0.45);
                //outline-offset: -14px;
                //outline-color: rgba(255, 255, 255, 0.2);
                //outline-width: 4px;
                //outline-style: solid;
                //transition: outline-color .5s ease-out, border-color .5s ease-out, transform 1s ease-out;
            }
        }

        > div.close-button-container {
            line-height: 28px;
            text-align:right;
            padding-right: 20px;

            .test-warning-close {
                @include font-size(1.2rem);
                color: #fff;
                cursor: pointer;
                vertical-align: middle;
                transform: scale3d(1,1,1);
                transition: transform .3s;
            
                &:hover, .test-warning:hover & {
                    color: #fff;
                    text-decoration: none;
                    transform: scale3d(1.5,1.5,1.5) translate3d(0, 0, 0);
                }
        
            }
        }

    }

    .icon-fw.circle-icon {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 7px;
        transform: translate(0, -1px);
        //height: 27px;
        //line-height: 25px;
        //width: 27px;
    }

}

/** hide redundant navbar components for selection pages **/
body[data-pathname="/search/"][data-current-action="selection"],
body[data-pathname="/search/"][data-current-action="multiselect"] {
    #top-nav {
       a.navbar-brand,
       .navbar-nav {
           display: none;
       }
   }
   .test-warning {display:none;}
   .form-inline.navbar-search-form-container {
        width: 100%;
        input#navbar-search {
            width: 100% !important;
            margin-left: 0 !important;
        }
        .search-item-type-wrapper {
            display: none; /* redundant since handled already in JS */
        }
    }
}

/**********************************************************
		Big NavBar DropDown Menu
***********************************************************/

//#overlays-container {

    .big-dropdown-menu-background {
		content: '';
		width: 100%;
		position: fixed;
		left: 0;
		top: $navbar-full-height;
		right: 0;
		bottom: 0;
		opacity: 0;
        z-index: -1000;
        
        transform: translate3d(0px,0px,0px);
        transition: opacity .2s linear, z-index 0s .25s, top $navbar-transition-length $navbar-transition-easing;

        // Uncomment if moving from Portal to directly be rendered under/by NavBar -
        //line-height: normal; // Unset line-height: 40/80px from NavBar
        //height: 100vh;
        //height: calc(100vh - #{$navbar-full-height});

        &:first-child,
        &:first-of-type {
            background-color: rgba(28,28,30,.7);
        }

        body.scrolled-past-top &,
        body.is-select-page &,
        body.is-full-screen:not([data-pathname="/browse/"]):not([data-pathname="/search/"]) & {
            //height: $navbar-small-height;
            top: $navbar-small-height;
            //height: calc(100vh - #{$navbar-small-height});
        }

		.big-dropdown-menu {
			z-index: -100;
			border-top: 2px solid #333;
			//border-bottom: 1px solid transparent;
			margin-bottom: -1px;
			transform: translate3d(0px,0px,0px);
			color: #ddd;
			left: 0;
			right: 0;
			position: absolute;
			transition: opacity 0.1s linear, z-index 0s .2s, visibility 0s .3s, background-color .2s linear;
			visibility: hidden;
			opacity: 0;
            background-color: transparent;
            overflow-y: auto;
            max-height: calc(100vh - 80px);
	
            h1,h2,h3,h4,h5,h6 { color: #eee; }
	
			> .container {
                padding-bottom: 25px;
                
                > .mobile-close-button {
                    position: absolute;
                    cursor: pointer;
                    top: 10px;
                    right: 15px;
                    color: #5d5d5d;
                    &:hover {
                        color: #999;
                    }
                }
	
				.intro-section {
                    padding-top: 18px;
					padding-bottom: 18px;
					border-bottom: 1px solid #5d5d5d;
					h4 {
						font-weight: 300;
						margin-top: 0px;
                        margin-bottom: 0px;
                        position: relative;
                        > a,
                        > span {
							display: inline-block;
                            color: #fff;
                            position: relative;
							&:after {
								content: "\f105";
                                font-family: $fa-font-family;
                                font-weight: 900;
								opacity: 0;
                                margin-left: 5px;
                                position: absolute;
                                right: -15px;
							}
							&:hover {
								color: #5d8a8e;
								text-shadow: 0 0 0;
								text-decoration: none;
								&:after {
									opacity: 1;
								}
							}
						}
                    }
                    
                    .icon-beside-column {
                        > i.icon {
                            font-size: 2em;
                        }
                    }

                    &.active {
                        h4 {
                            > a, > span {
                                text-shadow: 0 0 0;
                                &:after {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                
                > .tree-menu-container {
	
                    > .help-menu-tree {

                        margin-top: 15px;
    
                        > .level-1-title-container > .level-1-title,
                        > a.level-2-title {
                            display: block;
                        }
    
                        > .level-1-title-container {
                            border-bottom: 1px solid #ddd;
                            margin-top: 0;
                            margin-bottom: 7px;
                            > .level-1-title {
                                //border: 1px solid transparent;
                                display: inline-block;
                                color: #333;
                                color: #fff;
                                font-weight: 500;
                                padding: 8px 0 6px 0;
                                //margin-left: -12px;
                                //margin-right: -11px;
                                border-radius: 2px;
                                //margin-bottom: -1px;
                                &:hover {
                                    border-color: #5d8a8e; 
                                    //background-color: #e7e7e7;
                                    //color: #fff;
                                    text-decoration: none;
                                    color: #000;
                                    color: #5d8a8e; 
                                    text-shadow: 0 0 0;
                                }
                                > * {
                                    vertical-align: middle;
                                }
                            }

                            &.active {
                                //background-color: #484848;
                                position: relative;
                                > .level-1-title {
                                    text-shadow: 0 0 0;
                                    &:before {
                                        font-family: $fa-font-family;
                                        font-weight: 900;
                                        content: "\f105";
                                        position: absolute;
                                        left: -15px;
                                        top: 9px;
                                    }
                                }
                            }
                        }

                        /*
                        &:not(.has-children) {
                            > .level-1-title-container {
                                border: 1px solid #ddd;
                                border-radius: 3px;
                                margin-top: 17px;
                                > a.level-1-title {
                                    padding-top: 7px;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                }
                            }
                        }
                        */

                        &.level-1-no-child-links {
                            > .level-1-title-container {
                                margin-bottom: 0;
                                border-top-color: #5d5d5d;
                                border-bottom: none;
                                &:not(:first-child) {
                                    border-top-width: 1px;
                                    border-top-style: solid;
                                }
                                > a.level-1-title {
                                    padding-top: 7px;
                                    padding-bottom: 7px;
                                }
                            }
                        }
    
                        > a.level-2-title {
                            //color: #333;
                            position: relative;
                            color: #eee;
                            font-weight: 400;
                            padding: 5px 10px 4px;
                            margin-bottom: -4px;
                            margin-top: -4px;
                            z-index: 2;
                            &:hover {
                                z-index: 5;
                                background-color: #5d8a8e;
                                color: #fff;
                                text-decoration: none;
                            }
                            &.active {
                                z-index: 1;
                                //background-color: #34959d;
                                color: #fff;
                                font-weight: 600;
                                text-decoration: none;
                                background-color: #484848;
                                /*
                                &:before {
                                    font-family: $fa-font-family;
                                    font-weight: 900;
                                    content: "\f105";
                                    position: absolute;
                                    left: 0px;
                                    top: 4px;
                                }
                                */
                            }
                        }
    
                    }

                    /*
                    &.no-level-2-children {
                        > .help-menu-tree.level-1-no-child-links {

                            > .level-1-title-container {
                                margin-bottom: 0;
                                border-top-color: #5d5d5d;
                                border-bottom: none;
                                &:not(:first-child) {
                                    border-top-width: 1px;
                                    border-top-style: solid;
                                }
                                > a.level-1-title {
                                    padding-top: 7px;
                                    padding-bottom: 7px;
                                }
                            }

                        }
                    }
                    */

                }

                @media screen and (min-width: 1600px) {
                    padding-left: 85px;
                    transition: padding-left $navbar-transition-length $navbar-transition-easing;
                    .intro-section {
                        .icon-beside-column {
                            width: 75px;
                            margin-left: -75px;
                            opacity: 1;
                            transition: opacity .5s ease-out;
                        }
                    }

                }
			}
        }

        &[data-is-test-warning-visible="true"] {
            top: 132px;
            .big-dropdown-menu {
                max-height: calc(100vh - 132px);
            }
        }

        &[data-is-mobile-view="true"]{
            top: 0px;
            .big-dropdown-menu {
                max-height: 100vh;
                height: 100vh;
            }
        }

        /*
        &[data-is-other-dropdown-closing="true"] {
            transition: none !important;
            > .big-dropdown-menu {
                transition: none !important;
            }
        }
        */

		&.big-dropdown-menu-transition-enter-done {
			opacity: 1;
			z-index: 100;
            transition: opacity .2s ease-out, top $navbar-transition-length $navbar-transition-easing;

			.big-dropdown-menu {
                //transition: opacity 0.2s ease-out, background-color .2s linear;
                transition: none; // Fade in along with background
				visibility: visible;
				z-index: 5;
				background-color: #444;
				&.fade.in {
					overflow-y: auto;
                }
                &.is-open {
                    opacity: 1;
                }
            }
            
            &[data-is-other-dropdown-closing="true"] {
                transition: none;
                .big-dropdown-menu {
                    transition: none;
                }
            }

            &[data-is-closing="true"] {
                .big-dropdown-menu {
                    transition: z-index 0s .5s, opacity 0.2s 0.01s;
                    > * {
                        visibility: hidden;
                        transition: visibility 0s 0.01s;
                    }
                }
            }

		}
	}

//}

#overlays-container {
    > .big-dropdown-menu-background {

    }
}

