/* NavBar */

.navbar-inverse {
    border: none;
    background: #ffffff;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 0;

    .navbar-brand {
        padding: 0px !important;
        // margin-left: -50px !important;
        color: $navbar-default-brand-color;
        font-size: 1.7em;
        font-weight: 300;
        height: 70px !important;
    }

    .nav > li > a {
        font-size: 1.4em;
        font-weight: 300;
        &:focus,
        &:hover {
            color: #000000;
        }

        /* Disabled sign-in link */
        &[disabled] {
            color: $gray-light;

            &:focus,
            &:hover {
                background-color: transparent;
                color: $gray-light;
                cursor: default;
            }
        }
    }
}

.navbar-fixed-top {
    position: static;

    @media (min-width: $screen-md-min) {
        position: fixed;
    }
}


.navbar-toggle {
    margin-right: 0;
    background-color: #ffffff;
    .icon-bar{
        background-color: #999999 !important;
    }
    &:hover {
      border-color: #000000;
      .icon-bar{
          background-color: #000000 !important;
      }
    }
}

.navbar-main {
    margin-bottom: 0;
    &:active{
        color: #000000 !important;
    }
}

.test-warning {
    position: relative;
    padding: 5px 0 7px;
    color: #fff;
    background-color: $brand-danger;
    @include background-image(linear-gradient(top, darken($brand-danger,20%) 0%,darken($brand-danger,10%) 5%,lighten($brand-danger,0%) 93%,lighten($brand-danger,40%) 95%));
    background-image: -ms-linear-gradient(top, darken($brand-danger,20%) 0%,darken($brand-danger,10%) 5%,lighten($brand-danger,0%) 93%,lighten($brand-danger,40%) 95%);

    p {
        margin: 0;
        width: 90%;
        @include font-size(0.85);

        @media screen and (min-width: $screen-md-min) {
            width: 100%;
            text-align: center;
            @include font-size(1);
        }
    }
}


.test-warning-close {
    position: absolute;
    width: 23px;
    height: 22px;
    top: 50%;
    right: 5px;
    margin-top: -13px;
    @include font-size(1.2);
    line-height: 23px !important;
    color: #fff;
    vertical-align: top;
    cursor: pointer;

    &:hover {
        color: #fff;
        text-decoration: none;
    }

    @media screen and (min-width: $screen-md-min) {
        position: static;
        display: inline;
        margin-top: 0;
        margin-left: 10px;
    }
}

// this is a bit janky
.custom-entry {
    margin-top: 4px;
    &>div{
        height: 19px !important;
        padding-top: 4px;
        margin-bottom: 10px;
    }
}

.dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #000000;
    // @include background-image(linear-gradient(top,  #0a253d 0%,#1d6baf 100%));


    &>li {
        &>a {
            font-weight: 300;
        }
        &>div>a {
            font-weight: 300;
        }
    }

    @media screen and (min-width: $grid-float-breakpoint) {
        left: -1px;
        margin-top: -1px !important;
        padding: 10px 0 10px 0;

        &>li {
            .global-entry {
                border-radius: 0px !important;
                padding: 4px 30px 4px 20px;
                @include font-size(1.1);
                color: #999999 !important;
                letter-spacing: 1px;
                font-weight: 300;
                text-decoration: none;
                white-space: nowrap !important;
                &:hover,&:active {
                    background-color: $navbar-inverse-link-active-bg;
                    color: $navbar-inverse-link-active-color !important;
                }
            }

            &:last-child {
                &>a {
                    border-radius: 0 0 3px 3px;
                }
            }
        }

        .navbar-right & {
            right: -1px;
        }
    }
}


// Drop down styles when window is constrained
.navbar-nav {
    font-family: 'Work Sans', sans-serif;
    // margin: ($navbar-padding-vertical / 2);
    margin: 20px;
    > li > a {
        padding-top:    10px;
        padding-bottom: 10px;
        line-height: $line-height-computed;
    }

    @media (max-width: $grid-float-breakpoint-max) {
        // Dropdowns get custom display when collapsed

        margin-bottom: 0px !important;
        .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;

            > li > a, .dropdown-header {
                padding: 5px 15px 5px 25px;
            }

            > li > div > a, .dropdown-header {
                color: #777;
                padding: 5px 15px 5px 25px;
            }

            > li > div > div > a, .dropdown-header {
                color: #777;
                padding: 5px 15px 5px 25px;
            }

            > li > a {
                line-height: $line-height-computed;
                &:hover,
                &:focus {
                    color: #000000 !important;
                }
            }
                        
            > li > div > a {
                line-height: $line-height-computed;
                &:hover,
                &:focus {
                    text-decoration: none !important;
                    color: #000000 !important;
                }
            }

            > li > div > div > a {
                line-height: $line-height-computed;
                &:hover,
                &:focus {
                    text-decoration: none !important;
                    color: #000000 !important;
                }
            }

        }
    }
}

.nav-solo{
    padding: 10px 15px 10px 25px;
    line-height: 20px;
    .global-entry{
        font-size: 1.4em;
        color: #999999;
        font-weight: 300;
        &:hover,
        &:focus {
          text-decoration: none !important;
          color: #000000 !important;
        }
    }
}

.navbar-logo-image {
    display: block;
    margin: 11px auto auto;
}

.navbar-form{
    margin: 0px;
}

// for account image
#user-inactive:hover{
    stroke: #000000 !important;
}

#user-active:hover{
    fill: #000000;
    stroke: #000000;
}
