

/** Import & extend styling of facet-list and search tables **/


/**********************/
/***** Facet List *****/
/**********************/
@import "../../../../../../node_modules/@hms-dbmi-bgm/shared-portal-components/scss/facet-list.scss";

/** Make FacetList Sticky for newer browsers **/

.search-page-container {

    .facets-container.facets.with-header-bg {
		position: sticky;
		top: 0px;
		@include navbar-fixed-position {
			top: 40px;
		}

		.facets-body {
			body.scrolled-past-80 & {
				max-height: 90vh;
				// 160 ~= 40 nav + 46 facet-list-header + footer + parent container bottom margin
				max-height: calc(100vh - 160px);
				overflow-y: auto;
				overflow-x: hidden;

				&::-webkit-scrollbar {
					width: 6px;
					height: 6px;
					background-color: transparent;
				}

				&::-webkit-scrollbar-thumb {
					background-color: #aaa;
					border-radius: 3px;
				}

				&::-webkit-scrollbar-track {
					margin-right: -1px;
				}
			}
		}

	}
	
	.search-headers-row {
		position: sticky;
		top: 0px;
		@include navbar-fixed-position {
			top: 40px;
		}
	}

    &.browse-page-container {
		@include navbar-fixed-position {
			.facets-container.facets.with-header-bg {
				top: 78px;
				.facets-body {
					body.scrolled-past-80 & {
						// 124 = 40 nav + 46 facet-list-header + 38 quickinfobar
						max-height: calc(100vh - 124px);
					}
				}
			}
		}
		
		.search-headers-row {
			@include navbar-fixed-position {
				top: 78px;
			}
		}

    }
}


/**********************/
/**** Search Table ****/
/**********************/

$search-results-above-results-row-height: 40px;
@import "../../../../../../node_modules/@hms-dbmi-bgm/shared-portal-components/scss/search-view-table";

.item-page-table-container {
	// So screen doesn't jump a lot when switching between tabs where
	// results likely not yet loaded.
	min-height: 360px;
}

// Extensions to shared-portal-components searchview table(s):
.search-result-row .result-table-row .search-result-column-block,
.item-page-table-container .item-page-table-row-container .table-row > .column {
	&[data-field="status"] {
		> .inner {
			i.item-status-indicator-dot {
				margin-left: 4px;
				margin-right: 2px;
			}
		}
	}
	&[data-field="lab.display_title"],
	&[data-field="track_and_facet_info.lab_name"]{
		> .inner {
			text-align: left;
		}
		i.user-icon {
			cursor: help;
			margin-right: 5px;
		}
	}
	&[data-field="display_title"]{
		.expset-checkbox {
			margin-right: 15px;
			margin-top: -1px;
			display: inline-block;
			vertical-align: text-top;
		}
		.mono-text {
			letter-spacing: 0.5px;
		}
		img.in-search-table-title-image {
			margin-top: -10px;
			margin-bottom: -8px;
			border-radius: 4px;
			margin-right: 10px;
			filter: saturate(0.3);
			transition: filter .2s, opacity .2s;
			opacity: 0.85;
		}
		&:hover {
			img.in-search-table-title-image {
				filter: none;
				opacity: 1;
			}
		}
	}
	&[data-field="experiments_in_set.experiment_categorizer.combined"]{
		> .inner {
			position: relative;
			text-overflow: initial;
			white-space: normal;
			div.exp-categorizer-cell {
				text-align: left;

				> small {
					position: relative;
					font-weight: 500;
				}
				> div {
					position: relative;
					width: 100%;
				}
			}

		}
	}
}

/********************************/
/***** Search Table Wrapper *****/
/********************************/

// Outer Wrapper
// Inner stuff (cell, row styling, etc.) is located in _tables.scss

.browse-page-container {
	margin-top: 40px;
	&.search-page-container {
		margin-top: 0px;
    }
    background-color: #fff;
    //background-color: rgba(255,255,255,0.9);
}


.batch-files-download-modal {
    > .modal-dialog {
        min-width: 75%;
    }
}

/********************************/
/****** Active Filters Bar ******/
/********************************/

@import "../../../../../../node_modules/@hms-dbmi-bgm/shared-portal-components/scss/active-filters-bar.scss";

/** Quick Info Bar placement **/

#stats {
	.active-filters-bar {
		height: 26px;
    	line-height: 26px;
	}
}



/*************************************************************/
/**** Row Height & Similar Overrides for Publication View ****/
/*************************************************************/

.search-page-container[data-search-item-type="Publication"] {

	.search-results-outer-container .search-results-container .inner-container .scrollable-container .search-result-row > .columns.result-table-row > .search-result-column-block {

		> .inner {
			height: 149px; // MUST be aligned to value in PublicationSearchView.js, minus 1 (for border)
		}

		&[data-field="display_title"] {
			// position: relative;
			> .inner {
				white-space: unset; // Allow lines to wrap
				.title-inner {
					div.authors-list {
						margin-top: 3px;
						line-height: 1.325rem;
						font-size: 0.9625em;
						font-weight: 500;
						> .author-name {
							&:not(:last-child):after {
								content: ","; // We do it here instead of in text/JS in case we want to use bullet points or something else later. E.g. If we need to handle "Hamill, Mark" formatting of author names for example.
								margin-right: 5px;
							}
						}
					}
					.abstract-exists-indicator {
						position: absolute;
						right: 4px;
						bottom: 3px;
						font-size: 0.8rem;
						color: $gray-500;
					}
				}
			}
		}

		&[data-field="journal"]{
			> .inner {
				white-space: unset; // Allow lines to wrap
				> span.value {
					white-space: unset; // Allow lines to wrap
				}
			}
		}

	}

}
