
/**********************************************************
		Common static page components & styles
***********************************************************/

.fourDN-header{
	font-family: $font-family-sans-serif;
	font-weight: 300;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #f4f4f4;
	font-size: 32px;
	letter-spacing: -1px;
	line-height: 38px;
	position: relative;
	
	&[id]:before {
		content : '';
		position: relative;
		top: -150px;
	}
}

h4.fourDN-header {
	font-size: 24px;
	margin-bottom: 10px;
	padding-bottom: 8px;
}

h5.fourDN-header {
	font-size: 20px;
}

.fourDN-banner{
	margin-top: 40px;
	margin-bottom: 40px;
	> h4 {
		font-size: 1.4em;
		color: #999999;
		> div {
			display: inline-block;
		}
	}
}


.fourDN-content-panel{
	margin-top: 0px !important;
}


.static-section-entry,
.home-content-area {

	font-size: 15px;
	font-size: 15.75px;
	line-height: 1.65rem;

	h1, h2, h3, h4, h5, h6 {
		> i.icon-link {
			font-size: 1rem;
			opacity: 0;
			vertical-align: middle;
			margin-left: 7px;
		}

		&:hover > i.icon-link {
			opacity: 0.3;
			cursor: pointer;
		}
	}

	h2 {
		font-weight: 400;
		margin-top: 30px;
		margin-bottom: 15px;
	}

	&:first-child {
		h2:first-child, h3:first-child, h4:first-child {
			margin-top: 0px;
		}
	}

	h3 {
		margin-top: 25px;
    	margin-bottom: 15px;
	}

	h4 {
		margin-top: 20px;
	}

	.heading-with-bottom-border,
	.homepage-section-title,
	.section-title {
		margin-bottom: 20px;
		margin-top: 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid #f4f4f4;

		&h5 { font-size: 20px; margin-bottom: 10px; padding-bottom: 8px; }

		> i.icon-link {
			opacity: 0.15;
		}
	}

	h2.section-title, h2.homepage-section-title {
		font-size: 32px; line-height: 38px;
	}

	h3.section-title, h3.homepage-section-title {
		font-size: 24px; margin-bottom: 10px; padding-bottom: 8px;
	}

	img {
		max-width: 100%;
	}

}

.static-section-entry {

	&:not([id]) .section-title > i.icon-link {
		display: none;
	}

}


.home-content-area {

	.announcement {
		padding-bottom: 10px;
		margin-top: 20px;

		.announcement-title {
			font-weight: 300;
			font-size: 1.35rem;
			border-bottom: 2px solid #168369;
			padding-bottom: 5px;
			margin-bottom: 5px;
			i.icon.icon-minus,
			i.icon.icon-plus {
				margin-right: 5px;
			}
		}

		.announcement-subtitle {
			color: #999;
			font-weight: 400;
			font-size: 0.9rem;
		}

		.announcement-content {
			margin-top: 3px;
		}
	}


	.fourDN-section-toggle{
		color: #555;
		text-decoration: none !important;
		&:hover,
		&:focus {
			color: #000000;
		}
	}

	.fourDN-section-info{
		color: #999 !important;
		font-weight: 300;
		font-size: 1.2em;
	}

}


/**********************************************************
		Table of Contents
***********************************************************/


.table-of-contents {

	position: relative;

	@media screen and (min-width : $screen-lg-min){
		position: fixed;
		margin: 0 -10px;
		padding: 0 10px;
		padding-bottom: 60px;
		top: 82px;
		transition: top .3s ease-out, margin-top .5s ease-out, max-width .5s ease-out;
		overflow-y: auto;
		right: 10px;
		//max-width: 340px;
		border-left: 1px solid #eee;
		padding-left: 16px;
		body.scrolled-past-top & {
			top : 42px;
		}

		max-width: 650px;
		&.width-bounded {
			max-width: 340px;
		}

		//ol, .next-previous-pages-section {
		//	max-width: 320px;
		//}
	}

	@media screen and (max-width : $screen-md-max){
		> ol.inner {
			border-top: 1px solid #eee;
		}
	}

	.toc-title {
		font-weight: 400;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 0;
	}

	ol {
		padding-left: 20px;
		> li {
			line-height: 1.25rem;
			transition: color .5s 0s;
			color: #888;
			position: relative;
			font-weight: 400;
			
			&[data-depth="0"] {
				padding-top: 0;
			}

			&[data-depth="1"]:first-child {
				//margin-top: 8px;
				a { border-top: none; }
			}

			&[data-depth="3"],
			&[data-depth="4"],
			&[data-depth="5"],
			&[data-depth="6"] {
				font-size: 0.9rem;
			}
			&:last-child {
				margin-bottom: 0;
			}
			.top-of-page {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				color: #999;
				margin-bottom: 3px;
				&.with-border-bottom {
					padding-bottom: 7px;
					margin-bottom: 7px;
					border-bottom: 1px solid #eee;
				}
				
				> small {
					display: none;
					line-height: 1rem;
					&:before {
						content: "|";
						margin: 0 7px 0 3px;
						color: #ccc;
					}
				}

				.expand-button-container {
					padding-top: 2px;
				}
				
				i.icon-angle-up {
					display: none;
					color: #888;
					text-align: center;
					width: 20px;
					position: relative;
					z-index: 2;
					float: left;
					padding-top: 0px;
					padding-bottom: 0px;
					margin-right: 2px;
					line-height: 24px;
				}
				&:hover {
					> small {
						display: inline;
						opacity: 1;
					}
					i.icon {
						color: #000;
					}
				}
			}

			a {
				display: block;
				transition: color .5s 0s;
				padding: 5px 0px 5px 22px;
				border-top: 1px dotted transparent;
				border-bottom: 1px dotted transparent;
				margin-bottom: 0;
				margin-top: 0;
				margin-left: -20px;
				&:focus {
					text-decoration: none;
					color: $link-color;
				}
				&:hover {
					text-decoration: none;
					color: #042d50;
					//box-shadow: 0 6px 7px -8px rgba(0,0,0,0.5);
					transition: color 0s;
				}
			}

			> div.title-link-wrapper {
				position: relative;
				> a {
					display: inline-block;
					vertical-align: middle;
				}
				> i.icon {
                    position: absolute;
					//left: -40px;
					top: 50%;
					margin-top: -9px;
					font-size: 0.85rem;
					cursor: pointer;
					width: 15px;
					height: 15px;
					line-height: 16px;
					vertical-align: middle;
					text-align: center;
					//border: 1px solid transparent;
					transform: scale3d(1,1,1);
					transition: transform .3s, color .3s;

					//left: -70px;
					//margin-left: 14%;
					left: -36px;
					
					&:hover {
						cursor: pointer;
						//border-color: initial;
						color: #000;
						transform: scale3d(1.2, 1.2, 1.2);
					}
				}
			}

			&[data-recursion-depth="1"] > div.title-link-wrapper {
				> a {
					padding-bottom: 7px;
				}
			}

			&.active {
				font-weight: 700;
				color: #000;
				> * {
					font-weight: 400;
				}
				&.top[data-depth="0"] > .top-of-page > div.title-link-wrapper {
					> a {
						color: #000;
					}
				}
				> div.title-link-wrapper > a{
					color: #000;
				}
			}

			&.active > a,
			&.active > span > a,
			&:focus > a,
			&:focus > span > a {
				color: #000;
				//text-shadow: 0 0 0;
			}
		}

	}

	.next-previous-pages-section {
		margin-top: 5px;
		&:not(:first-child){
			border-top: 1px solid #eee;
		}
	}

	> ol.inner {
		margin-bottom: 6px;
		> li:first-child {
			margin-top: 8px;
			a { border-top: none; }
		}
	}

}

/***** Static Page Breadcrumbs ******/

.breadcrumb-placeholder, .static-page-breadcrumbs {
	min-height: 55px;
}

.static-page-breadcrumbs {
	padding-top: 29px; 

	&.page-has-toc {
		@media screen and (min-width: $screen-lg-min) {
			width: 75%;
		}
	}

	> .static-breadcrumb {
		display: inline-block;
		vertical-align: middle;
		font-size: 0.875rem;
	}
}



/**********************************************************
		Directory of Static Pages or Sections
***********************************************************/

.static-page.static-directory-page {

	.grid-of-sections.row {

		> .grid-item > .inner {
			display: block;
			position: relative;
			text-decoration: none;
			margin-bottom: 20px;
			border: 1px solid #f0f0f0;
			padding: 8px 16px;
			background-color: #f8f8f8;
			transition: border-color .25s;
			color: $text-color;

			.title-link {
				color: $link-color;
				transition: color .25s;
			}

			&:hover {
				border-color: #ccc;
				cursor: pointer;
				.title-link {
					//text-decoration: underline;
					color: $link-hover-color;
					text-shadow: 0px 0px $link-hover-color;
				}
			}
		}

		&.with-sub-children {
			> .grid-item > .inner {

				.section-page-count {
					display: none;
				}

				@media screen and (min-width: $screen-sm-min) {
					height: 98px;
					.section-page-count {
						display: block;
						position: absolute;
						right: 9px;
						bottom: 5px;
						transition: opacity .25s;
						opacity: 0.33;
					}
				}


				&:hover {
					@media screen and (min-width: $screen-sm-min) {
						.section-page-count {
							opacity: 1;
						}
					}
				}

			}
		}

	}

	.next-previous-pages-section {
		.previous-section > h6:first-child,
		.next-section > h6:first-child {
			border-top: 1px solid #eee;
			padding-top: 15px;
		}
		
		h6 > a {
			font-size: 1rem;
		}
	}

}

/**********************************************************
		Big NavBar DropDown Menu
***********************************************************/

.navbar-container {

	.big-dropdown-menu {
		z-index: -100;
		border-top: 2px solid #333;
		//border-bottom: 1px solid transparent;
		margin-bottom: -1px;
		transform: translate3d(0px,0px,0px);
		color: #ddd;
		left: 0;
		right: 0;
		position: absolute;
		transition: opacity 0.1s linear, z-index 0s .2s, visibility 0s .3s, background-color .2s linear;
		visibility: hidden;
		opacity: 0;
		background-color: transparent;

		h1,h2,h3,h4,h5,h6 { color: #eee; }

		> .container {
			padding-bottom: 25px;

			> .intro-section {
				margin-bottom: 10px;
				padding-bottom: 18px;
				border-bottom: 1px solid #5d5d5d;
				h4 {
					font-weight: 300;
					margin-top: 20px;
					margin-bottom: 0px;
					> a {
						display: inline-block;
						color: #fff;
						&:after {
							content: "\f105";
							font-family: FontAwesome;
							opacity: 0;
							margin-left: 5px;
						}
						&:hover {
							color: #5d8a8e;
							text-shadow: 0 0 0;
							text-decoration: none;
							&:after {
								opacity: 1;
							}
						}
					}
				}
			}

			> .row.help-menu-row {
				margin-top: 10px;
				> .help-menu-tree {

					> .level-1-title-container > a.level-1-title,
					> a.level-2-title {
						display: block;
					}

					> .level-1-title-container {
						border: 1px solid #646464;
						margin-top: 0;
						margin-bottom: 7px;
						> a.level-1-title {
							//border: 1px solid transparent;
							display: block;
							color: #333;
							color: #fff;
							font-weight: 500;
							padding: 8px 9px 6px 9px;
							//margin-left: -12px;
							//margin-right: -11px;
							border-radius: 2px;
							//margin-bottom: -1px;
							&:hover {
								border-color: #5d8a8e; 
								//background-color: #e7e7e7;
								//color: #fff;
								text-decoration: none;
								color: #000;
								color: #5d8a8e; 
								text-shadow: 0 0 0;
							}
						}
					}

					&.has-children {
						> .level-1-title-container {
							border-color: transparent;
							border-bottom-color: #ddd;
							> a.level-1-title {
								display: inline-block;
								padding-left: 0;
								padding-right: 0;
							}
						}
					}

					> a.level-2-title {
						//color: #333;
						position: relative;
						color: #eee;
						font-weight: 400;
						padding: 5px 10px 4px;
						margin-bottom: -4px;
						margin-top: -4px;
						z-index: 2;
						&:hover {
							z-index: 5;
							background-color: #5d8a8e;
							color: #fff;
							text-decoration: none;
						}
						&.active {
							z-index: 1;
							//background-color: #34959d;
							color: #fff;
							font-weight: 600;
							text-decoration: none;
							background-color: #484848;
							&:before {
								font-family: "FontAwesome";
								content: "\f105";
								position: absolute;
								left: 0px;
								top: 4px;
							}
						}
					}

				}

			}
		}
	}

	> .big-dropdown-menu-background {
		content: '';
		width: 100%;
		background-color: rgba(28,28,30,.7);
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: -1000;
		transition: opacity .2s linear, z-index 0s .25s;
		transform: translate3d(0px,0px,0px);
	}

	&.big-menu-open > .big-dropdown-menu-background {
		opacity: 1;
		z-index: 100;
		transition: opacity .2s ease-out;
	}

	&.big-menu-open .big-dropdown-menu {
		transition: opacity 0.2s linear, background-color .2s linear;
		visibility: visible;
		z-index: 5;
		opacity: 1;
		background-color: #444;
		&.fade.in {
			overflow-y: auto;
		}
	}

}


/**********************************************************
		Misc Static Pages
***********************************************************/

// Home

.home-announcements {
	padding: 5px !important;
	margin-top: 30px;
}

.homepage-links-row {

	.links-wrapper {

		display: flex;

		.link-block {
			
			> a {
				background: #f8f8f8;
				padding: 8px 10px;
				display: block;
				/* text-align: center; */
				font-weight: 400;
				height: 100%;
				border: 1px solid rgba(0,0,0,0.05);
				/*
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				*/

				&:hover {
					background-color: #f4f4f4;
				}

				> span {
					display: inline-block;
					vertical-align: middle;
				}
			}
			
			
			&:not(:first-child){
				border-left: 1px solid #eee;
			}
			
			/*
			&:last-child {
				border-right: 1px solid #ddd;
			}
			*/
		}

	}

}

.home-content-area {
	margin-top: 15px;
}

// Error

.error-page{
	margin-top: 50px;
}

// Help > Get Started

.slide-display{
	padding: 20px 0px 20px 0px;
	>img{
		display: block;
		margin: auto;
	}
	>.slide-controls{
		text-align: center;
	}
}


/*********************************************
 *** Temporary NOFIC Matrices Side by Side ***
 *********************************************/

@media screen and (min-width: $screen-lg-min){

	#content.container > .static-page.row #nofic-matrix-1,
	#content.container > .static-page.row #nofic-matrix-2,
	#content.container > .static-page.row #nofic-matrix-3,
	#content.container > .static-page.row #nofic-matrix-4 {
		position: relative;
		float: left;
		width: 50%;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	#content.container > .static-page.row #nofic-matrix-1 {
		padding-right: 15px;
	}

	#content.container > .static-page.row #nofic-matrix-2,
	#content.container > .static-page.row #nofic-matrix-3,
	#content.container > .static-page.row #nofic-matrix-4 {
		padding-left: 15px;
	}

	body[data-path="/joint-analysis-data-plans"],
	body[data-path="/joint-analysis-data-plans/dev"],
	body[data-path="/joint-analysis-data-plans/jan2018"],
	body[data-path="/joint-analysis-data-plans/jan2018/dev"],
	body[data-path="/joint-analysis-data-plans/july2018"],
	body[data-path="/joint-analysis-data-plans/july2018/dev"]{

		#content.container > .static-page.row #matrix-1,
		#content.container > .static-page.row #matrix-2,
		#content.container > .static-page.row #matrix-3,
		#content.container > .static-page.row #matrix-4 {
			position: relative;
			float: left;
			width: 50%;
			margin-top: 0px;
			margin-bottom: 20px;
			padding-right: 15px;
		}

		#content.container > .static-page.row #matrix-2,
		#content.container > .static-page.row #matrix-3,
		#content.container > .static-page.row #matrix-4 {
			float: right;
			padding-left: 15px;
		}

		#content.container > .static-page.row #matrix-2,
		#content.container > .static-page.row #matrix-3 {
			> div:first-child {
				border-bottom: 1px solid #bbb;
			}
		}

	}

}



#legend.static-section-entry .section-title,
#release-updates-section.static-section-entry .section-title {
	font-weight: 500;
	padding-bottom: 12px;
	border-bottom: 1px solid #eee;
}


#content.container,
#legend.static-section-entry {

	div.rm-cell, div.color-patch {
		@include planned-submitted-cell-styles;
	}

}

#legend.static-section-entry {
	margin-bottom: 10px;
    padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	.section-joint-anlysis-data-legend {
		font-size: 1rem;
		> .col-sm-3 {
			text-align: center;
		}
		.color-patch {
			height: 20px;
			width: 20px;
			display: inline-block;
			margin-right: 5px;
			vertical-align: text-bottom;
		}
		span.legend-label {
			vertical-align: top;
		}
	}
}

