
/**********************************************************
		Common static page components & styles
***********************************************************/

.fourDN-header{
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #f4f4f4;
	font-size: 32px;
	letter-spacing: -1px;
	line-height: 38px;
	position: relative;
	
	&[id]:before {
		content : '';
		position: relative;
		top: -150px;
	}
}

h4.fourDN-header {
	font-size: 24px;
	margin-bottom: 10px;
	padding-bottom: 8px;
}

h5.fourDN-header {
	font-size: 20px;
}

.fourDN-banner{
	margin-top: 40px;
	margin-bottom: 40px;
	> h4 {
		font-size: 1.4em;
		color: #999999;
		> div {
			display: inline-block;
		}
	}
}

.fourDN-section{
	font-family: 'Work Sans', sans-serif;
	padding-bottom: 10px;
	margin-top: 20px;
}

.announcement {
	font-family: 'Work Sans', sans-serif;
	padding-bottom: 10px;
	margin-top: 20px;

	.announcement-title {
		font-weight: 300;
		font-size: 1.35rem;
		border-bottom: 2px solid #168369;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}

	.announcement-subtitle {
		color: #b3b3b3;
		font-weight: 400;
		font-size: 0.925rem;
	}

	.announcement-content {
		margin-top: 10px;
		font-size: 1.25rem;
	}
}

.fourDN-section-toggle{
	color: #999999;
	text-decoration: none !important;
	&:hover,
	&:focus {
		color: #000000;
	}
}

.fourDN-section-info{
	color: #b3b3b3 !important;
	font-weight: 300;
	font-size: 1.2em;
}


.fourDN-content{
	font-family: 'Yrsa', serif;
	line-height: 130%;
	font-size: 1.375rem;

	> h2, > div > h2 {
		font-weight: 400;
		margin: 30px 0;
	}

	> h3, > div > h3 {
		margin-top: 25px;
    	margin-bottom: 15px;
	}

	> h4, > div > h4 {
		margin-top: 20px;
	}

	img {
		max-width: 100%;
	}

}

.fourDN-content-panel{
	margin-top: 0px !important;
}


/**********************************************************
		Table of Contents
***********************************************************/


.table-of-contents {

	position: relative;

	@media screen and (min-width : $screen-lg-min){
		position: fixed;
		margin: 0 -10px;
		padding: 0 10px;
		top: 115px;
		transition: top .75s, max-height .75s, margin-top .75s ease-out;
		overflow-y: auto;
		body.scrolled-past-top & {
			top : 70px;
		}
	}

	.toc-title {
		font-weight: 400;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 0;
	}

	ol { 
		padding-left: 20px;
		> li {
			line-height: 1.25rem;
			transition: font-weight .5s .25s, color .5s .25s;
			color: #888;
			position: relative;
			
			&[data-depth="0"] {
				padding-top: 0;
			}

			&[data-depth="1"]:first-child {
				//margin-top: 8px;
				a { border-top: none; }
			}

			&[data-depth="3"],
			&[data-depth="4"],
			&[data-depth="5"],
			&[data-depth="6"] {
				font-size: 0.9rem;
			}
			&:last-child {
				margin-bottom: 0;
			}
			.top-of-page {
				display: block;
				border-bottom: 1px solid #eee;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				color: #999;

				> a {
					padding-top: 10px;
					padding-bottom: 10px;
				}
				
				> small {
					display: none;
					line-height: 1rem;
					&:before {
						content: "|";
						margin: 0 7px 0 3px;
						color: #ccc;
					}
				}
				&:hover {
					> small {
						display: inline;
						opacity: 1;
					}
				}
				i.icon {
					color: #888;
					text-align: center;
					width: 20px;
					position: relative;
					z-index: 2;
					float: left;
					padding-top: 0px;
					padding-bottom: 0px;
					height: 33px;
					line-height: 33px;
				}
			}

			a {
				display: block;
				transition: color .5s .25s;
				font-weight: 400;
				padding: 5px 0px 7px 22px;
				border-top: 1px dotted transparent;
				border-bottom: 1px dotted transparent;
				margin-bottom: 0;
				margin-top: 0;
				margin-left: -20px;
				&:focus {
					text-decoration: none;
					color: $link-color;
				}
				&:hover {
					text-decoration: none;
					color: #042d50;
					//box-shadow: 0 6px 7px -8px rgba(0,0,0,0.5);
					transition: color 0s;
				}
			}

			> div.title-link-wrapper {
				position: relative;
				> a {
					display: inline-block;
					vertical-align: middle;
				}
				> i.icon {
                    position: absolute;
					left: -40px;
					top: 50%;
					margin-top: -9px;
					font-size: 0.85rem;
					cursor: pointer;
					width: 15px;
					height: 15px;
					line-height: 16px;
					vertical-align: middle;
					text-align: center;
					//border: 1px solid transparent;
					transform: scale3d(1,1,1);
					transition: transform .3s, color .3s;

					left: -70px;
					margin-left: 14%;
					
					&:hover {
						cursor: pointer;
						//border-color: initial;
						color: #000;
						transform: scale3d(1.2, 1.2, 1.2);
					}
				}
			}

			&.active {
				font-weight: 700;
				color: #000;
				> * {
					font-weight: 400;
				}
			}

			&.active > a,
			&.active > span > a,
			&:focus > a,
			&:focus > span > a {
				color: #000;
				//text-shadow: 0 0 0;
			}
		}

	}

	> ol.inner {
		> li:first-child {
			margin-top: 8px;
			a { border-top: none; }
		}
	}

}

/**********************************************************
		Misc Static Pages
***********************************************************/

// Home

.home-announcements {
	padding: 5px !important;
	margin-top: 30px;
}

.homepage-links-row {
	
	.link-block {
		width: 25%;
		float: left;
		text-align: center;
		font-weight: 500;
		padding: 4px 8px;
		//border-left: 1px solid #ddd;

		&:not(:first-child){
			border-left: 1px solid #eee;
		}
		/*
		&:last-child {
			border-right: 1px solid #ddd;
		}
		*/
	}

}

.home-content-area {
	margin-top: 40px;
}

// Error

.error-page{
	margin-top: 50px;
	text-align: center;
}

// Help > Get Started

.slide-display{
	padding: 20px 0px 20px 0px;
	>img{
		display: block;
		margin: auto;
	}
	>.slide-controls{
		text-align: center;
	}
}

/**********************************************************
		User Profile Page
***********************************************************/

.page-container > .row.first-row {
	margin-top: 29px;
}

.panel.user-info,
.panel.user-work-info {

	margin-bottom: 0;

	#email {
		font-weight: 500;
	}

	.formatted-info-panel {

		&:not(.no-details){
			/* min-height: 41px; */
		}

		/* When in list (maybe ToDo: li > .formatted-info-panel) ... */
		&.no-details.no-icon.no-label {
			display: inline-block;
			padding: 0;
			vertical-align: text-top;
			max-width: 85%;
			word-break: break-word;
		}

		.block-title,
		.block-title a {
			font-weight: 600;
		}
	}

}

.panel.user-info {
	/* for fun - comment out bottom transform in Inspect Element */
	transform: rotateZ(0deg) scale3d(1, 1, 1) translateX(0);
    opacity: 1;
	left: 0px;
	transition: transform 1.2s ease-out, opacity 1.5s ease-out, left 1.2s ease-out;
	position: relative;
	z-index: 2;
	background-color: #fff;

	&.transition { transform: rotateZ(-900deg) scale3d(0.1, 0.1, 0.1) translateX(-1200px); opacity: 0; left: -900px; }

	.user-title-row-container {
		margin-bottom: 20px;
		border-bottom: 1px solid #eee;
	}

	.user-title-col {
		padding-bottom: 17px;
	}

	.user-title {
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: 300;
		font-size: 2.6rem;

		.editable-field-entry {
			//max-width: 50%; // Need to fit 2 inline editable fields on one row for users full name.
			text-overflow: ellipsis;
			.value {
				word-break: break-word;
				.edit-button {
					font-size: 1rem;
				}
			}
			&.editing{
				//max-width: 70%;
			}
		}

	}

	@media screen and (min-width: $screen-sm-min){

		.user-title-col {
			padding-top: 15px;
			min-height: 85px;
			padding-bottom: 30px;
		}

		.user-title {
			/* white-space: nowrap; */
			/* overflow: hidden; */
			text-overflow: ellipsis;
		}
	}

	@media screen and (max-width: $screen-xs-max){

		.user-title-col {
			padding-top: 2px;
		}

		.user-title {
			font-size: 2rem;
			font-weight: 400;
			margin-right: 70px;
		}
	}

	img.gravatar {
		width: 70px;
		height: 70px;
		float: right;
		border-radius: $border-radius-base;
	}

	@media screen and (max-width: $screen-xs-max){
		img.gravatar {
			width: 94px; /* Account for border */
			height: 70px;
			position: relative;
			z-index: 2;
			margin-bottom: -30px;
			margin-top: 5px;
			border-left: 24px solid #FFF;
		}
	}

}

@media screen and (min-width: $screen-sm-min){
	.editing .user-title .editable-field-entry.inline:not(.editing) {
		display: inline-block;
		//max-width: 30%;
	}
}

.panel.user-work-info {

	> .block-title {
		margin-bottom: 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid #eee;
		padding-top: 0;

		> i.icon.icon-fw {
			margin-right: 5px;
			font-size: 1.5rem;
		}
	}

}

.access-keys-container {
	padding-top: 15px;

	> h3 {

		margin-bottom: 17px;
		/*
	    padding-bottom: 17px;
    	border-bottom: 1px solid #eee;
		*/
	}

	table.access-keys-table {
		margin-bottom: 20px;

		tr {
			/*
			&:nth-child(2n-1) {
				background-color: #f8f8f8;
			}
			*/
			td {
				border-bottom: 1px solid #eee;
				&.access-key-buttons {
					width: 140px;
					.btn.btn-xs {
						margin: 0 4px;
					}
				}
			}
		}
	}

	#add-access-key.btn{
		float: right;
		min-width: 180px;
	}

	.no-access-keys > hr:first-child {
		margin-top: 0;
		margin-bottom: 17px;
	}

}


/*********************************************
 *** Temporary NOFIC Matrices Side by Side ***
 *********************************************/

@media screen and (min-width: $screen-lg-min){

	#content.container > .static-page.row #nofic-matrix-1,
	#content.container > .static-page.row #nofic-matrix-2,
	#content.container > .static-page.row #nofic-matrix-3,
	#content.container > .static-page.row #nofic-matrix-4 {
		position: relative;
		float: left;
		width: 50%;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	#content.container > .static-page.row #nofic-matrix-1 {
		padding-right: 15px;
	}

	#content.container > .static-page.row #nofic-matrix-2,
	#content.container > .static-page.row #nofic-matrix-3,
	#content.container > .static-page.row #nofic-matrix-4 {
		padding-left: 15px;
	}

	body[data-path="/joint-analysis-data-plans"]{
		#content.container > .static-page.row #nofic-matrix-2,
		#content.container > .static-page.row #nofic-matrix-3,
		#content.container > .static-page.row #nofic-matrix-4 {
			float: right;
		}

		#content.container > .static-page.row #nofic-matrix-2,
		#content.container > .static-page.row #nofic-matrix-3 {
			> div:first-child {
				border-bottom: 1px solid #bbb;
			}
		}

	}

}

#content.container,
#legend.static-section-entry {
	div.rm-cell.cellType-submitted, div.color-patch.cellType-submitted {
		background-color: #53a74e !important;
	}
	div.rm-cell.cellType-planned, div.color-patch.cellType-planned {
		background-color: rgba(143, 143, 169, 0.5) !important;
	}
	div.rm-cell.cellType-in-submission, div.color-patch.cellType-in-submission {
		background-color: rgba(143, 143, 169, 0.5) !important;
		overflow: hidden;
		&:before {
			content: '';
			display: block;
			width: 150%;
			height: 150%;
			background-color: #53a74e;
			transform: rotate3d(0,0,1, 45deg) translate3d(-74%, 0px, 0px);
		}
	}
	div.rm-cell.cellType-none, div.color-patch.cellType-none {
		background-color: transparent !important;
	}
}

#legend.static-section-entry {
	margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
	.section-joint-anlysis-data-legend {
		font-family: "Work Sans",Helvetica,Arial,sans-serif;
		font-size: 1rem;
		> .col-sm-3 {
			text-align: center;
		}
		.color-patch {
			height: 10px;
			width: 10px;
			display: inline-block;
			margin-right: 5px;
		}
	}
}

