/*  TABLES    */

table {
    @include font-size(0.9);
}

thead, tfoot {
    background: none repeat scroll 0 0 #f5f5f5;
}

table>thead>tr>th {
    background-color: #eee;
    border-top: none;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 5px 3px 5px;
    font-weight: bold; /* In case 600 not available for font */
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle !important;
    &:first-child {
        border-left: none !important;
    }
}

table>tbody>tr>td {
    border-top: 0px;
    padding: 2px 3px;
    text-align: center;
    vertical-align: middle !important;
}

.table-panel {
    @extend .panel;
    padding: 0;
    margin: 0;
    border-collapse: separate;

    tr:last-child td:first-child {
        @include border-bottom-left-radius($border-radius-base);
    }

    tr:last-child td:last-child {
        @include border-bottom-right-radius($border-radius-base);
    }
}

.table-striped {
    > tbody {
        > tr:nth-child(odd) {
            > td {
                background-color: #fff;
                border-top: none;
            }
        }
        > tr:nth-child(even) {
            > td {
                background-color: #f9f9f9;
                border-top: none;
            }
        }
    }
}

.table-tbody-striped {
    > tbody:nth-child(odd) {
        background-color: #f9f9f9;
    }
    > tbody:nth-child(even) {
        background-color: #ffffff;
    }
}

@media (max-width: $screen-xs-max) {
    .table-responsive {
        th,
        td {
            max-width: 250px !important;
            white-space: normal !important;
        }
    }
}


/* Table Controls */
.table-responsive {
    position: relative;
    overflow-x: auto;
    background-image: inline-image("../img/checker.svg");
    background-size: 16px 16px;
}

table thead tr th button {
    float: left;
}

form.table-filter {
    display: inline-block;
    float: right;
    margin-bottom: 0px !important;
}

#table-filter {
    display: inline-block;
    width: 265px;
    @include font-size(1.2);
}

.table-count {
    @include font-size(1, true);
    display: inline-block !important;
    padding: 0.5em 2em !important;
    margin-right: 1em;
}

.spinner-warning {
    background: #F89406 url("../img/spinner-orange-bg.gif") no-repeat;
    background-position: 7px 9px;
}

.table-meta-data {
    height: $input-height-base;
    display: block;
    float: left;
}

.table-actions {
    margin-left: 1em;
    button {
        float: none;
    }
}

/* initial state is hidden (see template; class=hide) */
#total-records {
    font-weight: normal;
}

// Allow line breaks in table cells (esp Targets)
.collection-table tbody span {
    display: block;
}

.col-headers th:hover {
    cursor: pointer;
}

.tcell-sortable {
    cursor: pointer;
}

.table-file {
    margin-bottom: 20px;

    .table {
        margin-bottom: 0;
    }
}

.table-sortable {
    thead {
        tr {
            border-bottom: 1px solid #e0e0e0;

            th {
                position: relative;
                height: 4em;
                vertical-align: middle;
                border-left: 1px solid #e0e0e0 !important;
                border-bottom: 1px solid #e0e0e0 !important;

                &:first-child {
                    border-left: none !important;
                }
            }
        }
    }
}

.table-section {
    @include font-size(1.3);
    font-weight: bold;
    background-color: #e8e8e8;

    th {
        height: auto !important;
    }
}

.tcell-sortable {
    &:hover {
        background-color: #e0e0e0;
    }
}

%tcell-template {
    @extend .icon;
    position: absolute;
    right: 5px;
    top: 1.6em;
}

.tcell-sort {
    @extend %tcell-template;
    @extend .icon-sort;
}

.tcell-asc {
    @extend %tcell-template;
    @extend .icon-sort-asc;
}

.tcell-desc {
    @extend %tcell-template;
    @extend .icon-sort-desc;
}

.highlight-row {
    td {
        background-color: #606060 !important;
        color: #fff;
        font-weight: bold;

        a {
            color: #fff !important;
        }
    }
}

// note the position of the inner span isn't calculated correctly yet
$rotated-th-height: 130px;
$rotated-th-width: 20px;
$rotated-th-angle: 30deg;

th.rotate30 {
    height: $rotated-th-height;
    width: $rotated-th-width;
    min-width: $rotated-th-width;
    max-width: $rotated-th-width;
    position: relative;
    vertical-align: bottom;
    padding: 0 !important;
    border: none !important;
    > div {
        position: relative;
        top: 0;
        left: $rotated-th-height * tan($rotated-th-angle) / 2;
        height: 100%;
        -webkit-transform: skew(-$rotated-th-angle, 0deg);
        transform: skew(-$rotated-th-angle, 0deg);
        background-color: #ddd;
        border-left: solid 1px #fff;
        border-right: solid 1px #fff;
        > span {
            -webkit-transform: skew($rotated-th-angle, 0deg) rotate(270deg + $rotated-th-angle);
            transform: skew($rotated-th-angle, 0deg) rotate(270deg + $rotated-th-angle);
            position: absolute;
            bottom: 59px;
            left: -57px;
            display: inline-block;
            width: $rotated-th-height / cos($rotated-th-angle) - $rotated-th-width * cos($rotated-th-angle);
            text-align: left;
            line-height: 1.2;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
th.rotate90 {
    vertical-align: top;
    > div {
        position: relative;
        > span {
            position: absolute;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0;
            top: 80px;
            left: 16px;
        }
    }
}
table.matrix {
    width: auto;
    th {
        text-align: right;
        padding: 0 .5em;
    }
    td {
        vertical-align: middle;
        text-align: center;
        padding: 0 !important;
        border: solid 1px #f9f9f9;
    }
    tfoot {
        background: transparent;
    }
}



/***** Updated Exp/ExpSet tables ******/

/** ExpSet Tables for Browse page **/

.expset-button{
	padding: 0px !important;
	text-align: center;
	box-shadow: none !important;
}

.expset-result-table-fix {
	&.overflowing:after {
		/*
		content : "";
		height: 100%;
		position: absolute;
		top: 0;
		right: -1px;
		border-right: 1px solid transparent;
		box-shadow: 0px 0 8px #000;
		*/
	}
}

.expset-table-container {
	overflow-x: auto;
	position: relative;
	margin-bottom: 80px;
	padding-right: 0px;
	border-right: 10px solid #fff;

	.expset-panel {
		margin: 0px;
		border: none;

		> div > .panel-body{
			padding: 0;
			padding-left: 30px;
		}
	}
}

.expset-table,
.expsets-table {

	border: none !important;

	> thead,
	> tbody {
		> tr > :first-child {
			border-left: none;
		}
		> tr > :last-child {
			border-right: none;
		}
	}

	> thead {

		> tr > th {
			border: none;
			padding: 8px;
		}

	}

	> tbody.expset-section {
		/*
		&:nth-child(odd) > tr.expset-table-row {
			background-color: #f9f9f9;
		}
		&:nth-child(even) > tr.expset-table-row {
			background-color: #ffffff;
		}
		*/

		> tr > td {
			/*
			border: 1px solid $expset-table-border-color;
			border-left-color : #f4f4f4;
			border-left-color: rgba(0,0,0,0.02);
			border-right-color : #f4f4f4;
			border-right-color: rgba(0,0,0,0.02);
			*/
			border-top: 1px solid #ddd;
			border-bottom: none; /* Show top border instead of bottom border to make highlighting currently-open cell easier */
			max-width: 160px;

			&.dropdown-button-cell {
				padding : 0 !important;
				width : 38px;
			}
		}

	}

}

/* Only for table of Experiment Sets */

$open-expset-table-side-border-color : #e4e4e4;

.expset-hits {
	padding: 0px 10px 0px 10px;
}

.expset-sublist-entry {
	margin-bottom: 2px;
}

.expset-sublist-empty{
	margin-left: 50px;
	margin-bottom: 2px;
	color: #999999;
}


.expset-checkbox-sub{
	margin: 0px -6px -3px 0px !important;
	display: inline-block;
}

.expset-checkbox-cell{
	text-align: center;
}

.expset-file{
	margin-left: 25px;
}

.expset-whole-selector{
	padding: 10px;
}

.expset-file-selector{
	@media (min-width: $screen-sm-min){
		border-right: 1px #ccc solid;
		padding-right: 10px;
		margin-right: 10px;
	}
}

.expset-selector-header{
	> h5{
		margin: 0px !important;
	}

}

.expset-selector-button{
	margin-top: 5px;
}

.browse-title{
    text-align: left;
    margin-bottom: 10px;
	font-weight: 400;
	color: #999999 !important;
}

//extend table class to get ride of bottom margin
.table{
	margin-bottom: 0px;
}

.control-cell{
	white-space: nowrap;
}


/** Experiment Set Detail Pane **/

.experiment-set-info-wrapper {

	position: relative;
	z-index: 1;


	.expset-addinfo {
		text-align: left;
		//border-bottom: 1px solid #ccc;
		position: relative;
		overflow: hidden;
		min-height: 62px; //104px;

		.addinfo-description-section,
		.addinfo-properties-section {
			padding-top: 12px;
			padding-bottom: 8px;
			position: static;
		}

		.expset-addinfo-row {
			margin-bottom: 5px;
		}

		@media screen and (min-width: $screen-sm-min){

			.addinfo-properties-section.col-sm-6 {
				padding-left : 18px;
			}

			.row > .addinfo-description-section.col-sm-6:after {
				content : "";
				width: 1px;
				height: 100%;
				position: absolute;
				left: 50%;
				top: 0;
				margin-left: -1px;
				border-left: 1px solid #f4f4f4;
			}

			label.description-label {
				font-weight: 500;
				margin-bottom: 2px;
				display: block;
			}
		}

		.expset-addinfo-key {
			font-weight: 500;
		}

		.expset-addinfo-val {
			padding-right: 25px;
		}
	}

	.files-tables-container {

		.raw-files-table-section,
		.processed-files-table-section {
			border-top: 1px solid #ddd;
		}

		h4.pane-section-title {
			font-weight: 300;
			margin-top: 12px;
			margin-bottom: 12px;
			cursor: pointer;

			i.icon {
				font-size: 0.875rem;
				margin-right: 3px;
				position: relative;
				top: -1px;
				&.toggle-open-icon {
					cursor: pointer;
					margin-right: 6px;
					padding: 2px 0;
					opacity: 0.66;
				}
			}

			&:hover {
				text-shadow: 0 0 0;
				i.icon.toggle-open-icon {
					opacity: 1;
				}
			}
		}

	}



}


.invis-cell{
	background-color: #fff !important;
	border: 0px !important;
}


/** Primarily for Browse Table / View **/

.exptype-box{

	//display: none; /* TEMPORARY - FOR ALIGNMENT */
	padding: 10px 0;
	height: 38px;

	> div > .btn-group > button {
		width: 240px;
		text-align: left;
	}
	> div > .btn-group > ul {
		width: 240px;
		text-align: left;
		padding: 10px;
	}
}

.above-chart-row {
	min-height: 38px;
	@media screen and (min-width: $screen-sm-min){
		.expset-result-table-fix & {
			margin-top: -38px;
		}
	}
}

// Column Widths - these are also set & used from JS, but these override.
// ToDo: Remove and rely exclusively on JS? (Easier testing, no reliance on componentDidMount).
/*
$expset-col-biosample : 115px;
$expset-col-experiment : 145px;
$expset-col-file-pair : 40px;
$expset-col-file : 125px;
$expset-col-file-detail : 100px;
$expset-full-width : $expset-col-biosample + $expset-col-experiment + $expset-col-file-pair + $expset-col-file + ($expset-col-file-detail * 2);
*/
// Block Colors
$expset-biosample-bg-odd : #f7f9f8;
$expset-biosample-bg-even : #f8f9f7;

$small-label-accession-font-size : 0.75rem;

.stacked-block-table {

	position: relative;
	display: block;
	//min-width: $expset-full-width;
	min-width: 750px;
	transition: opacity .35s;

	&.fade-in:not(.mounted){
		opacity: 0;
	}
	/*
	.col-biosample 		{ width: $expset-col-biosample; }
	.col-experiment 	{ width: $expset-col-experiment; }
	.col-file-pair	 	{ width: $expset-col-file-pair; }
	.col-file 			{ width: $expset-col-file; }
	.col-file-detail 	{ width: $expset-col-file-detail; }
	*/
	.headers {
		display: block;
		text-align: right;
		height: 42px;

		text-overflow: ellipsis;
		white-space: nowrap;
		//background: #f8f8f8;


		> .heading-block {
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			vertical-align: middle;
			height: inherit;
			padding: 12px 6px;
			background: inherit;
			font-weight: 500;
			font-size: 0.9rem;
			border-top: 1px solid #e8e8e8;
			.rc-tabs-tabpane & {
				border-top-color: #ccc;
			}
			//&:not(:last-child){
			//	border-right: 1px solid #ddd;
			//}

			&.text-left 	{
				text-align: left;
				padding-left: 0;
			}
			&.text-right 	{
				text-align: right;
				padding-right: 0;
			}

			> i.icon {
				font-size: 1rem;
			}
		}
	}

	.col-file-detail:not(.heading-block) {
		text-align: center;
	}

	> .body {
		font-size: 0.9rem; /* Same as table */
		//border-top: 2px solid #333;
		//border-bottom: 2px solid #333;
		transform: translate3d(0,0,0);

		.s-block-list {
			//@media screen and (min-width: $screen-md-min){
				display: inline-block;
				vertical-align: middle;
			//}

			.collapsible-s-block-ext {
				transform: translate3d(0,0,0);
				&.transition-med {
					transition: height .5s ease;
				}
				&.transition-slow {
					transition: height 1s ease;
				}
			}

			.view-more-button {
				text-align: left;
				padding: 0px 12px;
				line-height: 32px;
				cursor: pointer;
				border-top: 1px solid #888;
				border-top-color: rgba(0,0,0,0.5);
				margin-top: -1px;
				font-weight: 500;
				font-size: 0.85rem;
				position: relative;
				z-index: 10;
				&:hover {
					//background: rgba(0,0,0,0.05);
				}
			}
		}

		.s-block {
			display: block;
			position: relative;
			overflow-y: hidden;

			> .name {
				//@media screen and (min-width: $screen-md-min){
					display: inline-block;
					vertical-align: middle;
				//}
				position: relative;
				padding: 7px 12px;
				text-align: center;
				line-height: 20px;

				> .name-title.mono-text {
					font-size: 0.85rem;
				}

				&.col-experiment > .name-title.mono-text {
					text-shadow: 0 0 0;
				}
			}

			> .name:after,
			> .name > .label-ext-info {
				position: absolute;
				font-family: $font-family-sans-serif;
				left: 0;
				top: 2px;
				font-size: 0.625rem;
				//font-size: 0.4875rem;
				text-transform: uppercase;
				text-align: left;
			}

			.label-ext-info {
				text-align: left;
				line-height: 9px;

				> .ext {
					font-weight: 400;
					opacity: 0.1;
					&.is-accession {
						font-size: $small-label-accession-font-size;
						i.icon-copy {
							opacity : 0;
							transition: opacity .25s;
							font-size: 9px;
							cursor: pointer;
						}
					}
				}

				> span.ext:before {
					//content: "- ";
				}
			}

			.exp-table-checkbox {
				display : inline-block;
				margin-right: -7px;
				margin-top: 18px;
			}

			.file-entry-table-checkbox {
				display : inline-block;
				margin-right: -7px;
				margin-top: 0;
				margin-bottom: -7px;
			}

			&.odd {
				@include gradient-horizontal(rgba(245, 235, 235, 0), rgba(245, 240, 240, 0.4), 0%, 30%);

				&.s-block-list-collapsing.collapsing-child {
					background : #f6f5f5;
					background: rgb(255, 252, 250);
				}
				&:hover {
					@include gradient-horizontal(rgba(245, 235, 235, 0), rgba(255, 252, 250, 1), 0%, 12%);
				}
				&:not(.collapsing-child) > .file-pairs > .view-more-button {
					@include gradient-horizontal(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), 0%, 25%);
				}
			}

			&.even {
				//background-color: rgba(255, 220, 200, 0.5);
				@include gradient-horizontal(rgba(255, 250, 250, 0), rgba(255, 250, 250, 0.4), 0%, 30%);

				&.s-block-list-collapsing.collapsing-child {
					background: #faf9f9;
					background: rgb(255, 252, 250);
				}

				&:hover {
					@include gradient-horizontal(rgba(255, 250, 250, 0), rgba(255, 252, 250, 1), 0%, 12%);
				}

				&:not(.collapsing-child) > .file-pairs > .view-more-button {
					@include gradient-horizontal(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), 0%, 25%);
				}
			}

		}

		//@media screen and (min-width: $screen-md-min){
			.s-block > .name:after,
			.s-block > .name > .label-ext-info {
				opacity: 0.4;
				font-weight: 600;
				transform: scale3d(0.75,0.75,1) translate3d(0,0,0);
				transform-origin: 0px 0px;
				transition: opacity .4s, transform .4s, top .4s, margin-top .4s;
				/* pointer-events: none; */
			}
			.s-block > .name > .label-ext-info > .ext {
				opacity: 0;
				transform: translate3d(0,0,0);
				transition: opacity .4s, transform .4s;
			}
			.s-block > .name > .label-ext-info.subtitle-visible {
				opacity: 0.75;
			}
			.s-block > .name > .label-ext-info.subtitle-visible > .ext {
				opacity: 1;
			}
			.s-block > .name > .label-ext-info:not(.subtitle-visible) > div.ext {
				transform: translate3d(0,-7px,0);
			}
			.s-block > .name > .label-ext-info > span.ext {
				display: inline-block;
				transform: translate3d(0px,0,0);
			}

			.s-block.hide-name-on-block-hover > .name > .name-title {
				opacity: 1;
				transition: opacity .4s;
			}
			.s-block.hide-name-on-block-hover:not(.single-item):hover > .name:not(:hover) > .name-title {
				opacity: 0;
			}

			.s-block:hover .s-block > .name:after,
			.s-block:hover .s-block > .name > .label-ext-info {
				opacity: 0.5;
			}
			.s-block:hover > .name > .label-ext-info {
				opacity: 1 !important;
				color: #000;
				transform: scale3d(1,1,1) translate3d(0,0,0);
			}
			.s-block:hover > .name:not(:hover) > .label-ext-info {
				transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
			}
			.s-block.hide-name-on-block-hover:hover > .name:not(:hover) > .label-ext-info {
				top: 50%;
    			margin-top: -9px;
				transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
			}
			.s-block.hide-name-on-block-hover:hover > .name:not(:hover) > .label-ext-info.has-subtitle {
    			margin-top: -13px;
			}
			.s-block:hover > .name > .label-ext-info > .ext {
				opacity: 0.75;
			}

			.s-block:hover > .name > .label-ext-info > div.ext,
			.s-block:hover .s-block > .name > .label-ext-info > div.ext {
				transform: translate3d(0px,0px,0);
			}
			.s-block:hover > .name > .label-ext-info > span.ext,
			.s-block:hover .s-block > .name > .label-ext-info > span.ext {
				transform: translate3d(0px,0,0);
			}
			.s-block > .name > .label-ext-info > .label-title {
				transition: opacity .25s, margin-top .25s;
			}

			.s-block:hover:not(.keep-label-on-name-hover) > .name:hover > .label-ext-info.has-subtitle > div.label-title {
				opacity: 0;
				margin-top: -9px;
			}

			.s-block:hover > .name:hover > .label-ext-info > .ext {
				opacity: 1;
				transform: scale3d(1,1,1);
				/* transform: scale3d(1.125, 1.125, 1) translate3d(6%, 0, 0) !important; */
				font-weight: 600;
				i.icon-copy {
					opacity: 1;
					cursor: pointer;
				}
			}

			.s-block.hide-name-on-block-hover .name.col-file > .exp-table-checkbox {
				transition: opacity .4s;
				opacity: 1;
			}

			.s-block.hide-name-on-block-hover:hover > .name.col-file:not(:hover) > .exp-table-checkbox {
				opacity: 0;
			}

		//}

		.s-block > .item {
			padding: 9px 8px;
			line-height: 16px;
			display: inline-block;
			text-align: center;
			vertical-align: middle;
		}

		> .stack-depth-0.s-block-list { // .biosamples
			//@media screen and (min-width: $screen-md-min){
				float: right;
				display: block;
			//}

			> .s-block.stack-depth-1:first-child {
				border-top: 1px solid #b5b5b5;
			}

			> .s-block.stack-depth-1,
			> .collapsible-s-block-ext > .s-block.stack-depth-1 { // .biosample

				&:not(:last-child){
					border-bottom: 1px solid #606060;
				}

				> .name {
					text-align: center;
					line-height: 16px;
					padding-top: 27px;
					padding-bottom: 27px;
					min-height: 70px;
					&:after {
						//top: -15px;
					}
				}

				> .stack-depth-1.s-block-list { // .experiments

					.s-block.stack-depth-2 { // .experiment
						padding: 0;
						text-align: left;
						transform: translate3d(0px,0px,0px);


						&:not(:last-child){
							border-bottom: 1px solid #888;
							border-color: rgba(0,0,0,0.5);
						}

						> .name {
							font-weight: 500;
							line-height: 20px;
							padding-top: 25px;
							padding-bottom: 25px;
							min-height: 70px;
						}

					}
				}
			}

			.s-block-list.files,
			.s-block-list.file-pairs,
			.s-block-list.stack-depth-2 {

				.s-block.file-pair {
					&:not(:last-child){
						border-bottom: 1px solid #888;
						border-color: rgba(0,0,0,0.5);
					}

					> .s-block-list.files > .s-block.file:not(:last-child) {
						border-bottom-style: dotted;
					}

					> .s-block-list.files > .s-block.file:last-child:not(:first-child) {
						border-top: 1px solid transparent;
					}

					.name.col-file-pair {
						//line-height: 25px;
						white-space: nowrap;
					}
				}

				.s-block.file {

					&:not(:last-child){
						border-bottom: 1px solid #ccc;
						border-color: rgba(0,0,0,0.2);
					}

					&.single-item .name.col-file {
						line-height: 55px;
						white-space: nowrap;
					}

					&:not(.single-item) .name.col-file {
						line-height: 20px;
						white-space: nowrap;
					}

					.name.col-file > .file-entry-table-checkbox {
						margin-bottom: 0;
						display: inline-block;
						margin-right: 2px;
						vertical-align: middle;
						margin-top: -2px;
					}

				}

			}

			// BG coloring by type + position
			.s-block.biosample.stack-depth-1 {
				&:nth-child(2n-1){
					@include gradient-horizontal(rgba(255, 255, 255, 0), $expset-biosample-bg-odd, 0%, 12%);
					&.s-block-list-collapsing.collapsing-child {
						background : $expset-biosample-bg-odd;
						transform: translate3d(0px,0px,0px);
					}
					&:not(.collapsing-child) > .experiments > .view-more-button {
						@include gradient-horizontal(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), 0%, 25%);
					}
				}

				&:nth-child(2n-2){
					@include gradient-horizontal(rgba(255, 255, 255, 0), $expset-biosample-bg-even, 0%, 12%);
					&.s-block-list-collapsing.collapsing-child {
						background : $expset-biosample-bg-even;
						transform: translate3d(0px,0px,0px);
					}
					&:not(.collapsing-child) > .experiments > .view-more-button {
						@include gradient-horizontal(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), 0%, 25%);
					}
				}
			}

			.s-block.experiment.stack-depth-1 {

					@include gradient-horizontal(rgba(255, 255, 255, 0), #f7f8f9, 0%, 12%);
					&.s-block-list-collapsing.collapsing-child {
						background : #f7f8f9;
						transform: translate3d(0px,0px,0px);
					}
					&:not(.collapsing-child) > .experiments > .view-more-button {
						@include gradient-horizontal(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), 0%, 25%);
					}


			}

		}
	}

}

/**********************/
/**** Search Table ****/
/**********************/


// Common definitions
@mixin search-result-column-block {
	float: left;
	//transform: translate3d(0,0,0);
	> .inner {
		height : 46px;
		padding: 15px 8px;
		line-height: 16px;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&[data-field="display_title"],
	&[data-field="@type"],
	&[data-field="lab.display_title"] {
		> .inner {
			text-align: left;
		}
	}
	&[data-field="lab.display_title"]{
		i.user-icon {
			margin-right: 5px;
		}
	}
}

@mixin search-result-toggle-open-button-container {
	padding-left: 40px;
	.toggle-detail-button-container {
		position: absolute;
		top: 5px;
		bottom: 5px;
		left: 0;
		z-index: 10;

		> button {
			padding-left: 0;
			padding-right: 0;
			position: relative;
			height: 100%;
			width: 36px;
			border: 1px solid transparent;
			background: transparent;
			border-radius: 3px;
			outline: none;
			> .icon-container {
				position: absolute;
				top: 10px;
				width: 100%;
				text-align: center;
				> i.icon {
					position: relative;
					display: block;
					margin: 0 auto;
				}
			}

			&:hover {
				background-color: #eee;
			}
		}
	}
}

@mixin search-result-toggle-open-button-container-open {
	.toggle-detail-button-container {
		top: 0px;
		bottom: 1px;
		> button {
			border-radius: 0px;
			background-color: #f8f8f8;
			border-left-color: rgba(0,0,0,0.125);
			border-right-color: #fdfdfd;
			> .icon-container {
				top: 20px;
			}
			&:hover {
				background-color: #eee;
			}
		}
	}
}

@mixin generic-results-flex-description-container {
	.flex-description-container {
		margin-top: 16px;
		> .flexible-description-box {
			margin-left: 28px;
		}
		.description-expand-button {
			margin-top: -2px;
		}
		> h5, > h6 {
			margin-bottom: 5px;
			margin-top: 0;
			font-weight: 500;
		}
		> .desc-separator {
			margin-top: 15px;
			margin-bottom: 0;
			border-top-color: #ddd;
		}
	}
}


@mixin generic-results-item-detail {
	.item-page-detail {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		.expandable-list {
			margin-bottom: 0;
		}
		> .expandable-list,
		> .array-group-row > .expandable-list {
			margin-left: 28px;
		}
	}
}

$search-results-edge-shadow-color : rgba(0,0,0,0.125);

.search-results-outer-container {
	margin-bottom: -20px;

	.search-results-container {
		position: relative;

		.shadow-border-layer {
			position: absolute;
			pointer-events: none;
			top: 0;
			left: 0;
			bottom: 0;
			right : 0;
			box-shadow: inset 10px 0 10px -10px transparent, inset -10px 0 10px -10px transparent;
			transition: box-shadow .35s ease;
			//transform: translate3d(0,0,0);
			&.shadow-right {
				box-shadow: inset 10px 0 10px -10px transparent, inset -10px 0 10px -10px $search-results-edge-shadow-color;
			}
			&.shadow-left {
				box-shadow: inset 10px 0 10px -10px $search-results-edge-shadow-color, inset -10px 0 10px -10px transparent;
			}
			&.shadow-left.shadow-right {
				box-shadow: inset 10px 0 10px -10px $search-results-edge-shadow-color, inset -10px 0 10px -10px $search-results-edge-shadow-color;
			}
			> .edge-scroll-button {
				position: absolute;
				top: 0;
				bottom: 0;
				background: #f8f8f8;
				width: 15px;
				pointer-events: all;
				opacity: 1;
				transition: opacity .3s ease-out;
				cursor: pointer;
				text-align: center;
				padding-top: 16px;
				&.right-edge {
					right: -15px;
					border-radius: 0 4px 4px 0;
					box-shadow: inset -5px 0 10px #fff;
				}
				&.left-edge {
					left: -15px;
					border-radius: 4px 0 0 4px;
					box-shadow: inset 5px 0 10px #fff
				}
				&.faded-out {
					opacity: 0;
					transition: opacity .6s ease-out;
					pointer-events: none;
				}
				> i.icon {
					position: absolute;
					display: block;
					width: 15px;
					opacity : 0.5;
				}
				&:hover {
					background-color: #f4f4f4;
					box-shadow: none;
					> i.icon {
						opacity: 0.8;
					}
				}
			}

			&.short {
				> .edge-scroll-button {
					body.scrolled-past-top & {
						> i.icon {
							margin-top: -5px;
							top: 50%;
						}
					}
				}
			}

			&.tall.fixed-position-arrows {
				> .edge-scroll-button {
					body.scrolled-past-80 & {
						> i.icon {
							position: fixed;
							margin-top: -5px;
							top: 50%;
						}
					}
					/*
					body.scrolled-past-80 & {
						> i.icon {
							position: fixed;
							margin-top: -5px;
							top: 50%;
						}
					}
					*/
				}
			}

		}

		.inner-container {
			overflow-x: auto;

			.scrollable-container {
				overflow: hidden;
				width: auto;



				.search-result-row {
					border-bottom: 1px solid rgba(0,0,0,0.125);
					position: relative;
					transform: translate3d(0,0,0);
					> .columns {
						display: flex;
						> .search-result-column-block {
							@include search-result-column-block;
							> .inner {
								height: 46px;
								//transition : height .35s ease-out, padding-top .35s ease-out;
							}
							&:not(:last-child) {
								border-right: 1px dotted rgba(0,0,0,0.075);
							}
							&.no-value {
								> .inner {

									//background-color: #f9f9f9;
								}
							}
							&[data-field="display_title"]{
								@include search-result-toggle-open-button-container;
								.select-button-container {
									float: left;
									margin-top: -10px;
									margin-left: -7px;
									margin-right: 15px;
									> button {
										padding-left: 0;
										padding-right: 0;
										height: 36px;
										width: 36px;
										border: 1px solid transparent;
										border-radius: 3px;
										outline: none;
										box-shadow: 0 1px 1px rgba(0,0,0,0.3);
                                        background-color: #eee;
                                        color: #000;
										> i.icon {
											position: relative;
											top: 1px;
										}
										&:hover {
                                            background-color: #428bca;
											color: #fff;
											box-shadow: none;
										}
									}
								}
								.expset-checkbox {
									float: left;
									margin-right: 15px;
									margin-top: 3px;
								}
								.mono-text {
									letter-spacing: 0.5px;
								}
							}

						}
					}

					&.open {
						> .columns {
							background-color: rgba(255,255,255,0.75);
							box-shadow: 0 1px 6px rgba(0,0,0,0.33);
							> .search-result-column-block {
								> .inner {
									padding-top: 20px;
									padding-bottom: 20px;
									height : 56px;
								}

								&[data-field="display_title"]{
									@include search-result-toggle-open-button-container-open;
								}



							}
						}
					}

					&.open + .search-result-row.open {
						> .columns {
							> .search-result-column-block {

								&[data-field="display_title"]{
									.toggle-detail-button-container {
										//top: -3px;
										> button {
											> .icon-container {
												//top: 23px;
											}
										}
									}
								}



							}
						}
					}

					&.loading { // Spinner/loader
						height : 67px;
						line-height: 46px;
						transition: transform .5s ease;
						border-bottom: none;
					}

					&.empty-block {
						height: 20px;
						border-bottom: none;
						background-color: #fff;
					}

					.result-table-detail-container {
						border-top: 1px solid rgba(0,0,0,0.075);
						position: relative;
						background: #fdfdfd;

						&.closed {
							display: none;
						}
						.result-table-detail {
							padding-left: 47px;
							padding-right: 0px;

							border-bottom: 1px solid;
							transition: border-bottom .3s ease-out;
							border-bottom-color: #808080;

							//transition: height .35s ease, transform .1s ease;
							@include font-size(0.85);

							> .close-button-container {
								position: absolute;
								left: 8px;
								top: 10px;
								width: 28px;
								margin-left: 1px;
								height: 28px;
								line-height: 28px;
								font-size: 1rem;
								cursor: pointer;
								border-radius: 3px;
								&:hover {
									background-color: rgba(0,0,0,0.075);
								}
							}
							@include generic-results-flex-description-container;
							@include generic-results-item-detail;
						}
					}

				} // .search-result-row

			} // .scrollable-container
		} // .inner-container
	} // .search-results-container

	div.fin { // "End of list" block
		text-align: center;
		height: 67px;
		line-height: 47px;
		font-style: italic;
		border-bottom: none;
		background-color: #fff;
		> .inner {
			transition: transform .5s ease;
			> span {
				font-family: serif;
			}

		}
	}

} // .search-results-outer-container

.search-headers-row {
	background-color: #22656d;
	z-index: 10;
	transform: translate3d(0,0,0) !important;
	overflow-x: hidden;
	&.stickied {
		top : 40px;
		.browse-page-container & {
			top: 80px;
		}
	}
	> .columns {
		display: -webkit-box;
		display: flex;
		position: relative;
		transition: left .025s linear;

		> .search-headers-column-block {
			@include search-result-column-block;
			flex-shrink: 0;
			position: relative;
			transform: translate3d(0,0,0);

			&.no-sort {
				> .inner {
					padding-right: 8px;
				}
			}

			> .inner {
				color: #fff;
				font-weight: 500;
				padding-right: 32px;

				.column-sort-icon {
					color: rgba(255,255,255,0.5);
					text-decoration: none !important;
					margin-left: 10px;
					margin-right: 5px;
					display: inline-block;
					/* float: right; */
					position: absolute;
					cursor: pointer;
					right: 9px;
					&:hover, &:active, &:focus {
						color: #fff;
					}
					&.active {
						color: #fff;
						text-shadow: 0 0 0 #fff;
					}
				}

			}
			&:hover{
				z-index: 10;
			}
			&[data-field="display_title"]{
				padding-left: 40px;
			}
			> .width-adjuster {
				position: absolute;
				color: #fff;
				padding-left: 10px;
				padding-right: 15px;
				left: 0;
				top : 0;
				margin-left: -12px;
				z-index: 10;
				cursor: col-resize;
				width: 28px;
				height: 100%;

				&:after{
					content: ' ';
					border-left: 1px dotted rgba(255,255,255,0.6);
					border-right: 1px dotted rgba(255,255,255,0.6);
					width: 3px;
					left: 10px;

					top: 9.5px;
					bottom: 9.5px;
					position: absolute;
				}
				&:hover:after {
					border-color: #fff;
				}
			}
		}
	}

	&.non-adjustable {
		> .columns > .search-headers-column-block > .inner {
			padding-right: 8px;
		}
	}

	.rc-tabs-tabpane & {
		background-color: #476265;
	}

	&.no-detail-pane {
		> .columns {
			> .search-headers-column-block {
				&[data-field="display_title"]{
					padding-left: 10px;
				}
			}
		}
	}

} // .search-headers-row

.above-results-table-row {
	min-height: 40px;
	padding-bottom: 5px;
	margin-top: 7px;

	.search-result-config-panel {
		margin-top: 7px;
		> .inner {
			padding: 0 0;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			> div.row {
				//margin: 0;
				padding-top: 5px;
				padding-left: 5px;
				padding-right: 5px;
				padding-bottom: 5px;
				//padding-left: 10px;
				//padding-right: 10px;
				> div > .checkbox {
					margin: 0;
					margin-bottom: 10px;
					margin-top: 5px;
    				margin-bottom: 5px;
					margin-left: -5px;
    				margin-right: -5px;
					padding-left: 32px;
					background: #f9f9f9;
					border-radius: 2px;
					label {
						display: inline-block;
						margin: 0;
						padding-top: 10px;
						padding-bottom: 10px;
						width: 100%;
					}
					&:hover {
						background-color: #f5f5f5;
					}
				}
			}
			.panel-title {
				padding-bottom: 13px;
				padding-top: 12px;
				padding-left: 10px;
    			padding-right: 10px;
				font-weight: 500;
				background-color: #f8f8f8;
				border-bottom: 1px solid #eee;
				.close-button {
					font-weight: 400;
					display: block;
					cursor: pointer;
					float: right;
					font-size: 1rem;
					&:hover {
						text-decoration: none;
					}
				}
				.icon-fw {
					margin-right: 5px;
				}
			}
		}

	}

	button {
		transition: opacity .5s, background-color .5s, box-shadow .25s, color .5s;
		box-shadow: none;
		&:focus, &:active, &.active, &.active:focus, &:active:focus {
			outline: none;
		}
		i.icon {
			position: relative;
			top: 1px;
		}
	}

	button.panel-active {
		box-shadow: inset 0 2px 18px rgba(0,0,0,0.6);
		border-color: rgba(0,0,0,0.5);
	}

	.box {
		min-height: 33px;
		line-height: 33px;
		&.selection-buttons {
			margin-right: 7px;
		}
	}

	.right-buttons {
		> button {
			margin-left: 5px;
		}
		.expand-layout-button:not(.expanded) {
			@media screen and (max-width: 1220px){
				display: none;
			}
		}
	}

}

.popover.file-format-selection-popover {
	.popover-content {
		min-width: 240px;
		div {
			&:not(:last-child) {
				margin-bottom: 2px;
			}
			> button {
				width: 100%;
			}
		}
	}
}

.item-page-table-container {
	.item-page-table-row-container {
		position: relative;
		border-bottom: 1px solid #eee;

		> .inner-wrapper {
			padding-left: 0;
			border-top: 1px solid #eee;
			@media screen and (min-width: $screen-sm-min){
				padding-left: 10px;
			}
			@media screen and (min-width: $screen-md-min){
				padding-left: 47px;
			}
			@media screen and (min-width: $screen-lg-min){
				padding-left: 47px;
			}
			@include generic-results-flex-description-container;
			@include generic-results-item-detail;
			
		}

		.table-row {
			.column {
				@include search-result-column-block;
				float: none;
				display: inline-block;
				vertical-align: middle;
				&[data-field="display_title"]{
					> .inner {
						height: auto;
						white-space: normal;

						@media screen and (min-width: $screen-md-min){
							padding-left: 47px;
							padding-right: 0;
						}
						
						.icon-container {
							padding-bottom: 8px;
							cursor: pointer;
							font-size: 1.25rem;
						}
						.has-type-title, &.has-type-title {
							.icon-container {
								padding-top: 8px;
							}
						}
						.title-container {
							padding-right: 0;
						}
						@include search-result-toggle-open-button-container;
						&.open {
							@include search-result-toggle-open-button-container-open;
							.toggle-detail-button-container {
								bottom: 0px;
							}
							.icon-container {
								top: 15px !important;
							}
						}
					}
				}

				&.block {
					// Mobile
					padding: 0;
					padding-left: 10px;
					padding-right: 10px;
					margin: 0;
					.label-for-field {
						padding-top: 8px;
						margin-bottom: -8px;
					}
					> .inner {
						height: auto;
						padding: 8px 0;
						border-bottom: 1px solid #f4f4f4;
						text-align: left;
						.icon-container {
							padding-top: 0;
							padding-bottom: 0;
							font-size: 1rem;
							width: auto;
							padding-right: 0;
						}
					}
					&[data-field="display_title"]{
						margin-bottom: 10px;
						> .inner {
							background-color: #f4f4f4;
							padding-top: 12px;
							padding-bottom: 11px;
							padding-left: 40px;
							.title-container {
								font-size: 1.1rem;
							}
							.icon-container {
								padding-left: 20px;
							}
							.toggle-detail-button-container {

								.toggle-detail-button {
									width: 45px;
									padding-right: 5px;
									.icon-container {
										position: relative;
										top: 1px !important;
									}
								}
							}
							&.open {
								.toggle-detail-button-container {

									.toggle-detail-button {
										border-color: transparent;
										background-color: transparent;
										.icon-container {
											position: relative;
											top: 1px !important;
										}
									}
								}
							}
						}
					}
				}

			}

			@media screen and (min-width: $screen-md-min){
				&.no-detail-pane {
					.column {
						&[data-field="display_title"]{
							> .inner {
								padding-left: 17px;
								padding-right: 0;
							}
						}
					}
				}
			}

		}

		@media screen and (max-width: $screen-sm-max){
			margin-bottom: 20px;
			margin-top: 10px;
			border-bottom: none;
		}

	}
}

// IS the below still used???

.result-table {
    position: relative;
    z-index: 10;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .result-table-result {
        /* padding-top: 12px; */
        border-bottom: 1px solid #E8E8E8;
        @include font-size(0.9);

        &:first {
            margin-top: 0px;
            border-bottom: 1px solid #ccc;
            @include font-size(0.9);
        }

		.result-table-entry-div {
			text-align: center;
			line-height: 1.5em;
			padding-top: 15px;
			height: 48px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin-bottom: 0;

			.icon-container.btn {
				margin: 0;
				width: 40px;
				height: 40px;
				margin-top: -11px;
				margin-right: 4px;
				margin-left: 2px;
				border: none;
			}
		}

    }

    .result-table-result-heading {
        background-color: #f4f4f4;
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 5px 15px 5px 15px;
    }

    &:before {
        content: none;
        display: block;
    }

    .pull-right {
        position: relative;
        z-index: 2;
    }
}

/** Search Table Headings **/

.result-table-header-row-container {
	background-color: #22656d;
	.result-table-header-row{
		font-weight: 400;
		.result-table-entry-div {
			> div {
				margin-bottom: 0px;
				padding-top: 10px;
				padding-bottom: 10px;
				color: #fff;
				height: 46px;
				line-height: 26px;
                text-align: center;
			}
			// &:not(:first-child) > div {
			// 	text-align: center;
			// }
		}
	}
}
