/*  COMMON TABLES */

table {
    @include font-size(0.9rem);
}

thead, tfoot {
    background: none repeat scroll 0 0 #f5f5f5;
}

table>thead>tr>th {
    background-color: #eee;
    border-top: none;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 5px 3px 5px;
    font-weight: bold; /* In case 600 not available for font */
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle !important;
    &:first-child {
        border-left: none !important;
    }
}

table>tbody>tr>td {
    border-top: 0px;
    padding: 2px 3px;
    text-align: center;
	vertical-align: middle !important;
	outline: none !important;
}

.table-striped {
    > tbody {
        > tr:nth-child(odd) {
            > td {
                background-color: #fff;
                border-top: none;
            }
        }
        > tr:nth-child(even) {
            > td {
                background-color: #f9f9f9;
                border-top: none;
            }
        }
    }
}

.table-tbody-striped {
    > tbody:nth-child(odd) {
        background-color: #f9f9f9;
    }
    > tbody:nth-child(even) {
        background-color: #ffffff;
    }
}

// note the position of the inner span isn't calculated correctly yet
$rotated-th-height: 130px;
$rotated-th-width: 20px;
$rotated-th-angle: 30deg;

/** From ENCODE, kept for record for now **/

th.rotate90 {
    vertical-align: top;
    > div {
        position: relative;
        > span {
            position: absolute;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            -webkit-transform-origin: left bottom 0;
            transform-origin: left bottom 0;
            top: 80px;
            left: 16px;
        }
    }
}
table.matrix {
    width: auto;
    th {
        text-align: right;
        padding: 0 .5em;
    }
    td {
        vertical-align: middle;
        text-align: center;
        padding: 0 !important;
        border: solid 1px #f9f9f9;
    }
    tfoot {
        background: transparent;
    }
}




//extend table class to get ride of bottom margin
.table{
	margin-bottom: 0px;
}



/** Experiment Set Detail Pane **/

.experiment-set-info-wrapper {

	position: relative;
	z-index: 1;


	.expset-addinfo {
		text-align: left;
		//border-bottom: 1px solid #ccc;
		position: relative;
		overflow: hidden;
		min-height: 62px; //104px;

		.addinfo-description-section,
		.addinfo-properties-section {
			padding-top: 12px;
			padding-bottom: 8px;
			position: static;
		}

		.expset-addinfo-val {
			padding-right: 25px;
		}
	}

	.files-tables-container {

		// Only when present on item page(s)
		@include media-breakpoint-down(sm){
			.item-page-table-row-container & {
				border-bottom: 1px solid #ddd;
			}
		}

		.raw-files-table-section,
		.processed-files-table-section {
			border-top: 1px solid #ddd;
		}

		h4.pane-section-title {
			font-weight: 300;
			margin-top: 12px;
			margin-bottom: 12px;
			cursor: pointer;

			i.icon {
				font-size: 0.875rem;
				margin-right: 3px;
				position: relative;
				top: -1px;
				&.toggle-open-icon {
					cursor: pointer;
					margin-right: 6px;
					padding: 2px 0;
					margin-left: 8px;
					opacity: 0.66;
				}
			}

			&:hover {
				text-shadow: 0 0 0;
				i.icon.toggle-open-icon {
					opacity: 1;
				}
			}
		}

	}



}

/*** Stacked Block Table Import & 4DN-specific overrides ***/

@import "../../../../../../node_modules/@hms-dbmi-bgm/shared-portal-components/scss/stacked-block-table";

.stacked-block-table {

	> .body {

		.s-block {

			&.biosample.stack-depth-1,
			&.experiment.stack-depth-1 {
				/** Decrease line height(s) to fit more lines in **/
				> .name {
					text-align: center;
					line-height: 16px !important;
					/* padding-top: 27px !important; */
					/* padding-bottom: 27px !important; */
					min-height: 70px;
				}
			}

			&.biosample.stack-depth-1 {
				&:nth-child(2n-1){
					@include gradient-x(rgba(255, 255, 255, 0), $expset-biosample-bg-odd, 0%, 12%);
				}

				&:nth-child(2n-2){
					@include gradient-x(rgba(255, 255, 255, 0), $expset-biosample-bg-even, 0%, 12%);
					> .experiments > .view-more-button {
						@include gradient-x(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), 0%, 25%);
					}
				}
			}

			&.experiment {
				@include stacked-block-table-multi-size-block(2);
				> .name.col-experiment,
				> .name.col-experiment > a {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow-x: hidden;
				}
				> .name.col-experiment {
					font-weight: 500;
					.mono-text {
						text-shadow: 0 0 0;
					}
				}
			}

			&.experiment.stack-depth-1 {
				@include gradient-x(rgba(255, 255, 255, 0), #f7f8f9, 0%, 12%);
				> .experiments > .view-more-button {
					@include gradient-x(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), 0%, 25%);
				}
			}

		}

		.s-block-list.files,
		.s-block-list.file-groups {

			> .s-block.file-group {

				> .name.col-file-group {
					white-space: nowrap;
					padding: 8px 0 6px;
					.multiple-files-checkbox-wrapper {
						> .checkbox-for-multiple-files {
							margin: 0;
						}
					}
				}

				// File rows within a group of files
				> .s-block-list.files {
					> .s-block.file:not(:first-child),
					> .collapsible-s-block-ext > .s-block.file {
						border-top-style: dotted;
					}
				}
			}			

			// All/any file rows
			.s-block.file {
				&:hover {
					border-color: #888 !important;
					+ .s-block.file {
						border-top-color: #888;
					}
				}

				&.single-item {
					//line-height: 56px; /* + 14px padding = 70 == min height of parent block */
					@include stacked-block-table-multi-size-block(2);
				}

				&:not(.single-item) {
					@include stacked-block-table-single-row-block;
				}

				&.s-block.hide-name-on-block-hover {
					> .name > .file-entry-table-checkbox {
						transition: opacity .4s;
						opacity: 1;
					}

					&:hover > .name > .file-entry-table-checkbox {
						opacity: 0;
					}
				}

				.name.col-file {
					white-space: nowrap;

					.in-stacked-table-button-container {
						margin-right: 0;
						margin-left: 2px;
						display: inline-block;
						&:first-of-type {
							margin-left: 8px;
						}
						> .btn-xs {
							line-height: 18px;
							padding-top: 2px;
							padding-right: 5px;
							padding-left: 5px;
							margin-top: -9px;
							margin-bottom: -6px;
							/** Override/hide the dropdown caret **/
							&:after {
								display: none;
							}
						}
						> .dropdown-menu {
							font-family: $font-family-base;
						}
						&:only-of-type {
							margin-right: -35px;
						}
					}

					&.has-checkbox {
						padding-left: 24px; /* default: 12px */
						padding-right: 24px;
						> .file-entry-table-checkbox {
							position: absolute;
							top: 50%;
							left: 6%;
							margin-top: -6px;
						}
					}

				}



			}

		}

	}

}




.popover.file-format-selection-popover {
	.popover-content {
		min-width: 240px;
		div {
			&:not(:last-child) {
				margin-bottom: 2px;
			}
			> button {
				width: 100%;
			}
		}
	}
}

