// Root HTML doc variables/settings

:root {
    font-size: 16px;
}

/* Variables */
$mainThemeColor: 			#ffffff; /* i.e. the background color ..for now */

$appVersionHeight:          0px;
$footer-height:             50px + $appVersionHeight;
$appBackgroundColor:        #fff; /* Not sure where $mainThemeColor is used... definitely not #application background-color, so creating new one */

$tableHeadFootBackgroundColor: #000000;

$mobile-font-factor: 1;

$modal-backdrop-opacity : 0.8;

$facetlist-selected-term-color : #248bac;

$badge-color-warning : #e29302;
$badge-color-error : #bd0000;
$badge-color-internal-action: #d0d0d0;

$font-family-sans-serif : "Mada", "Work Sans", Helvetica, Arial, sans-serif;
$font-family-serif : "Yrsa", "Times New Roman", Georgia, Times, serif;
/** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`. */
$font-family-monospace : "Source Code Pro", Consolas, monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem;

$dropdown-link-hover-bg: #ddd;


// Override Bootstrap default variables:

$border-radius-base:                        3px;
$border-radius-large:                       4px;
$border-radius-small:                       2px;
$input-border-radius:                       3px;

$navbar-brand-font-size:                    1.7rem;
$navbar-height:                             80px;

$navbar-default-bg: #f8f8f8; // Bootstrap default is #F8F8F8

//$navbar-fixed-breakpoint: $screen-md-min; // Use instead of Bootstrap's $grid-float-breakpoint as we want nav to become fixed later.
$navbar-background-color: #083c52;
$navbar-link-color : rgba(255,255,255,0.8);
$navbar-link-hover-color : #fff;
$navbar-link-active-color : #fff;
$navbar-link-hover-bg: darken($navbar-background-color, 5%);
//$navbar-link-hover-bg: lighten($navbar-background-color, 10%);
$navbar-link-active-bg: lighten($navbar-background-color, 5%);
$navbar-default-brand-color: rgba(255,255,255,0.8);

// We set navbar to become fixed position @ Bootstrap's medium size.
@mixin navbar-fixed-position {
    @include media-breakpoint-up(md) {
        @content;
    }
}
@mixin navbar-static-position {
    @include media-breakpoint-down(sm) {
        @content;
    }
}

$headings-font-weight:                      bold;
$grid-gutter-width:                         20px;

$link-color: #428bca;

/** Setup some other variables for tables, etc. **/
$expset-table-border-color : #eee;


$primary:       #057eaf;
$secondary:     #6c757d;
$success:       #4C994C;
$info:          #4F689E;
$warning:       #E59545;
$danger:        #B24342;
$light:         #f8f9fa;
$dark:          #343a40;

// Ext:
$primary-dark: darken($primary, 15%);


$brand-warning: $warning;
$brand-success: $success;
$brand-danger: $danger;
$brand-info: $info;
$brand-primary: $primary;
$brand-primary-dark: $primary-dark;
$brand-secondary: $secondary;

// override 1.5, to help center text
$btn-line-height: 1.45rem;


/** FontAwesome Icon Stuff **/
$fa-font-path: "/static/font/fontawesome5.9" !default;
$fa-font-size-base: $font-size-base;
$fa-css-prefix: icon;
