/* Variables */
$mainThemeColor: 			#ffffff; /* i.e. the background color ..for now */

$appVersionHeight:          0px;
$footerHeight: 				50px + $appVersionHeight;
$footerTopBorderHeight:		0px;
$appBackgroundColor:        #fff; /* Not sure where $mainThemeColor is used... definitely not #application background-color, so creating new one */

$tableHeadFootBackgroundColor: #000000;

$mobile-font-factor: 1;

$navbar-default-bg: #f8f8f8; // Bootstrap default is #F8F8F8
$navbar-fixed-breakpoint: $screen-md-min; // Use instead of Bootstrap's $grid-float-breakpoint as we want nav to become fixed later.
$navbar-link-color : #777;
$navbar-link-hover-color : #000000;
$navbar-link-active-color : #000;
$navbar-link-active-background-color: #eee;

$modal-backdrop-opacity : 0.8;

$facetlist-selected-term-color : #248bac;

$badge-color-warning : #e29302;
$badge-color-error : #bd0000;
$badge-color-internal-action: #d0d0d0;

$font-family-sans-serif     : "Mada", "Work Sans", Helvetica, Arial, sans-serif;
$font-family-serif          : "Yrsa", "Times New Roman", Georgia, Times, serif;
$font-family-monospace      : "Source Code Pro", Consolas, monospace;

@mixin planned-submitted-cell-styles {

    &.hoverable:hover {
        box-shadow: 0 1px 2px -1px #000;
    }

    &.clickable:active,
    &.clickable:focus {
        box-shadow: inset 0 1px 2px -1px #000;
        outline: none;
    }

	&.cellType-submitted {
        background-color: #3f883b !important;
        &.hoverable:hover,
        &.clickable:active,
        &.clickable:focus {
            background-color: darken($color: #3f883b, $amount: 10) !important;
        }
	}
	&.cellType-planned {
        background-color: rgb(190, 190, 190) !important;
        &.hoverable:hover,
        &.clickable:active,
        &.clickable:focus {
            background-color: darken($color: rgb(190, 190, 190), $amount: 10) !important;
        }
	}
	&.cellType-internal-release {
        //background-color: #b3d4b1 !important;
        background-color: #66c560 !important;

        //background-color: rgb(190, 190, 190) !important;
        //background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="5 5 95 95"><polygon points="100,0 0,100 100,100 100,0" style="fill:#53a74e; stroke: none;"/></svg>');
        //background-size: 108%;
        //background-repeat: no-repeat;
        &.hoverable:hover,
        &.clickable:active,
        &.clickable:focus {
            //background-color: darken($color: #b3d4b1, $amount: 10) !important;
            background-color: darken($color: #66c560, $amount: 10) !important;
        }
    }
    &.cellType-in-submission {
        //background-color: rgb(190, 190, 190) !important;
        border: 1px solid #222;
        color: #222;
        //background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="5 5 95 95"><polygon points="100,0 0,100 100,100 100,0" style="fill:#d5d813; stroke: none;"/></svg>');
        //background-size: 108%;
        //background-repeat: no-repeat;
        &.hoverable:hover,
        &.clickable:active,
        &.clickable:focus {
            //background-color: darken($color: rgb(190, 190, 190), $amount: 10) !important;
            border-color: #000;
            color: #000;
        }
	}
	&.cellType-none {
		background-color: transparent !important;
    }
    &.cellType-out-of-date {
        //background-color: rgba(162, 145, 55, 0.75) !important;
        border: 1px solid #c2c2c2;
        color: #c2c2c2;
        &.hoverable:hover,
        &.clickable:active,
        &.clickable:focus {
            border-color: #777;
            color: #777;
            //background-color: darken($color: rgba(162, 145, 55, 0.75), $amount: 10) !important;
        }
    }
}
