@charset "UTF-8";

/** Setup some variables for colors **/
$expset-table-border-color : #eee;

#layout {
	height: auto !important;
    margin: 0 auto -$footerHeight;
    min-height: 100%;
}

.homepage-main-box {
	min-height: 400px;
	background: url('/static/img/encode-bg-gray.png') no-repeat center;
}

.project-info {
	h1,h2,h3,h4 {
		@include text-shadow(rgba(255,255,255,1) 1px 1px 0);
	}
    margin-bottom: 10px;
	display: block;
	@include font-size(1.3);
}

.text-panel {
    margin-top: 10px;
}


/***********************************************************
		HIGH-LEVEL PAGE ALIGNMENT & RELATED
************************************************************/

.static-page {
	width: 75%;
	margin: 0;
}

.page-container,
.item-page-container,
.browse-page-container,
.static-page {
	/* Consistent margin between top navbar & content among pages */
	margin-top: 23px;

}


/***********************************************************
		HEADER & TOP AREAS (Navbar, Page Titles, etc.)
************************************************************/

@media (min-width: $screen-md-min) {
	.navbar-container.test-warning-visible {
		margin-bottom: 37px;
	}
}

h1.page-title {
	/* Only set font-weight: 200 for h1,
	   200 doesn't look as nice on smaller sizes. */
	font-weight: 200;
	margin-top: 14px;

	.subtitle {
		/* Subtitles which are part of the title, e.g. Experiment Set <.subtitle>4324ADADF</.subtitle> */
		display: inline-block;
		font-size : 0.875em;
		margin-left: 5px;

		&.prominent {
			font-weight: 300;
		}

	}

}

h1.page-title + .page-subtitle {
	margin-top: -5px; /* Assumes h1.page-title to have margin-bottom: 10px */
}

.page-subtitle {
	font-weight: 400;
}


/* *********************************************************
		FOOTER
********************************************************** */

.page-footer {
	color: rgb(255, 255, 255);
	background-color: #ffffff; // for IE8
	background-color: $footerBackground; // overwrite previous line for CSS3 browsers
	//height: $footerHeight;
	// @include text-shadow(0 1px rgba(0, 0, 0, 0.3));
	//line-height: 0;
	text-align: center;
	overflow: hidden;
	font-family: 'Work Sans', sans-serif;
	a{
		color: #bfbfbf;
		font-weight: bold;
	}
	ul {
	    list-style: none;
	    list-style-position: outside;
	    padding: 0;
	}
}

.footer-links {
    margin: 15px 0;
    text-align: center;
	color: #bfbfbf;
    @media (min-width: $screen-sm-min) {
        text-align: right;

        li:last-child {
            padding-right: 0;
        }
    }

    a {
        display: block;
        margin: 0 0 8px;
        padding: 10px 15px;
    }
    a:hover, a:active {
        text-decoration: none !important;
        color: #000000;
    }
}


.copy-notice {
	margin: 0 0 8px;
	text-align: center;
	display: block;
	padding: 15px 15px;
	color: #bfbfbf;
	@media (min-width: $screen-sm-min) {
		text-align: left;
    }
}


/**********************************************************/
// Flexbox temporary classes; might be able to change or
// remove with Bootstrap 4

.flexrow {
    @extend .row;

    @media screen and (min-width: $screen-sm-min) {
        .flexbox & {
            display: flex;
        }
    }
}

.flexcol-sm-6 {
    @extend .col-sm-6;

    @media screen and (min-width: $screen-sm-min) {
        .flexbox & {
            flex: 1 1 0px;
            width: auto;
        }
    }
}

.flexcol-heading, .item-page-heading {
    position: relative;
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
    background-color: #e8e8e8;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    // For the Experiment Summary header
    &.experiment-heading {
		font-family: 'Work Sans', sans-serif;

        h1, h2, h3, h4, h5, h6 {
            line-height: 20px;  // 50px - 20px of vertical padding
        }

    }
}


/***********************************************************
		Utility/Responsive Classes
***********************************************************/

.column-margin-offset {
	margin-left: -10px;
	margin-right: -10px;
}

.text-capitalize 	{ text-transform: capitalize; } // Same class as Bootstrap (in newer version of it?)
.text-uppercase 	{ text-transform: uppercase; }
.text-justify 		{ text-align: justify; }


.text-200 { font-weight: 200; }
.text-300 { font-weight: 300; }
.text-400 { font-weight: 400; }
.text-500 { font-weight: 500; }
.text-600 { font-weight: 600; }

.text-large { font-size: 17.5px; }

.left { float: left; }
.right { float: right; }

@media screen and (max-width: $screen-xs-max){

	.text-left-xs {
		// Make text left-aligned for collapsed mobile view(s),
		// e.g. if is aligned right on larger screens.
		text-align: left !important;
	}

}

/** Extending Bootstrap grid to allow blocks to flow right in a row **/

@media screen                           		 { .col-xs-float-right { float : right; } }
@media screen and (min-width: $screen-sm-min)    { .col-sm-float-right { float : right; } }
@media screen and (min-width: $screen-md-min)    { .col-md-float-right { float : right; } }
@media screen and (min-width: $screen-lg-min)    { .col-lg-float-right { float : right; } }


.off-screen {
	position : absolute;
	left : -9999px;
}




/***********************************************************
Custom Classes & Styling for Item Pages (e.g. Experiment Sets)
************************************************************/


@media screen and (min-width: $screen-md-min){
	/* Nudge accession #, etc. closer to title on wide desktop views */
	.exp-set-header-area {
		margin-top: -27px;
	}
}

.item-label-title {
	margin-bottom: 9px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	margin-top: 0;
}

.item-label-extra {
	font-weight: 300;

	.icon[class*=" ss-"] {
		margin-bottom: -4px;
		vertical-align: middle;
	}

	.icon[class*=" sbt-"] {
		margin-top: -2px;
		vertical-align: middle;
	}
}

@media screen and (max-width: $screen-xs-max){

	.item-label-extra.text-right {
		// Hackishly making text left-aligned for collapsed mobile view(s)
		text-align: left !important;
	}

}

.item-page-heading {
	/* Extending Bootstrap's .flexcol-heading */
	border-radius: 3px;
	margin-left: 0;
	margin-right: 0;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	min-height: 42px;
	padding: 10px 15px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: height .4s;

	h4 {
		font-weight: 500;

		small {
			vertical-align: top;
			line-height: inherit;
			letter-spacing: normal;
		}
	}

	p {
		overflow: inherit;
		text-overflow: inherit;
	}

	p:last-child {
		margin-bottom: 0;
	}

}

.indicators {

	margin-top: 8px;
	margin-bottom: 8px;

	.expset-indicator {
		display: inline-block;
		box-sizing: border-box;
		/* border: 1px solid rgba(0,0,0,0.125); */
		/* border-radius: 5px; */
		line-height: 20px;
		color : #000;
		font-weight: 400;
		padding-left: 10px;
		padding-right: 10px;
		text-transform: capitalize;
		color: #444;

		&.right, .left {
			max-width: 50%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:after {
				content : "";
				display: block;
				position: absolute;
				height: 100%;
				top: 0;
			}
		}

		&.right {
			padding-left: 21px;
			padding-right: 0;
			&:after {
				margin-left: -10px;
				border-left: 1px solid rgba(0,0,0,0.125);
			}
			&:last-child {
				padding-left: 0;
				margin-left: 0;
			}
			&:last-child:after {
				display: none;
			}
		}

		&.left {
			padding-right: 21px;
			padding-left: 0;
			max-width: 50%;
			&:after {
				margin-right: -10px;
				border-right: 1px solid rgba(0,0,0,0.125);
			}
			&:last-child {
				padding-right: 0;
				margin-right: 0;
			}
			&:last-child:after {
				display: none;
			}
		}

		&.expset-status:before {
			content: "";
			width: 9px;
			height : 9px;
			display: inline-block;
			position: relative;
			margin-right: 7px;
			border-radius: 50%;
		}

		&.expset-status[data-status="released"]:before {
			color: #fff;
			background-color: #308756;
		}

		&.expset-status[data-status="current"]:before {
			color: #fff;
			background-color: #308756;
		}

		&.expset-status[data-status="revoked"]:before {
			color: #fff;
			background-color: #812423;
		}

		&.expset-status[data-status="deleted"]:before {
			color: #fff;
			background-color: #a90d0b;
		}

		&.expset-status[data-status="replaced"]:before {
			color: #fff;
			background-color: #47419a;
		}

		&.expset-status[data-status="in review by lab"]:before {
			color: #fff;
			background-color: #d8bd22;
		}

		&.expset-status[data-status="in review by project"]:before {
			color: #fff;
			background-color: #d8bd22;
		}

		&.expset-status[data-status="released to project"]:before {
			color: #fff;
			background-color: #397855;
		}

		&.expset-status[data-status="unspecified"]:before {
			color: #fff;
			background-color: #7b7b7b;
			display: none;
		}

		/*
		&[data-set-type="replicates"]{
			background-color: #56889b;
		}

		&[data-set-type="biological replicates"]{
			background-color: #397855;
		}

		&[data-set-type="technical replicates"]{
			background-color: #34677b;
		}

		&[data-set-type="analysis set"]{
			background-color: #812423;
		}

		&[data-set-type="publication"]{
			background-color: #47419a;
		}

		&[data-set-type="unspecified"]{
			background-color: #7b7b7b;
			display: none;
		}
		*/
	}

}


.item-page-container .info-area {
	margin-top: 19px;
	/* margin-bottom: 4px; */
	/*
	&:after {
		content : "";
		display : block;
		position: relative;
		border-bottom: 1px solid #ddd;
		margin: 0 10px;
	}
	*/
}

.formatted-info-panel {
	padding : 0 10px 12px;
	/* border-bottom: 1px solid #e2e2e2; */
	margin-bottom: 5px;

	/* Adjustments based on available props, ToDo: .no-title */

	&.has-border {
		padding : 8px 18px 15px;
	}

	&.no-icon {
		padding-bottom : 4px;
		margin-bottom: 0;

		.details-col {
			padding-left: 0;
		}

	}

	> h6 {
		margin : 0 0 7px /* -3px -> */ -8px;
		font-weight: 500;
		color: #646464;

		&:after {
			content : "\f105";
			font-family: "FontAwesome";
			padding-left: 6px;
		}

	}

	&.loading > .row {
		opacity : 1;
	}

	&.loaded > .row {
		opacity : 0;
		transition: opacity 0s;
	}

	&.loaded.transitioned > .row {
		opacity : 1;
		transition: opacity .5s;
	}

	.row .icon-container {
		max-width: 50px;
	}

	h5 {
		margin-bottom: 0;
		margin-top: 2px;
		font-weight: 600;
		/* white-space: nowrap; */
		overflow: hidden;
		text-overflow: ellipsis;

		a {
			/* display: block; */
			overflow: inherit;
			text-overflow: inherit;
		}

		&.no-link {
			font-weight: 500;
		}

	}

	div.more-details {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.icon-container {
		text-align: center;
		padding-top: 4px;
		font-size: 20px;
		margin-bottom: -10px;
		
		&.col-xs-2 {
			padding-right: 0px;
			padding-left: 5px;
		}
	}

}

.item-page-container .description-expand-button {
	border: none;
    background: none;
    padding-top: 2px;
    margin-left: 7px;
	outline: none;
}

.exp-table-container {
	overflow-x: auto;
	display: block;

	h3 {
		font-weight: 300;
		margin: 0;
		border-top: 1px solid #eee;
		padding: 16px 0 16px;

		span.exp-number {
			padding-top: 5px;
		}

	}

	/*
	table tbody tr:first-child td {
		
		&:nth-child(1),
		&:nth-child(2) {
			border-bottom-color: #c0c0c0;
		}
	}
	*/
}

/**********************************************************
		User Profile Page
***********************************************************/

.page-container > .row.first-row {
	margin-top: 15px;
}

.panel.user-info {
	border: 1px solid #c8c8c8;
    box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.5);

	> .row {
		margin-bottom: 5px;
	}

	> .user-title {
		margin-top: 2px;
		margin-bottom: 17px;
		padding-bottom: 17px;
		border-bottom: 1px solid #eee;
		font-weight: 400;
		font-size: 2rem;
	}

	label {
		font-weight: 500;
	}

	.formatted-info-panel {
		min-height: 40px;
	}

}

.panel.access-keys {
	margin-top: 0;
	> h3 {
		margin-bottom: 17px;
	    padding-bottom: 17px;
    	border-bottom: 1px solid #eee;
	}
}

/* *********************************************************
		CARL'S LOGIN BOX
********************************************************** */
.login-box{
    width: inherit;
	height: inherit;
    border: 2px solid #000000;
    background-color: #ffffff;
    padding: 5px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.sexy-btn{
    background-color: #ffffff;
	color: #b3b3b3;
    border: 2px solid #b3b3b3;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
	font-family: 'Work Sans', sans-serif;
}
.sexy-btn:hover, .sexy-btn:focus {
  color: #000000;
  border: 2px solid #000000;
}

.sexy-btn span{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.sexy-btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sexy-btn:hover span, .sexy-btn:focus span {
  padding-right: 25px;
}

.sexy-btn:hover span:after, .sexy-btn:focus span:after {
  opacity: 1;
  right: 0;
}

.links {
    padding-left: 0px;
}
.links li{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fill-label{
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
.text-box {
    padding: 12px 20px;
    margin: 8px 0 8px;
    box-sizing: border-box;
    width: 70%;
    border: 2px solid #b3b3b3 !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.text-box:hover, .text-box:focus{
	outline: none;
	border: 2px solid #000000 !important;
}

.title{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}
.error{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: red;
}

/* *********************************************************
		CARL'S RANDOM CHANGES
********************************************************** */

.fourDN-header{
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}

.fourDN-banner{
	margin-top: 40px;
	margin-bottom: 40px;
	> h4 {
		font-size: 1.4em;
		color: #999999;
		> div {
			display: inline-block;
		}
	}
}

.fourDN-section{
	font-family: 'Work Sans', sans-serif;
	padding-bottom: 10px;
	margin-top: 20px;
}

.fourDN-section-title{
	width: inherit;
	font-weight: 300;
	font-size: 1.4em !important;
	border-bottom: 2px solid #168369;
	padding-bottom: 5px;
	margin-bottom: 15px;

}

.fourDN-section-toggle{
	color: #999999;
	text-decoration: none !important;
	&:hover,
	&:focus {
		color: #000000;
	}
}

.fourDN-section-info{
	color: #b3b3b3 !important;
	font-weight: 300;
	font-size: 1.2em;
}


.fourDN-content{
	font-family: 'Yrsa', serif;
	line-height: 130%;
	font-size: 1.4em;
}

.fourDN-content-panel{
	margin-top: 0px !important;
}

.item-toggle-link{
	padding: 10px;
	color: #00cca3; // temporary?
	&:hover,&:focus {
		color: #00cca3;
	}
}

// simply used to make invisible elements
.invis{
	display: none !important;
}

// simply used to make hidden elements
.placeholder{
	visibility: hidden !important;
}

// used in item.js
.item-icon{
	padding-left: 4px;
}


.home-announcements{
 padding: 5px !important;
 margin-top: 30px;
}

.help-entry{
	margin: 50px 0px 50px 0px;
}

.static-page > .help-entry:first-of-type {
	margin-top: 27px;
}

h1, h2, h3, h4, h5, h6, td, th, span {
	font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	margin: 10px 0px 10px 0px;
}

//make all else use ysra
p, input {
	font-family: 'Yrsa', serif;
}

.inline-subheader{
	display: inline;
	color: #999999 !important;
}

.error-page{
	margin-top: 50px;
	text-align: center;
}

.slide-display{
	padding: 20px 0px 20px 0px;
	>img{
		display: block;
		margin: auto;
	}
	>.slide-controls{
		text-align: center;
	}
}

.exptype-box{

	//display: none; /* TEMPORARY - FOR ALIGNMENT */
	padding: 10px 0;

	> div > .btn-group > button {
		width: 240px;
		text-align: left;
	}
	> div > .btn-group > ul {
		width: 240px;
		text-align: left;
		padding: 10px;
	}
}

.expset-panel {
	margin: 0px !important;
	>div>.panel-body{
		padding-right: 0px;
		padding-left: 40px;
	}
}

.expset-button{
	padding: 0px !important;
	text-align: center;
	box-shadow: none !important;
}

/** Primarily for Browse Table / View **/

.expset-result-table-fix {
	&.overflowing:after {
		/*
		content : "";
		height: 100%;
		position: absolute;
		top: 0;
		right: -1px;
		border-right: 1px solid transparent;
		box-shadow: 0px 0 8px #000;
		*/
	}
}

.expset-table-container {
	overflow-x: auto;
	position: relative;
}

.expset-table {
	border: none !important;
	> thead > tr > th {
		border: 1px solid $expset-table-border-color;
	}
	> thead > tr > :first-child,
	> tbody > tr > :first-child {
		border-left: none;
	}
	> thead > tr > :last-child,
	> tbody > tr > :last-child {
		border-right: none;
	}
	> tbody > tr > td {
		border: 1px solid $expset-table-border-color;
		border-left-color : #f4f4f4;
		border-right-color: #f4f4f4;
		border-top: none !important;
		max-width: 160px;

		&.dropdown-button-cell {
			padding : 0 !important;
			width : 30px;
			height: 30px;
			min-width: 26px;
		}

	}
}

.expset-table > tbody.expset-section.open > tr.expset-table-row > td {
	border-bottom-color: rgba(0,0,0,0.025);

	&.dropdown-button-cell {
		border-bottom-color: transparent;
	}
}

table tbody.expset-section.closed:last-child td.dropdown-button-cell {
    border-bottom: 1px solid $expset-table-border-color;
}

.expset-button.icon-container {
	width: 24px;
	height: 24px;
}

tbody.expset-section td.dropdown-button-cell .expset-button.icon-container {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
	background-color: transparent;

    &.btn:focus {
        outline: none;
        background-color: transparent;
    }

    &.btn:hover {
        background-color: $expset-table-border-color;
    }
}

.expset-button.icon-container > i.icon {
	/* Re-enable padding if using a Gizmo or BlackTie Icon
    padding-top: 3px;
	padding-left: 1px;
    */
    display: inline-block;
    vertical-align: middle;
	font-size: 12px;
	line-height: 20px;
}

.expset-hits {
	padding: 0px 10px 0px 10px;
}

.expset-sublist-entry {
	margin-bottom: 2px;
}

.expset-sublist-empty{
	margin-left: 50px;
	margin-bottom: 2px;
	color: #999999;
}


.expset-checkbox-sub{
	margin: 0px -6px -3px 0px !important;
	display: inline-block;
}

.expset-checkbox-cell{
	text-align: center;
}

.expset-file{
	margin-left: 25px;
}

.expset-whole-selector{
	padding: 10px;
}

.expset-file-selector{
	@media (min-width: $screen-sm-min){
		border-right: 1px #ccc solid;
		padding-right: 10px;
		margin-right: 10px;
	}
}

.expset-selector-header{
	> h5{
		margin: 0px !important;
	}

}

.expset-selector-button{
	margin-top: 5px;
}

.browse-title{
    text-align: right;
    margin-bottom: 10px;
	font-weight: 400;
	color: #999999 !important;
}

//extend table class to get ride of bottom margin
.table{
	margin-bottom: 0px;
}

.hidden-col-open{
	padding: 0px !important;
	border-bottom: 1px solid $table-border-color;
}

.hidden-col-closed{
	padding: 0px !important;
	border: 0px !important;
}
.control-cell{
	white-space: nowrap;
}

.expset-addinfo-key{
	font-weight: 500;
	padding-right: 10px;
	width: 100px;
	display: inline-block;
}

.expset-addinfo-val{
	padding-right: 30px;
}

.expset-addinfo{
	padding-bottom: 10px;
	text-align: left;
}

.invis-cell{
	background-color: #fff !important;
	border: 0px !important;
}

.expset-column-sort{
	color: #999999;
	text-decoration: none !important;
	&:hover, &:active, &:focus {
        color: #000000;
    }
}

.expset-column-sort-used{
	color: #000000;
	text-decoration: none !important;
	&:hover, &:active, &:focus {
        color: #000000;
    }
}

.expset-result-table-fix{
	margin-top: -15px;
}

.impersonate-user{
	display:block;
	margin-top: 15px;
}

.impersonate-user-field{
	width: 400px;
	border: 2px solid #999999;
}
