@charset "UTF-8";

#layout {
	height: auto !important;
    margin: 0 auto -$footerHeight;
    min-height: 100%;
}

.homepage-main-box {
	min-height: 400px;
	background: url('/static/img/encode-bg-gray.png') no-repeat center;
}

.project-info {
	h1,h2,h3,h4 {
		@include text-shadow(rgba(255,255,255,1) 1px 1px 0);
	}
    margin-bottom: 10px;
	display: block;
	@include font-size(1.3);
}

.text-panel {
    margin-top: 10px;
}

/* *********************************************************
		FOOTER
********************************************************** */

.page-footer {
	color: rgb(255, 255, 255);
	background-color: #ffffff; // for IE8
	background-color: $footerBackground; // overwrite previous line for CSS3 browsers
	//height: $footerHeight;
	// @include text-shadow(0 1px rgba(0, 0, 0, 0.3));
	//line-height: 0;
	text-align: center;
	overflow: hidden;
	font-family: 'Work Sans', sans-serif;
	a{
		color: #bfbfbf;
		font-weight: bold;
	}
	ul {
	    list-style: none;
	    list-style-position: outside;
	    padding: 0;
	}
}

.footer-links {
    margin: 15px 0;
    text-align: center;
	color: #bfbfbf;
    @media (min-width: $screen-sm-min) {
        text-align: right;

        li:last-child {
            padding-right: 0;
        }
    }

    a {
        display: block;
        margin: 0 0 8px;
        padding: 10px 15px;
    }
    a:hover, a:active {
        text-decoration: none !important;
        color: #000000;
    }
}


.copy-notice {
	margin: 0 0 8px;
	text-align: center;
	display: block;
	padding: 15px 15px;
	color: #bfbfbf;
	@media (min-width: $screen-sm-min) {
		text-align: left;
    }
}


/**********************************************************/
// Flexbox temporary classes; might be able to change or
// remove with Bootstrap 4

.flexrow {
    @extend .row;

    @media screen and (min-width: $screen-sm-min) {
        .flexbox & {
            display: flex;
        }
    }
}

.flexcol-sm-6 {
    @extend .col-sm-6;

    @media screen and (min-width: $screen-sm-min) {
        .flexbox & {
            flex: 1 1 0px;
            width: auto;
        }
    }
}

.flexcol-heading {
    position: relative;
    margin-right: -10px;
    margin-left: -10px;
    padding: 10px;
    background-color: #d8d8d8;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    // For the Experiment Summary header
    &.experiment-heading {
		font-family: 'Work Sans', sans-serif;
        height: 40px;

        h1, h2, h3, h4, h5, h6 {
            line-height: 20px;  // 50px - 20px of vertical padding
        }
    }
}

/* *********************************************************
		CARL'S LOGIN BOX
********************************************************** */
.login-box{
    width: inherit;
	height: inherit;
    border: 2px solid #000000;
    background-color: #ffffff;
    padding: 5px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.sexy-btn{
    background-color: #ffffff;
	color: #b3b3b3;
    border: 2px solid #b3b3b3;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
	font-family: 'Work Sans', sans-serif;
}
.sexy-btn:hover, .sexy-btn:focus {
  color: #000000;
  border: 2px solid #000000;
}

.sexy-btn span{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.sexy-btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sexy-btn:hover span, .sexy-btn:focus span {
  padding-right: 25px;
}

.sexy-btn:hover span:after, .sexy-btn:focus span:after {
  opacity: 1;
  right: 0;
}

.links {
    padding-left: 0px;
}
.links li{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fill-label{
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
.text-box {
    padding: 12px 20px;
    margin: 8px 0 8px;
    box-sizing: border-box;
    width: 70%;
    border: 2px solid #b3b3b3 !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.text-box:hover, .text-box:focus{
	outline: none;
	border: 2px solid #000000 !important;
}

.title{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}
.error{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: red;
}


/* *********************************************************
		CARL'S RANDOM CHANGES
********************************************************** */

.fourDN-header{
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}

.fourDN-banner{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	> h4 {
		font-size: 1.4em;
		color: #999999;
		> div {
			display: inline-block;
		}
	}
}

.fourDN-section{
	font-family: 'Work Sans', sans-serif;
	padding-bottom: 10px;
	margin-top: 20px;
}

.fourDN-section-title{
	width: inherit;
	font-weight: 200;
	font-size: 1.4em !important;
	border-bottom: 2px solid #168369;
}

.fourDN-section-toggle{
	color: #999999;
	text-decoration: none !important;
	&:hover,
	&:focus {
		color: #000000;
	}
}

.fourDN-section-info{
	color: #b3b3b3 !important;
	font-weight: 200;
	font-size: 1.2em;
}


.fourDN-content{
	font-family: 'Yrsa', serif;
	line-height: 130%;
	font-size: 1.4em;
}

.fourDN-content-panel{
	margin-top: 0px !important;
}

.item-toggle-link{
	padding: 10px;
	color: #00cca3; // temporary?
	&:hover,&:focus {
		color: #00cca3;
	}
}

// simply used to make invisible elements
.invis{
	display: none !important;
}

// simply used to make hidden elements
.placeholder{
	visibility: hidden !important;
}

// used in item.js
.item-icon{
	padding-left: 4px;
}


.home-announcements{
 padding: 5px !important;
 margin-top: 30px;
}

.help-entry{
	margin: 50px 0px 50px 0px;
}

//make headers use work sans
h1, h2, h3, h4, h5, h6 {
	font-family: 'Work Sans', sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
}

//make all else use ysra
p, input {
	font-family: 'Yrsa', serif;
}

.inline-subheader{
	display: inline;
	color: #999999 !important;
}

.error-page{
	margin-top: 50px;
	text-align: center;
}

.static-page{
	width:80%;
	margin: auto;
}

.slide-display{
	padding: 20px 0px 20px 0px;
	>img{
		display: block;
		margin: auto;
	}
	>.slide-controls{
		text-align: center;
	}
}

.exptype-box{
	padding: 10px;
	> div > .btn-group > button {
		width: 240px;
		text-align: left;
	}
	> div > .btn-group > ul {
		width: 240px;
		text-align: left;
		padding: 10px;
	}
}

.expset-entry{
	padding: 0px 5px 0px 5px;
}

.expset-panel{
	margin: 0px 5px 0px 5px !important;
}
.expset-button{
	margin: 0px 5px 0px 5px !important;
}

.expset-hits{
	padding: 0px 10px 0px 10px;
}

.expset-sublist-entry{
	margin-bottom: 2px;
}

.expset-sublist-empty{
	margin-left: 50px;
	margin-bottom: 2px;
	color: #999999;
}

.expset-facet-header-group{
	margin-right: 12px;
}
.expset-facet-header{
	display:inline-block;
	font-size: 0.9rem;
	color:#999999;
	margin: 2px 0px 2px 0px;
}

.expset-checkbox{
	display: inline-block;
	margin: 0px 5px -5px 5px !important;
}

.expset-checkbox-sub{
	padding-top: 2px;
}

.expset-file{
	margin-left: 25px;
}

.expset-whole-selector{
	padding: 10px;
}

.expset-file-selector{
	@media (min-width: $screen-sm-min){
		border-right: 1px #ccc solid;
		padding-right: 10px;
		margin-right: 10px;
	}
}

.expset-selector-header{
	> h5{
		margin: 0px !important;
	}

}

.expset-selector-button{
	margin-top: 5px;
}

.browse-title{
    text-align: center;
    margin: 20px 0px 45px 0px;
	color: #999999 !important;
}
