
/** This is used by bootstrap.scss **/


// Override Bootstrap default variables:

$border-radius-base:                        3px;
$border-radius-large:                       4px;
$border-radius-small:                       2px;
$input-border-radius:                       3px;
$navbar-height:                             80px;
$navbar-inverse-link-active-bg:             #ffffff;
$navbar-inverse-link-active-color:          #000000;
$navbar-inverse-toggle-hover-bg:            #ffffff;
$navbar-inverse-toggle-border-color:        #999999;
$navbar-inverse-link-color:                 #999999;
$navbar-default-brand-color:                #999999;
$headings-font-weight:                      bold;
$grid-gutter-width:                         20px;

$link-color: #428bca;


/** Setup some other variables for tables, etc. **/
$expset-table-border-color : #eee;

$primary:       #057eaf;
$secondary:     #6c757d;
$success:       #4C994C;
/** $info:          $cyan !default; **/
/** CGAP: Adjusted to be closer to Bootstrap v3 for compatibility with 4DN styling. **/
$info:          #4F689E;
$warning:       #E59545;
$danger:        #B24342;
$light:         #f8f9fa;
$dark:          #343a40;

$brand-warning: $warning;
$brand-success: $success;
$brand-danger: $danger;
$brand-info: $info;
$brand-primary: $primary;
$brand-primary-dark: #22656d;



$font-family-sans-serif:  "Mada", "Work Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;

/** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`. */
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          0.925rem;

