.btn {
    font-weight: 500;
    /* @include box-shadow(0 1px 3px rgba(0,0,0,.1), inset 0 -2px 3px rgba(0,0,0,.12), inset 0 1px 0 rgba(255,255,255,.3)); */
    //@include box-shadow(0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 4px rgba(0,0,0,0.2),inset 0 1px 4px rgba(255,255,255,0.3));
}

.btn-link {
    font-weight: normal;
    @include box-shadow(none);
}

.btn-svgicon {
    line-height: 0.9;
    margin-right: 0 !important;
    border-radius: 0;

    .svg-icon {
        fill: #fff;
    }

    &:first-child {
        border-top-left-radius: $border-radius-small;
        border-bottom-left-radius: $border-radius-small;
    }

    &:last-child {
        border-top-right-radius: $border-radius-small;
        border-bottom-right-radius: $border-radius-small;
    }
}

/** extending Bootstrap button w/ rounded & ext-padding class **/

.btn-xs.rounded,
.btn-xs.ext-padding {
    padding-left: 7px;
    padding-right: 7px;
}

.btn-xs.rounded {
	border-radius: 11px;
}
